flow.json
[
    {
        "id": "dbbd86af.74c0d8",
        "type": "tab",
        "label": "Base Flow",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4c6874fb.68b9dc",
        "type": "tab",
        "label": "Start command Flow",
        "disabled": false,
        "info": ""
    },
    {
        "id": "276bc02d.e347",
        "type": "tab",
        "label": "Info Flow",
        "disabled": false,
        "info": ""
    },
    {
        "id": "529c4263.aeab0c",
        "type": "MySQLdatabase",
        "name": "",
        "host": "localhost",
        "port": "3306",
        "db": "internship_telegram_bot",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "b513f9.a96b5c08",
        "type": "dialogflowv2-token",
        "name": "Questions"
    },
    {
        "id": "bebef22b.2417d",
        "type": "debug",
        "z": "dbbd86af.74c0d8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 80,
        "wires": []
    },
    {
        "id": "1e1b8c80.015714",
        "type": "inject",
        "z": "dbbd86af.74c0d8",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 80,
        "wires": [
            [
                "3b4b92dd.73262e"
            ]
        ]
    },
    {
        "id": "da0d125b.5e9c9",
        "type": "http request",
        "z": "dbbd86af.74c0d8",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "basic",
        "x": 910,
        "y": 80,
        "wires": [
            [
                "bebef22b.2417d"
            ]
        ]
    },
    {
        "id": "b1d13c89.82a1",
        "type": "http in",
        "z": "dbbd86af.74c0d8",
        "name": "",
        "url": "/bot",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 480,
        "y": 740,
        "wires": [
            [
                "8b708744.7cb6f8",
                "98632046.faae7",
                "ac7f1cdc.11adc"
            ]
        ]
    },
    {
        "id": "8b708744.7cb6f8",
        "type": "debug",
        "z": "dbbd86af.74c0d8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 820,
        "wires": []
    },
    {
        "id": "98632046.faae7",
        "type": "http response",
        "z": "dbbd86af.74c0d8",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 780,
        "y": 880,
        "wires": []
    },
    {
        "id": "ac7f1cdc.11adc",
        "type": "function",
        "z": "dbbd86af.74c0d8",
        "name": "Formatting data",
        "func": "if (msg.payload.callback_query) {\n    msg.message = msg.payload.callback_query.data;\n    \n    msg.chat_id = msg.payload.callback_query.from.id\n    \n    return [msg, null]\n} else {\n    msg.message = msg.payload.message.text;\n    \n    msg.chat_id = msg.payload.message.from.id\n    \n    return [null, msg];\n}\n\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 760,
        "y": 740,
        "wires": [
            [
                "9cad4d0b.fc7ed"
            ],
            [
                "cc8aeb38.8caae8"
            ]
        ]
    },
    {
        "id": "769f8e60.75d1d",
        "type": "http in",
        "z": "dbbd86af.74c0d8",
        "name": "",
        "url": "/callback_query",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 440,
        "y": 800,
        "wires": [
            [
                "ac7f1cdc.11adc",
                "8b708744.7cb6f8",
                "98632046.faae7"
            ]
        ]
    },
    {
        "id": "9cad4d0b.fc7ed",
        "type": "switch",
        "z": "dbbd86af.74c0d8",
        "name": "Callback_Query_Intents",
        "property": "message",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "setCurrentName",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "setName",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "setCity",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "setOccupationAsAnApplicant",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "setOccupationAsOneOfTheParents",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "setOccupationAsATeacher",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "setOccupationAsAStudent",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "setOccupationAsOther",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "mainMenu",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "theMostPopularQuestions",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "aboutISMDepartment",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "aboutNULP",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "usingBot",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 13,
        "x": 1130,
        "y": 500,
        "wires": [
            [
                "96e4744d.d20358",
                "689e8b01.ded904"
            ],
            [
                "b48e521d.7a459",
                "689e8b01.ded904"
            ],
            [
                "67e90bd9.a1e8c4"
            ],
            [
                "2b168ecb.915b02"
            ],
            [
                "84969f23.caa1"
            ],
            [
                "b50620a8.7515"
            ],
            [
                "1356b19c.1cb64e"
            ],
            [
                "ce92fb67.2ac148"
            ],
            [
                "fee03af4.838098"
            ],
            [
                "19842b4d.d40f45"
            ],
            [
                "feec21d1.19a71"
            ],
            [
                "feec21d1.19a71"
            ],
            [
                "feec21d1.19a71"
            ]
        ]
    },
    {
        "id": "2cfd1290.cbdfde",
        "type": "link out",
        "z": "dbbd86af.74c0d8",
        "name": "/start",
        "links": [
            "20e0ef34.86f5"
        ],
        "x": 1615,
        "y": 1020,
        "wires": []
    },
    {
        "id": "96e4744d.d20358",
        "type": "link out",
        "z": "dbbd86af.74c0d8",
        "name": "Set username to default name",
        "links": [
            "49db1ec2.c7de4"
        ],
        "x": 1595,
        "y": 60,
        "wires": []
    },
    {
        "id": "b48e521d.7a459",
        "type": "link out",
        "z": "dbbd86af.74c0d8",
        "name": "Set username",
        "links": [
            "407592c4.adb5ec"
        ],
        "x": 1595,
        "y": 100,
        "wires": []
    },
    {
        "id": "51ec0c6.d7d05f4",
        "type": "link out",
        "z": "dbbd86af.74c0d8",
        "name": "Process message",
        "links": [
            "957981a1.8fdad"
        ],
        "x": 1615,
        "y": 1120,
        "wires": []
    },
    {
        "id": "fee03af4.838098",
        "type": "link out",
        "z": "dbbd86af.74c0d8",
        "name": "Print main menu",
        "links": [
            "f1be3b15.c41ab8"
        ],
        "x": 1635,
        "y": 580,
        "wires": []
    },
    {
        "id": "33134ca5.524c74",
        "type": "function",
        "z": "4c6874fb.68b9dc",
        "name": "Setting up response to '/start' (Greeting part)",
        "func": "msg.payload = {\n    text: \"Привіт! Я бот кафедри ІСМ.👨‍💻З радістю допоможу знайти відповідь на всі ваші питання\",\n    chat_id: msg.chat_id\n}\n\nmsg.text = \"Давайте знайомитись ближче. Чи можу я до вас звертатися \" + msg.first_name + \" \" + msg.last_name + \"?\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1330,
        "y": 740,
        "wires": [
            [
                "5999f0ff.2e8d1"
            ]
        ]
    },
    {
        "id": "5faa08f6.5806b8",
        "type": "function",
        "z": "4c6874fb.68b9dc",
        "name": "Setting up response to '/start' (Appeling part)",
        "func": "msg.payload = {\n    text: msg.text,\n    reply_markup: {\n        inline_keyboard: [[\n            {\n                text: \"Так, звісно\",\n                callback_data: \"setCurrentName\"\n            }, \n            {\n                text: \"Я хочу змінити\",\n                callback_data: \"setName\"\n            }]\n        ]\n    },\n    chat_id: msg.chat_id,\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 2210,
        "y": 860,
        "wires": [
            [
                "c005d39e.f0ac8",
                "a018aad3.00f5b8"
            ]
        ]
    },
    {
        "id": "f859dabc.d52988",
        "type": "mysql",
        "z": "4c6874fb.68b9dc",
        "mydb": "529c4263.aeab0c",
        "name": "",
        "x": 610,
        "y": 860,
        "wires": [
            [
                "d29b3da6.dcb2f",
                "7587a0bf.151e4"
            ]
        ]
    },
    {
        "id": "d29b3da6.dcb2f",
        "type": "debug",
        "z": "4c6874fb.68b9dc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 940,
        "wires": []
    },
    {
        "id": "7587a0bf.151e4",
        "type": "function",
        "z": "4c6874fb.68b9dc",
        "name": "Checking presence of user row",
        "func": "if (msg.payload.length) return [null, msg];\nelse return [msg, null];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 910,
        "y": 860,
        "wires": [
            [
                "7ada2dbc.12ec34",
                "33134ca5.524c74"
            ],
            [
                "4998b80c.ac3b18"
            ]
        ]
    },
    {
        "id": "7ada2dbc.12ec34",
        "type": "debug",
        "z": "4c6874fb.68b9dc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1210,
        "y": 800,
        "wires": []
    },
    {
        "id": "c005d39e.f0ac8",
        "type": "function",
        "z": "4c6874fb.68b9dc",
        "name": "Registering new user row in db",
        "func": "if (msg.register) {\n    msg.topic = \"INSERT INTO Users (user_telegram_id) VALUES (\" + msg.chat_id + \");\";\n\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 2550,
        "y": 740,
        "wires": [
            [
                "6e40bda9.cffce4"
            ]
        ]
    },
    {
        "id": "6e40bda9.cffce4",
        "type": "mysql",
        "z": "4c6874fb.68b9dc",
        "mydb": "529c4263.aeab0c",
        "name": "",
        "x": 2910,
        "y": 740,
        "wires": [
            [
                "dfd8eae3.5bcee8"
            ]
        ]
    },
    {
        "id": "dfd8eae3.5bcee8",
        "type": "debug",
        "z": "4c6874fb.68b9dc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 3110,
        "y": 780,
        "wires": []
    },
    {
        "id": "66ebb3af.808c7c",
        "type": "function",
        "z": "4c6874fb.68b9dc",
        "name": "Getting user row",
        "func": "msg.register = true;\nmsg.first_name = msg.payload.message.chat.first_name ? msg.payload.message.chat.first_name : '';\nmsg.last_name = msg.payload.message.chat.last_name ? msg.payload.message.chat.last_name : '';\n\nif (!msg.first_name && !msg.last_name) return [null, msg];\n\nmsg.topic = \"SELECT * FROM Users WHERE user_telegram_id = \" + msg.chat_id + \";\";\n\nreturn [msg, null];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 340,
        "y": 880,
        "wires": [
            [
                "f859dabc.d52988"
            ],
            [
                "57722993.d08fb8"
            ]
        ]
    },
    {
        "id": "20e0ef34.86f5",
        "type": "link in",
        "z": "4c6874fb.68b9dc",
        "name": "",
        "links": [
            "6f6510b5.ba06a"
        ],
        "x": 175,
        "y": 880,
        "wires": [
            [
                "66ebb3af.808c7c"
            ]
        ]
    },
    {
        "id": "83a6c20c.1b51b",
        "type": "function",
        "z": "4c6874fb.68b9dc",
        "name": "Updating user name",
        "func": "if(msg.payload.callback_query) {\n    msg.topic = \"UPDATE Users SET username = '\" + msg.payload.callback_query.from.first_name + \" \" + msg.payload.callback_query.from.last_name + \"' WHERE user_telegram_id = \" + msg.chat_id + \";\";\n} else {\n    msg.topic = \"UPDATE Users SET username = '\" + msg.payload.message.from.first_name + \" \" + msg.payload.message.from.last_name + \"' WHERE user_telegram_id = \" + msg.chat_id + \";\";\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 360,
        "y": 1360,
        "wires": [
            [
                "573aa76b.c47f38"
            ]
        ]
    },
    {
        "id": "49db1ec2.c7de4",
        "type": "link in",
        "z": "4c6874fb.68b9dc",
        "name": "Set username to default name",
        "links": [
            "96e4744d.d20358"
        ],
        "x": 165,
        "y": 1360,
        "wires": [
            [
                "83a6c20c.1b51b",
                "28cc6c0e.6a0174"
            ]
        ]
    },
    {
        "id": "573aa76b.c47f38",
        "type": "mysql",
        "z": "4c6874fb.68b9dc",
        "mydb": "529c4263.aeab0c",
        "name": "",
        "x": 650,
        "y": 1360,
        "wires": [
            [
                "f553be12.15931",
                "4d10c364.bba70c"
            ]
        ]
    },
    {
        "id": "f553be12.15931",
        "type": "debug",
        "z": "4c6874fb.68b9dc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 1440,
        "wires": []
    },
    {
        "id": "28cc6c0e.6a0174",
        "type": "debug",
        "z": "4c6874fb.68b9dc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 260,
        "y": 1440,
        "wires": []
    },
    {
        "id": "643d38df.03a4c8",
        "type": "function",
        "z": "4c6874fb.68b9dc",
        "name": "Setting up response",
        "func": "msg.payload = {\n    text: \"Вкажіть, будь ласка, своє ім'я👇\",\n    chat_id: msg.chat_id\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1740,
        "y": 1440,
        "wires": [
            [
                "43311317.c47cbc"
            ]
        ]
    },
    {
        "id": "407592c4.adb5ec",
        "type": "link in",
        "z": "4c6874fb.68b9dc",
        "name": "",
        "links": [
            "b48e521d.7a459",
            "57722993.d08fb8"
        ],
        "x": 1525,
        "y": 1440,
        "wires": [
            [
                "643d38df.03a4c8"
            ]
        ]
    },
    {
        "id": "b0af6159.780a4",
        "type": "link in",
        "z": "4c6874fb.68b9dc",
        "name": "Send message to set the city field",
        "links": [
            "4d10c364.bba70c",
            "67e90bd9.a1e8c4",
            "ce2794d2.a63448",
            "fc83002f.8146f"
        ],
        "x": 195,
        "y": 1760,
        "wires": [
            [
                "b0e558db.fd1018"
            ]
        ]
    },
    {
        "id": "b0e558db.fd1018",
        "type": "function",
        "z": "4c6874fb.68b9dc",
        "name": "Setting up response",
        "func": "msg.payload = {\n    text: \"З якого ви міста?\",    \n    chat_id: msg.chat_id\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 460,
        "y": 1760,
        "wires": [
            [
                "6a53e132.9350f"
            ]
        ]
    },
    {
        "id": "6d50e6ea.4d4118",
        "type": "function",
        "z": "4c6874fb.68b9dc",
        "name": "Changing city field",
        "func": "msg.topic = \"UPDATE Users SET city = '/editingField3252346' WHERE user_telegram_id = \" + msg.chat_id + \";\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1330,
        "y": 1760,
        "wires": [
            [
                "3812e880.0bda88"
            ]
        ]
    },
    {
        "id": "3812e880.0bda88",
        "type": "mysql",
        "z": "4c6874fb.68b9dc",
        "mydb": "529c4263.aeab0c",
        "name": "",
        "x": 1650,
        "y": 1760,
        "wires": [
            [
                "d7c7aeb2.450db"
            ]
        ]
    },
    {
        "id": "d7c7aeb2.450db",
        "type": "debug",
        "z": "4c6874fb.68b9dc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1850,
        "y": 1840,
        "wires": []
    },
    {
        "id": "4b1be78d.e0a2d8",
        "type": "link in",
        "z": "4c6874fb.68b9dc",
        "name": "Send message to set the occupation field",
        "links": [
            "8a07dd6e.fb122",
            "eb6c15f.d5924e8"
        ],
        "x": 195,
        "y": 2240,
        "wires": [
            [
                "7626e672.e5e418"
            ]
        ]
    },
    {
        "id": "7626e672.e5e418",
        "type": "function",
        "z": "4c6874fb.68b9dc",
        "name": "Setting up 'choose occupation' message",
        "func": "msg.payload = {\n    text: msg.text,\n    reply_markup: {\n        inline_keyboard: [[\n            {\n                text: \"Абітурієнт\",\n                callback_data: \"setOccupationAsAnApplicant\"            \n            }, \n            {\n                text: \"Один з батьків\",\n                callback_data: \"setOccupationAsOneOfTheParents\"            \n            }],\n            [{\n                text: \"Викладач\",\n                callback_data: \"setOccupationAsATeacher\"            \n            },\n            {\n                text: \"Студент\",\n                callback_data: \"setOccupationAsAStudent\"            \n            }],\n            [{\n                text: \"Інше\",\n                callback_data: \"setOccupationAsOther\"            \n            }]\n        ]\n    },\n    chat_id: msg.chat_id\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 510,
        "y": 2240,
        "wires": [
            [
                "146e7f83.4f883"
            ]
        ]
    },
    {
        "id": "4d10c364.bba70c",
        "type": "link out",
        "z": "4c6874fb.68b9dc",
        "name": "Move on to setting the city field",
        "links": [
            "b0af6159.780a4"
        ],
        "x": 855,
        "y": 1360,
        "wires": []
    },
    {
        "id": "22e30d81.7d4372",
        "type": "function",
        "z": "4c6874fb.68b9dc",
        "name": "Getting username and city fields",
        "func": "if (msg.message != \"/start\") {\n    msg.topic = \"SELECT username, city FROM Users WHERE user_telegram_id = \" + msg.chat_id + \";\";\n\n    return msg;\n}\n\n\nreturn null;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 510,
        "y": 2760,
        "wires": [
            [
                "bdc1a1d4.37764"
            ]
        ]
    },
    {
        "id": "bdc1a1d4.37764",
        "type": "mysql",
        "z": "4c6874fb.68b9dc",
        "mydb": "529c4263.aeab0c",
        "name": "",
        "x": 830,
        "y": 2760,
        "wires": [
            [
                "85b6a435.a2d908",
                "cec5cab9.a1ce08"
            ]
        ]
    },
    {
        "id": "85b6a435.a2d908",
        "type": "function",
        "z": "4c6874fb.68b9dc",
        "name": "Editing username or city or move on to processing message",
        "func": "function setErrorMessage(type) {\n    if (msg.message == \"/editingField3252346\") {\n        msg.payload = {\n            text: \"Вкажіть, будь ласка, коректне \" + type,\n            chat_id: msg.chat_id\n        }\n        \n        return false;\n    }\n    \n    return true;\n}\n\nif (msg.payload[0] && msg.payload[0].username && msg.payload[0].username == \"/editingField3252346\" && setErrorMessage(\"ім'я\")) {\n    msg.topic = \"UPDATE Users SET username = '\" + msg.message + \"' WHERE user_telegram_id = \" + msg.chat_id + \";\";\n    \n    return [msg, null, null, null];\n} else if (msg.payload[0] && msg.payload[0].city && msg.payload[0].city == \"/editingField3252346\" && setErrorMessage(\"місто\")) {\n    msg.topic = \"UPDATE Users SET city = '\" + msg.message + \"' WHERE user_telegram_id = \" + msg.chat_id + \";\";\n    msg.text = \"Супер. Для кращого підбору FAQ 📊 виберіть свій вид зайнятості\";\n    \n    return [null, msg, null, null];\n} else if (msg.message == \"/editingField3252346\") {\n    return [null, null, msg, null];\n} else {\n    msg.payload = msg.message;\n}\n\nreturn [null, null, null, msg];",
        "outputs": 4,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1240,
        "y": 2760,
        "wires": [
            [
                "17cb6e60.6123d2",
                "25f85bfa.c72ef4"
            ],
            [
                "5d47b509.1bbcfc"
            ],
            [
                "59a40707.d376b8"
            ],
            [
                "342603f5.41a37c"
            ]
        ]
    },
    {
        "id": "17cb6e60.6123d2",
        "type": "mysql",
        "z": "4c6874fb.68b9dc",
        "mydb": "529c4263.aeab0c",
        "name": "",
        "x": 1670,
        "y": 2540,
        "wires": [
            [
                "fc83002f.8146f"
            ]
        ]
    },
    {
        "id": "cec5cab9.a1ce08",
        "type": "debug",
        "z": "4c6874fb.68b9dc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 990,
        "y": 2840,
        "wires": []
    },
    {
        "id": "25f85bfa.c72ef4",
        "type": "debug",
        "z": "4c6874fb.68b9dc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1610,
        "y": 2600,
        "wires": []
    },
    {
        "id": "fc83002f.8146f",
        "type": "link out",
        "z": "4c6874fb.68b9dc",
        "name": "Move on to setting the city field",
        "links": [
            "b0af6159.780a4"
        ],
        "x": 1875,
        "y": 2540,
        "wires": []
    },
    {
        "id": "5d47b509.1bbcfc",
        "type": "mysql",
        "z": "4c6874fb.68b9dc",
        "mydb": "529c4263.aeab0c",
        "name": "",
        "x": 1670,
        "y": 2700,
        "wires": [
            [
                "eb6c15f.d5924e8"
            ]
        ]
    },
    {
        "id": "eb6c15f.d5924e8",
        "type": "link out",
        "z": "4c6874fb.68b9dc",
        "name": "Move on to choosing occupation",
        "links": [
            "4b1be78d.e0a2d8"
        ],
        "x": 1875,
        "y": 2700,
        "wires": []
    },
    {
        "id": "957981a1.8fdad",
        "type": "link in",
        "z": "4c6874fb.68b9dc",
        "name": "Edit username or city or process message",
        "links": [
            "51ec0c6.d7d05f4"
        ],
        "x": 215,
        "y": 2760,
        "wires": [
            [
                "22e30d81.7d4372"
            ]
        ]
    },
    {
        "id": "f1be3b15.c41ab8",
        "type": "link in",
        "z": "276bc02d.e347",
        "name": "Print main menu",
        "links": [
            "9d38cfeb.72544",
            "cfe6162e.b07178",
            "fee03af4.838098"
        ],
        "x": 225,
        "y": 200,
        "wires": [
            [
                "1f8a7993.a04976"
            ]
        ]
    },
    {
        "id": "1f8a7993.a04976",
        "type": "function",
        "z": "276bc02d.e347",
        "name": "Setting up message with main menu",
        "func": "msg.payload = {\n    text: \"✅ Ви в головному меню. Виберіть необхідний пункт\",\n    reply_markup: {\n        inline_keyboard: [[\n            {\n                text: \"Найпопулярніші питання 🔥\",\n                callback_data: \"theMostPopularQuestions\"            \n            }], \n            [{\n                text: \"Про кафедру ICM 😎\",\n                callback_data: \"aboutISMDepartment\"            \n            },\n            {\n                text: \"Про НУЛП 🚀\",\n                callback_data: \"aboutNULP\"            \n            }],\n            [{\n                text: \"Як користуватися ботом 📁\",\n                callback_data: \"usingBot\"            \n            }]\n        ]\n    },\n    chat_id: msg.chat_id\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 470,
        "y": 200,
        "wires": [
            [
                "3273b3c6.f9879c"
            ]
        ]
    },
    {
        "id": "40e61f8e.273bb",
        "type": "debug",
        "z": "276bc02d.e347",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1190,
        "y": 260,
        "wires": []
    },
    {
        "id": "2b168ecb.915b02",
        "type": "link out",
        "z": "dbbd86af.74c0d8",
        "name": "Set occupation as an applicant",
        "links": [
            "3272d461.c8fe5c"
        ],
        "x": 1685,
        "y": 320,
        "wires": []
    },
    {
        "id": "84969f23.caa1",
        "type": "link out",
        "z": "dbbd86af.74c0d8",
        "name": "Set occupation as one of the parents",
        "links": [
            "84f1ccf3.e8c91"
        ],
        "x": 1685,
        "y": 360,
        "wires": []
    },
    {
        "id": "98fdf016.8692a",
        "type": "function",
        "z": "4c6874fb.68b9dc",
        "name": "Set occupation as an applicant",
        "func": "msg.topic = \"UPDATE Users SET occupation = 'Applicant' WHERE user_telegram_id = \" + msg.chat_id + \";\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1970,
        "y": 2080,
        "wires": [
            [
                "4754b1d0.9aef7"
            ]
        ]
    },
    {
        "id": "d3ef359d.63c3c8",
        "type": "function",
        "z": "4c6874fb.68b9dc",
        "name": "Set occupation as one of the parents",
        "func": "msg.topic = \"UPDATE Users SET occupation = 'One of the parents' WHERE user_telegram_id = \" + msg.chat_id + \";\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1990,
        "y": 2140,
        "wires": [
            [
                "4754b1d0.9aef7"
            ]
        ]
    },
    {
        "id": "3b455ae1.743046",
        "type": "function",
        "z": "4c6874fb.68b9dc",
        "name": "Set occupation as a teacher",
        "func": "msg.topic = \"UPDATE Users SET occupation = 'Teacher' WHERE user_telegram_id = \" + msg.chat_id + \";\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1960,
        "y": 2300,
        "wires": [
            [
                "4754b1d0.9aef7"
            ]
        ]
    },
    {
        "id": "b51b9abb.ade798",
        "type": "function",
        "z": "4c6874fb.68b9dc",
        "name": "Set occupation as a student",
        "func": "msg.topic = \"UPDATE Users SET occupation = 'Student' WHERE user_telegram_id = \" + msg.chat_id + \";\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1960,
        "y": 2360,
        "wires": [
            [
                "4754b1d0.9aef7"
            ]
        ]
    },
    {
        "id": "15be5938.abfe77",
        "type": "function",
        "z": "4c6874fb.68b9dc",
        "name": "Set occupation as other",
        "func": "msg.topic = \"UPDATE Users SET occupation = 'Other' WHERE user_telegram_id = \" + msg.chat_id + \";\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1950,
        "y": 2420,
        "wires": [
            [
                "4754b1d0.9aef7"
            ]
        ]
    },
    {
        "id": "4754b1d0.9aef7",
        "type": "mysql",
        "z": "4c6874fb.68b9dc",
        "mydb": "529c4263.aeab0c",
        "name": "",
        "x": 2420,
        "y": 2180,
        "wires": [
            [
                "2feb8cfa.d2af34",
                "9d38cfeb.72544"
            ]
        ]
    },
    {
        "id": "2feb8cfa.d2af34",
        "type": "debug",
        "z": "4c6874fb.68b9dc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2690,
        "y": 2240,
        "wires": []
    },
    {
        "id": "9d38cfeb.72544",
        "type": "link out",
        "z": "4c6874fb.68b9dc",
        "name": "Move on to printing main menu",
        "links": [
            "f1be3b15.c41ab8"
        ],
        "x": 2745,
        "y": 2180,
        "wires": []
    },
    {
        "id": "3272d461.c8fe5c",
        "type": "link in",
        "z": "4c6874fb.68b9dc",
        "name": "Set occupation as an applicant",
        "links": [
            "2b168ecb.915b02"
        ],
        "x": 1515,
        "y": 2120,
        "wires": [
            [
                "98fdf016.8692a",
                "9b1ff444.8cb6f8"
            ]
        ]
    },
    {
        "id": "84f1ccf3.e8c91",
        "type": "link in",
        "z": "4c6874fb.68b9dc",
        "name": "Set occupation as one of the parents",
        "links": [
            "84969f23.caa1"
        ],
        "x": 1515,
        "y": 2180,
        "wires": [
            [
                "d3ef359d.63c3c8",
                "9b1ff444.8cb6f8"
            ]
        ]
    },
    {
        "id": "7ed591d4.8c433",
        "type": "link in",
        "z": "4c6874fb.68b9dc",
        "name": "Set occupation as a teacher",
        "links": [
            "b50620a8.7515"
        ],
        "x": 1515,
        "y": 2240,
        "wires": [
            [
                "3b455ae1.743046",
                "9b1ff444.8cb6f8"
            ]
        ]
    },
    {
        "id": "6ef222d3.893f0c",
        "type": "link in",
        "z": "4c6874fb.68b9dc",
        "name": "Set occupation as a student",
        "links": [
            "1356b19c.1cb64e"
        ],
        "x": 1515,
        "y": 2300,
        "wires": [
            [
                "b51b9abb.ade798",
                "9b1ff444.8cb6f8"
            ]
        ]
    },
    {
        "id": "b50620a8.7515",
        "type": "link out",
        "z": "dbbd86af.74c0d8",
        "name": "Set occupation as a teacher",
        "links": [
            "7ed591d4.8c433"
        ],
        "x": 1685,
        "y": 400,
        "wires": []
    },
    {
        "id": "1356b19c.1cb64e",
        "type": "link out",
        "z": "dbbd86af.74c0d8",
        "name": "Set occupation as a student",
        "links": [
            "6ef222d3.893f0c"
        ],
        "x": 1685,
        "y": 440,
        "wires": []
    },
    {
        "id": "ce92fb67.2ac148",
        "type": "link out",
        "z": "dbbd86af.74c0d8",
        "name": "Set occupation as other",
        "links": [
            "bebaf9fd.57b3d8"
        ],
        "x": 1685,
        "y": 480,
        "wires": []
    },
    {
        "id": "bebaf9fd.57b3d8",
        "type": "link in",
        "z": "4c6874fb.68b9dc",
        "name": "Set occupation as other",
        "links": [
            "ce92fb67.2ac148"
        ],
        "x": 1515,
        "y": 2360,
        "wires": [
            [
                "15be5938.abfe77",
                "9b1ff444.8cb6f8"
            ]
        ]
    },
    {
        "id": "3e335eba.efe392",
        "type": "comment",
        "z": "dbbd86af.74c0d8",
        "name": "Setting occupation",
        "info": "# Setting occupation",
        "x": 1770,
        "y": 280,
        "wires": []
    },
    {
        "id": "3671d50b.6c473a",
        "type": "comment",
        "z": "dbbd86af.74c0d8",
        "name": "Main menu",
        "info": "",
        "x": 1690,
        "y": 540,
        "wires": []
    },
    {
        "id": "d838b14c.4ad9b",
        "type": "comment",
        "z": "dbbd86af.74c0d8",
        "name": "Other messages",
        "info": "",
        "x": 1680,
        "y": 1080,
        "wires": []
    },
    {
        "id": "2debe527.475a1a",
        "type": "comment",
        "z": "dbbd86af.74c0d8",
        "name": "Editing name",
        "info": "",
        "x": 1650,
        "y": 20,
        "wires": []
    },
    {
        "id": "dc891e8a.73ae6",
        "type": "comment",
        "z": "4c6874fb.68b9dc",
        "name": "Setting occupation",
        "info": "",
        "x": 1590,
        "y": 2080,
        "wires": []
    },
    {
        "id": "8a6485ef.e1fd08",
        "type": "comment",
        "z": "4c6874fb.68b9dc",
        "name": "Start",
        "info": "",
        "x": 210,
        "y": 840,
        "wires": []
    },
    {
        "id": "37feab15.469a44",
        "type": "comment",
        "z": "4c6874fb.68b9dc",
        "name": "Setting username to default name",
        "info": "",
        "x": 270,
        "y": 1320,
        "wires": []
    },
    {
        "id": "65b589a2.4e3958",
        "type": "comment",
        "z": "4c6874fb.68b9dc",
        "name": "Processing other messages. Edit username or city",
        "info": "",
        "x": 390,
        "y": 2720,
        "wires": []
    },
    {
        "id": "56b28ca1.adcfe4",
        "type": "comment",
        "z": "4c6874fb.68b9dc",
        "name": "Request message to enter a new username",
        "info": "",
        "x": 1680,
        "y": 1400,
        "wires": []
    },
    {
        "id": "c8d9b4ad.8ef0e8",
        "type": "comment",
        "z": "4c6874fb.68b9dc",
        "name": "Request message to enter a city",
        "info": "",
        "x": 310,
        "y": 1720,
        "wires": []
    },
    {
        "id": "8b77eb06.056ff8",
        "type": "comment",
        "z": "4c6874fb.68b9dc",
        "name": "Request message to choose an occupation",
        "info": "",
        "x": 340,
        "y": 2200,
        "wires": []
    },
    {
        "id": "eb6872ba.76213",
        "type": "comment",
        "z": "276bc02d.e347",
        "name": "Message with main menu",
        "info": "",
        "x": 310,
        "y": 160,
        "wires": []
    },
    {
        "id": "29b87cf7.8de694",
        "type": "debug",
        "z": "4c6874fb.68b9dc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 3130,
        "y": 1500,
        "wires": []
    },
    {
        "id": "66c7218a.a9dc1",
        "type": "mysql",
        "z": "4c6874fb.68b9dc",
        "mydb": "529c4263.aeab0c",
        "name": "",
        "x": 2920,
        "y": 1440,
        "wires": [
            [
                "29b87cf7.8de694"
            ]
        ]
    },
    {
        "id": "32bc9488.39455c",
        "type": "function",
        "z": "4c6874fb.68b9dc",
        "name": "Changing username field",
        "func": "msg.topic = \"UPDATE Users SET username = '/editingField3252346' WHERE user_telegram_id = \" + msg.chat_id + \";\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 2580,
        "y": 1440,
        "wires": [
            [
                "66c7218a.a9dc1"
            ]
        ]
    },
    {
        "id": "72b075f6.de4fcc",
        "type": "debug",
        "z": "4c6874fb.68b9dc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2030,
        "y": 2880,
        "wires": []
    },
    {
        "id": "67e90bd9.a1e8c4",
        "type": "link out",
        "z": "dbbd86af.74c0d8",
        "name": "Set city",
        "links": [
            "b0af6159.780a4"
        ],
        "x": 1645,
        "y": 240,
        "wires": []
    },
    {
        "id": "15de1cc3.526003",
        "type": "comment",
        "z": "dbbd86af.74c0d8",
        "name": "Setting city",
        "info": "",
        "x": 1700,
        "y": 200,
        "wires": []
    },
    {
        "id": "fdda8f0f.cc87c",
        "type": "comment",
        "z": "dbbd86af.74c0d8",
        "name": "Start",
        "info": "",
        "x": 1650,
        "y": 980,
        "wires": []
    },
    {
        "id": "cc8aeb38.8caae8",
        "type": "switch",
        "z": "dbbd86af.74c0d8",
        "name": "Start or message",
        "property": "message",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "/start",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "message",
                "vt": "msg"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1130,
        "y": 1060,
        "wires": [
            [
                "2cfd1290.cbdfde"
            ],
            [
                "51ec0c6.d7d05f4"
            ]
        ]
    },
    {
        "id": "4998b80c.ac3b18",
        "type": "function",
        "z": "4c6874fb.68b9dc",
        "name": "Is registration completed",
        "func": "msg.register = false;\n\nif (!msg.payload[0].username || msg.payload[0].username == \"/editingField3252346\") {\n    msg.text = \"Чи можу я до вас звертатися \" + msg.first_name + \" \" + msg.last_name + \"?\";\n    \n    return [msg, null, null];\n} else if (!msg.payload[0].city || msg.payload[0].city == \"/editingField3252346\") {\n    \n    return [null, msg, null];\n} else if (!msg.payload[0].occupation) {\n    msg.text = \"Для кращого підбору FAQ 📊 виберіть свій вид зайнятості\";\n    \n    return [null, null, msg];\n}\n\nreturn [null, null, null, msg];",
        "outputs": 4,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1550,
        "y": 980,
        "wires": [
            [
                "5faa08f6.5806b8"
            ],
            [
                "ce2794d2.a63448"
            ],
            [
                "8a07dd6e.fb122"
            ],
            [
                "cfe6162e.b07178"
            ]
        ]
    },
    {
        "id": "ce2794d2.a63448",
        "type": "link out",
        "z": "4c6874fb.68b9dc",
        "name": "Move on to setting the username field again",
        "links": [
            "b0af6159.780a4"
        ],
        "x": 1775,
        "y": 980,
        "wires": []
    },
    {
        "id": "8a07dd6e.fb122",
        "type": "link out",
        "z": "4c6874fb.68b9dc",
        "name": "Move on to setting the occupation field again",
        "links": [
            "4b1be78d.e0a2d8"
        ],
        "x": 1775,
        "y": 1020,
        "wires": []
    },
    {
        "id": "3b4b92dd.73262e",
        "type": "change",
        "z": "dbbd86af.74c0d8",
        "name": "Setting up bot global parameters",
        "rules": [
            {
                "t": "set",
                "p": "ngrokUrl",
                "pt": "global",
                "to": "https://4b834e9ccf62.ngrok.io",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "token",
                "pt": "global",
                "to": "1627203627:AAFFocOTNWGlOcC2ZFncWr6qRF01t8U63Uw",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 80,
        "wires": [
            [
                "dd86135f.e7b04"
            ]
        ]
    },
    {
        "id": "dd86135f.e7b04",
        "type": "change",
        "z": "dbbd86af.74c0d8",
        "name": "Setting up bot url",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "\"https://api.telegram.org/bot\" & $globalContext('token') & \"/setWebhook?url=\" & $globalContext('ngrokUrl') & \"/bot\"",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 80,
        "wires": [
            [
                "da0d125b.5e9c9"
            ]
        ]
    },
    {
        "id": "f3d823dd.652a5",
        "type": "comment",
        "z": "dbbd86af.74c0d8",
        "name": "Setting up webhook",
        "info": "",
        "x": 110,
        "y": 40,
        "wires": []
    },
    {
        "id": "5999f0ff.2e8d1",
        "type": "change",
        "z": "4c6874fb.68b9dc",
        "name": "Setting up bot url",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "\"https://api.telegram.org/bot\" & $globalContext('token') & \"/sendMessage\"",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1690,
        "y": 740,
        "wires": [
            [
                "8e7ab7c0.360748"
            ]
        ]
    },
    {
        "id": "8e7ab7c0.360748",
        "type": "http request",
        "z": "4c6874fb.68b9dc",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "basic",
        "x": 1890,
        "y": 740,
        "wires": [
            [
                "5faa08f6.5806b8"
            ]
        ]
    },
    {
        "id": "a018aad3.00f5b8",
        "type": "change",
        "z": "4c6874fb.68b9dc",
        "name": "Setting up bot url",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "\"https://api.telegram.org/bot\" & $globalContext('token') & \"/sendMessage\"",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2570,
        "y": 860,
        "wires": [
            [
                "68aa0b69.50b3b4"
            ]
        ]
    },
    {
        "id": "68aa0b69.50b3b4",
        "type": "http request",
        "z": "4c6874fb.68b9dc",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "basic",
        "x": 2770,
        "y": 860,
        "wires": [
            [
                "5d7b9575.20e36c"
            ]
        ]
    },
    {
        "id": "43311317.c47cbc",
        "type": "change",
        "z": "4c6874fb.68b9dc",
        "name": "Setting up bot url",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "\"https://api.telegram.org/bot\" & $globalContext('token') & \"/sendMessage\"",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2070,
        "y": 1440,
        "wires": [
            [
                "92637f74.5e822"
            ]
        ]
    },
    {
        "id": "92637f74.5e822",
        "type": "http request",
        "z": "4c6874fb.68b9dc",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "basic",
        "x": 2290,
        "y": 1440,
        "wires": [
            [
                "32bc9488.39455c"
            ]
        ]
    },
    {
        "id": "6a53e132.9350f",
        "type": "change",
        "z": "4c6874fb.68b9dc",
        "name": "Setting up bot url",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "\"https://api.telegram.org/bot\" & $globalContext('token') & \"/sendMessage\"",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 830,
        "y": 1760,
        "wires": [
            [
                "bf0c0f6b.64b0c"
            ]
        ]
    },
    {
        "id": "bf0c0f6b.64b0c",
        "type": "http request",
        "z": "4c6874fb.68b9dc",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "basic",
        "x": 1050,
        "y": 1760,
        "wires": [
            [
                "6d50e6ea.4d4118"
            ]
        ]
    },
    {
        "id": "146e7f83.4f883",
        "type": "change",
        "z": "4c6874fb.68b9dc",
        "name": "Setting up bot url",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "\"https://api.telegram.org/bot\" & $globalContext('token') & \"/sendMessage\"",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 2240,
        "wires": [
            [
                "ce5c98ca.af1e88"
            ]
        ]
    },
    {
        "id": "ce5c98ca.af1e88",
        "type": "http request",
        "z": "4c6874fb.68b9dc",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "basic",
        "x": 1060,
        "y": 2240,
        "wires": [
            []
        ]
    },
    {
        "id": "59a40707.d376b8",
        "type": "change",
        "z": "4c6874fb.68b9dc",
        "name": "Setting up bot url",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "\"https://api.telegram.org/bot\" & $globalContext('token') & \"/sendMessage\"",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1650,
        "y": 2820,
        "wires": [
            [
                "67272de2.58cc54"
            ]
        ]
    },
    {
        "id": "67272de2.58cc54",
        "type": "http request",
        "z": "4c6874fb.68b9dc",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "basic",
        "x": 1870,
        "y": 2820,
        "wires": [
            [
                "72b075f6.de4fcc"
            ]
        ]
    },
    {
        "id": "3273b3c6.f9879c",
        "type": "change",
        "z": "276bc02d.e347",
        "name": "Setting up bot url",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "\"https://api.telegram.org/bot\" & $globalContext('token') & \"/sendMessage\"",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 200,
        "wires": [
            [
                "13477f2f.d7c451"
            ]
        ]
    },
    {
        "id": "13477f2f.d7c451",
        "type": "http request",
        "z": "276bc02d.e347",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "basic",
        "x": 1030,
        "y": 200,
        "wires": [
            [
                "40e61f8e.273bb"
            ]
        ]
    },
    {
        "id": "8302d8ef.4e6b08",
        "type": "debug",
        "z": "4c6874fb.68b9dc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1810,
        "y": 3060,
        "wires": []
    },
    {
        "id": "342603f5.41a37c",
        "type": "dialogflowv2",
        "z": "4c6874fb.68b9dc",
        "dialogflow": "b513f9.a96b5c08",
        "language": "uk",
        "debug": false,
        "queryParamsOK": false,
        "x": 1640,
        "y": 2980,
        "wires": [
            [
                "8302d8ef.4e6b08",
                "cd034dd2.70a8b"
            ]
        ]
    },
    {
        "id": "d6a9af0.a448d5",
        "type": "comment",
        "z": "4c6874fb.68b9dc",
        "name": "DialogFlow Processing Message",
        "info": "",
        "x": 1690,
        "y": 2940,
        "wires": []
    },
    {
        "id": "ee8f4b17.5fe298",
        "type": "change",
        "z": "4c6874fb.68b9dc",
        "name": "Setting up bot url",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "\"https://api.telegram.org/bot\" & $globalContext('token') & \"/sendMessage\"",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2210,
        "y": 2980,
        "wires": [
            [
                "44e66b70.a485c4"
            ]
        ]
    },
    {
        "id": "44e66b70.a485c4",
        "type": "http request",
        "z": "4c6874fb.68b9dc",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "basic",
        "x": 2430,
        "y": 2980,
        "wires": [
            [
                "d9bf6889.83fa58"
            ]
        ]
    },
    {
        "id": "d9bf6889.83fa58",
        "type": "debug",
        "z": "4c6874fb.68b9dc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2590,
        "y": 3060,
        "wires": []
    },
    {
        "id": "cd034dd2.70a8b",
        "type": "function",
        "z": "4c6874fb.68b9dc",
        "name": "Setting dialogflow response",
        "func": "msg.payload = {\n    text: msg._dialogflow.fulfillmentText,\n    chat_id: msg.chat_id\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1900,
        "y": 2980,
        "wires": [
            [
                "ee8f4b17.5fe298"
            ]
        ]
    },
    {
        "id": "5d7b9575.20e36c",
        "type": "debug",
        "z": "4c6874fb.68b9dc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2960,
        "y": 920,
        "wires": []
    },
    {
        "id": "689e8b01.ded904",
        "type": "link out",
        "z": "dbbd86af.74c0d8",
        "name": "Remove inline keyboard",
        "links": [
            "2020774d.405768"
        ],
        "x": 1655,
        "y": 140,
        "wires": []
    },
    {
        "id": "4cc5ee02.929d7",
        "type": "function",
        "z": "4c6874fb.68b9dc",
        "name": "Removing inline keyboard",
        "func": "//remove inline keyboard\nmsg.payload = {\n    chat_id: msg.chat_id,\n    message_id: msg.req.body.callback_query.message.message_id,\n    reply_markup: {\n        inline_keyboard: []\n    }\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 3890,
        "y": 880,
        "wires": [
            [
                "3f95b97.2f1e046"
            ]
        ]
    },
    {
        "id": "3f95b97.2f1e046",
        "type": "change",
        "z": "4c6874fb.68b9dc",
        "name": "Setting up bot url",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "\"https://api.telegram.org/bot\" & $globalContext('token') & \"/editMessageReplyMarkup\"",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 4210,
        "y": 880,
        "wires": [
            [
                "dbf6c129.b8af8"
            ]
        ]
    },
    {
        "id": "dbf6c129.b8af8",
        "type": "http request",
        "z": "4c6874fb.68b9dc",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "basic",
        "x": 4430,
        "y": 880,
        "wires": [
            [
                "100bd590.f83a5a"
            ]
        ]
    },
    {
        "id": "100bd590.f83a5a",
        "type": "debug",
        "z": "4c6874fb.68b9dc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 4590,
        "y": 960,
        "wires": []
    },
    {
        "id": "2020774d.405768",
        "type": "link in",
        "z": "4c6874fb.68b9dc",
        "name": "Remove inline keyboard",
        "links": [
            "689e8b01.ded904",
            "9b1ff444.8cb6f8"
        ],
        "x": 3575,
        "y": 880,
        "wires": [
            [
                "4cc5ee02.929d7"
            ]
        ]
    },
    {
        "id": "700c6996.48bca8",
        "type": "comment",
        "z": "dbbd86af.74c0d8",
        "name": "Removing inline keyboard",
        "info": "",
        "x": 1750,
        "y": 100,
        "wires": []
    },
    {
        "id": "57722993.d08fb8",
        "type": "link out",
        "z": "4c6874fb.68b9dc",
        "name": "Set username",
        "links": [
            "407592c4.adb5ec"
        ],
        "x": 515,
        "y": 920,
        "wires": []
    },
    {
        "id": "9b1ff444.8cb6f8",
        "type": "link out",
        "z": "4c6874fb.68b9dc",
        "name": "Remove inline keyboard",
        "links": [
            "2020774d.405768"
        ],
        "x": 1735,
        "y": 2220,
        "wires": []
    },
    {
        "id": "84fd0e13.6531c",
        "type": "comment",
        "z": "4c6874fb.68b9dc",
        "name": "Removing inline keyboard",
        "info": "",
        "x": 1830,
        "y": 2180,
        "wires": []
    },
    {
        "id": "5142f46.759410c",
        "type": "comment",
        "z": "4c6874fb.68b9dc",
        "name": "Removing inline keyboard",
        "info": "",
        "x": 3670,
        "y": 840,
        "wires": []
    },
    {
        "id": "e62923c4.ab898",
        "type": "link in",
        "z": "276bc02d.e347",
        "name": "Send the most popular questions",
        "links": [
            "19842b4d.d40f45"
        ],
        "x": 215,
        "y": 440,
        "wires": [
            [
                "fd706c59.243ee"
            ]
        ]
    },
    {
        "id": "fd706c59.243ee",
        "type": "function",
        "z": "276bc02d.e347",
        "name": "Setting up message with the most popular questions",
        "func": "msg.payload = {\n    text: \"✅ Ви в головному меню. Виберіть необхідний пункт\",\n    chat_id: msg.chat_id\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 520,
        "y": 440,
        "wires": [
            [
                "abcac9f1.1aa2a8"
            ]
        ]
    },
    {
        "id": "262713da.17ad3c",
        "type": "debug",
        "z": "276bc02d.e347",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1270,
        "y": 500,
        "wires": []
    },
    {
        "id": "758ec55e.3e202c",
        "type": "comment",
        "z": "276bc02d.e347",
        "name": "Message with the most popular questions",
        "info": "",
        "x": 360,
        "y": 400,
        "wires": []
    },
    {
        "id": "abcac9f1.1aa2a8",
        "type": "change",
        "z": "276bc02d.e347",
        "name": "Setting up bot url",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "\"https://api.telegram.org/bot\" & $globalContext('token') & \"/sendMessage\"",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 440,
        "wires": [
            [
                "c47ab234.b9287"
            ]
        ]
    },
    {
        "id": "c47ab234.b9287",
        "type": "http request",
        "z": "276bc02d.e347",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "basic",
        "x": 1110,
        "y": 440,
        "wires": [
            [
                "262713da.17ad3c"
            ]
        ]
    },
    {
        "id": "19842b4d.d40f45",
        "type": "link out",
        "z": "dbbd86af.74c0d8",
        "name": "Send the most popular questions",
        "links": [
            "e62923c4.ab898"
        ],
        "x": 1615,
        "y": 660,
        "wires": []
    },
    {
        "id": "1b324f6e.df2211",
        "type": "comment",
        "z": "dbbd86af.74c0d8",
        "name": "Sending the most popular questions",
        "info": "",
        "x": 1740,
        "y": 620,
        "wires": []
    },
    {
        "id": "feec21d1.19a71",
        "type": "link out",
        "z": "dbbd86af.74c0d8",
        "name": "Send message about ISM department",
        "links": [
            "b25d1f4e.85ebd"
        ],
        "x": 1615,
        "y": 760,
        "wires": []
    },
    {
        "id": "b25d1f4e.85ebd",
        "type": "link in",
        "z": "276bc02d.e347",
        "name": "Send message info",
        "links": [
            "feec21d1.19a71"
        ],
        "x": 215,
        "y": 660,
        "wires": [
            [
                "1776db31.ba8455"
            ]
        ]
    },
    {
        "id": "1efe9538.956a1b",
        "type": "function",
        "z": "276bc02d.e347",
        "name": "Setting up message info",
        "func": "msg.payload = {\n    text: msg.payload[0].content,\n    chat_id: msg.chat_id\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1010,
        "y": 660,
        "wires": [
            [
                "d0af8713.dfe948"
            ]
        ]
    },
    {
        "id": "2f2d55d.9f200aa",
        "type": "debug",
        "z": "276bc02d.e347",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1630,
        "y": 720,
        "wires": []
    },
    {
        "id": "5b85328f.b7748c",
        "type": "comment",
        "z": "276bc02d.e347",
        "name": "Message Info",
        "info": "",
        "x": 270,
        "y": 620,
        "wires": []
    },
    {
        "id": "d0af8713.dfe948",
        "type": "change",
        "z": "276bc02d.e347",
        "name": "Setting up bot url",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "\"https://api.telegram.org/bot\" & $globalContext('token') & \"/sendMessage\"",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1250,
        "y": 660,
        "wires": [
            [
                "1d173f2d.5e86e1"
            ]
        ]
    },
    {
        "id": "1d173f2d.5e86e1",
        "type": "http request",
        "z": "276bc02d.e347",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "basic",
        "x": 1470,
        "y": 660,
        "wires": [
            [
                "2f2d55d.9f200aa"
            ]
        ]
    },
    {
        "id": "9715f6c0.534af8",
        "type": "comment",
        "z": "dbbd86af.74c0d8",
        "name": "Sending messages about ISM department, NULP, how to use the bot ",
        "info": "",
        "x": 1840,
        "y": 720,
        "wires": []
    },
    {
        "id": "1776db31.ba8455",
        "type": "function",
        "z": "276bc02d.e347",
        "name": "Getting info from InfoPages",
        "func": "msg.topic = \"SELECT content FROM InfoPages WHERE title = '\" + msg.payload.callback_query.data + \"';\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 440,
        "y": 660,
        "wires": [
            [
                "6d12fdae.161534"
            ]
        ]
    },
    {
        "id": "6d12fdae.161534",
        "type": "mysql",
        "z": "276bc02d.e347",
        "mydb": "529c4263.aeab0c",
        "name": "",
        "x": 690,
        "y": 660,
        "wires": [
            [
                "1efe9538.956a1b"
            ]
        ]
    },
    {
        "id": "cfe6162e.b07178",
        "type": "link out",
        "z": "4c6874fb.68b9dc",
        "name": "Send main menu message",
        "links": [
            "f1be3b15.c41ab8"
        ],
        "x": 1775,
        "y": 1120,
        "wires": []
    },
    {
        "id": "785ef259.f5089c",
        "type": "comment",
        "z": "4c6874fb.68b9dc",
        "name": "Send main menu message",
        "info": "",
        "x": 1870,
        "y": 1080,
        "wires": []
    }
]