flow.json
[
    {
        "id": "dbbd86af.74c0d8",
        "type": "tab",
        "label": "Main Flow",
        "disabled": false,
        "info": ""
    },
    {
        "id": "96f6108e.64a37",
        "type": "tab",
        "label": "Start command",
        "disabled": false,
        "info": ""
    },
    {
        "id": "696b129b.360e0c",
        "type": "tab",
        "label": "Is registration completed",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4c6874fb.68b9dc",
        "type": "tab",
        "label": "Editing username",
        "disabled": false,
        "info": ""
    },
    {
        "id": "3b5b98a.1c38768",
        "type": "tab",
        "label": "Editing location",
        "disabled": false,
        "info": ""
    },
    {
        "id": "68a30d94.469f94",
        "type": "tab",
        "label": "Editing occupation",
        "disabled": false,
        "info": ""
    },
    {
        "id": "df5e43cb.b674f",
        "type": "tab",
        "label": "Main menu",
        "disabled": false,
        "info": ""
    },
    {
        "id": "276bc02d.e347",
        "type": "tab",
        "label": "Pages info",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d3d080fa.62628",
        "type": "tab",
        "label": "The most popular questions",
        "disabled": false,
        "info": ""
    },
    {
        "id": "cbf72f33.63dd6",
        "type": "tab",
        "label": "Chatting",
        "disabled": false,
        "info": ""
    },
    {
        "id": "14785f2b.3d2341",
        "type": "tab",
        "label": "Is admin",
        "disabled": false,
        "info": ""
    },
    {
        "id": "74e0bd75.30b964",
        "type": "tab",
        "label": "Admin menu",
        "disabled": false,
        "info": ""
    },
    {
        "id": "892838ee.3ab438",
        "type": "tab",
        "label": "Admin statistics",
        "disabled": false,
        "info": ""
    },
    {
        "id": "76bd89c2.eace48",
        "type": "tab",
        "label": "Admin editing info",
        "disabled": false,
        "info": ""
    },
    {
        "id": "54742aae.b4a584",
        "type": "tab",
        "label": "Unanswered Questions Menu",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f0c759b9.ab1e08",
        "type": "tab",
        "label": "Sync Questions",
        "disabled": false,
        "info": ""
    },
    {
        "id": "59350fd8.5c52c",
        "type": "tab",
        "label": "Admin distribution",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4000ac09.8509f4",
        "type": "tab",
        "label": "Admin management",
        "disabled": false,
        "info": ""
    },
    {
        "id": "411ddac8.164cb4",
        "type": "subflow",
        "name": "Send message to the chat",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 140,
                "y": 80,
                "wires": [
                    {
                        "id": "bd92a1fe.c5f6f"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 720,
                "y": 80,
                "wires": [
                    {
                        "id": "b8d99eac.ee468",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "4001764a.8341f8",
        "type": "subflow",
        "name": "Remove inline keyboard",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 160,
                "y": 80,
                "wires": [
                    {
                        "id": "a46d83e7.59837"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1980,
                "y": 80,
                "wires": [
                    {
                        "id": "cfe21d91.ca59b",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "b72c2b01.aad3f8",
        "type": "subflow",
        "name": "Get user",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 140,
                "y": 120,
                "wires": [
                    {
                        "id": "4ee311e.188f1f"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1320,
                "y": 80,
                "wires": [
                    {
                        "id": "965ff527.75b118",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1320,
                "y": 140,
                "wires": [
                    {
                        "id": "bb8c001e.ffd0e",
                        "port": 1
                    }
                ]
            }
        ],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "529c4263.aeab0c",
        "type": "MySQLdatabase",
        "name": "",
        "host": "localhost",
        "port": "3306",
        "db": "internship_telegram_bot",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "b513f9.a96b5c08",
        "type": "dialogflowv2-token",
        "name": "Questions"
    },
    {
        "id": "95f1f9c.778f308",
        "type": "dialogflowv2-token",
        "name": "dialogflow_node_red"
    },
    {
        "id": "83a6c20c.1b51b",
        "type": "function",
        "z": "4c6874fb.68b9dc",
        "name": "Updating user name",
        "func": "msg.url = \"https://tg-bot-uni-develop.herokuapp.com/api/v1/users?id=\" + msg.chat_id;\nmsg.headers = msg.apiHeaders;\n\nmsg.payload = {\n    \"name\": msg.first_name + \" \" + msg.last_name,\n    \"state\": {\"state\": \"location\"}\n}\n\n//for the next question\nmsg.text = \"Зрозуміло. Оберіть свою область\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 440,
        "y": 160,
        "wires": [
            [
                "4a21bcb4.3b48f4"
            ]
        ]
    },
    {
        "id": "49db1ec2.c7de4",
        "type": "link in",
        "z": "4c6874fb.68b9dc",
        "name": "Set username to default name",
        "links": [
            "96e4744d.d20358",
            "e97be8fd.b371d8",
            "9fa707eb.be1788"
        ],
        "x": 235,
        "y": 160,
        "wires": [
            [
                "83a6c20c.1b51b",
                "28cc6c0e.6a0174"
            ]
        ]
    },
    {
        "id": "f553be12.15931",
        "type": "debug",
        "z": "4c6874fb.68b9dc",
        "name": "Setting username to default response from db",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 240,
        "wires": []
    },
    {
        "id": "28cc6c0e.6a0174",
        "type": "debug",
        "z": "4c6874fb.68b9dc",
        "name": "Setting username to default incoming data",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 240,
        "wires": []
    },
    {
        "id": "643d38df.03a4c8",
        "type": "function",
        "z": "4c6874fb.68b9dc",
        "name": "Setting up response",
        "func": "msg.payload = {\n    \"text\": \"Вкажіть, будь ласка, своє ім'я👇\",\n    \"chat_id\": msg.chat_id\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1820,
        "y": 160,
        "wires": [
            [
                "c538e448.9052c8"
            ]
        ]
    },
    {
        "id": "407592c4.adb5ec",
        "type": "link in",
        "z": "4c6874fb.68b9dc",
        "name": "Send request message to enter a new username",
        "links": [
            "b48e521d.7a459",
            "ba2be4d7.46a368",
            "8b7e5ba1.e6b3d8",
            "7009e878.03e338"
        ],
        "x": 1605,
        "y": 160,
        "wires": [
            [
                "643d38df.03a4c8"
            ]
        ]
    },
    {
        "id": "4d10c364.bba70c",
        "type": "link out",
        "z": "4c6874fb.68b9dc",
        "name": "Move on to setting the location field",
        "links": [
            "b0af6159.780a4",
            "1835ced7.6011d1",
            "2afdb4a1.ffb67c"
        ],
        "x": 875,
        "y": 160,
        "wires": []
    },
    {
        "id": "37feab15.469a44",
        "type": "comment",
        "z": "4c6874fb.68b9dc",
        "name": "Setting username to default name",
        "info": "",
        "x": 350,
        "y": 120,
        "wires": []
    },
    {
        "id": "56b28ca1.adcfe4",
        "type": "comment",
        "z": "4c6874fb.68b9dc",
        "name": "Request message to enter a new username",
        "info": "",
        "x": 1760,
        "y": 120,
        "wires": []
    },
    {
        "id": "29b87cf7.8de694",
        "type": "debug",
        "z": "4c6874fb.68b9dc",
        "name": "Setting username field to 'editing' response from db",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 3050,
        "y": 260,
        "wires": []
    },
    {
        "id": "32bc9488.39455c",
        "type": "function",
        "z": "4c6874fb.68b9dc",
        "name": "Changing state to 'username'",
        "func": "msg.url = \"https://tg-bot-uni-develop.herokuapp.com/api/v1/users?id=\" + msg.chat_id;\nmsg.headers = msg.apiHeaders;\n\nmsg.payload = {\n    \"state\": {\"state\": \"username\"}\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 2500,
        "y": 160,
        "wires": [
            [
                "36cbe213.34e8fe"
            ]
        ]
    },
    {
        "id": "981f1664.6f90e8",
        "type": "comment",
        "z": "4c6874fb.68b9dc",
        "name": "Move on to setting the location field",
        "info": "",
        "x": 1000,
        "y": 120,
        "wires": []
    },
    {
        "id": "cab5fa05.8972f8",
        "type": "function",
        "z": "96f6108e.64a37",
        "name": "Setting up response greeting to '/start'",
        "func": "msg.payload = {\n    \"text\": \"Привіт! Я бот кафедри ІСМ 👨‍💻. З радістю допоможу знайти відповідь на всі ваші питання\",\n    \"chat_id\": msg.chat_id\n}\n\n//for the next question\nmsg.text = \"Давайте знайомитись ближче. Чи можу я до вас звертатися \" + msg.first_name + \" \" + msg.last_name + \"?\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 2370,
        "y": 120,
        "wires": [
            [
                "c965d10e.f8642"
            ]
        ]
    },
    {
        "id": "20d295e5.2aa6ca",
        "type": "function",
        "z": "96f6108e.64a37",
        "name": "Setting up request message to set username",
        "func": "msg.payload = {\n    \"text\": msg.text,\n    \"reply_markup\": {\n        \"inline_keyboard\": [[\n            {\n                \"text\": \"Так, звісно\",\n                \"callback_data\": \"setCurrentName\"\n            }, \n            {\n                \"text\": \"Я хочу змінити\",\n                \"callback_data\": \"setName\"\n            }]\n        ]\n    },\n    \"chat_id\": msg.chat_id,\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 3190,
        "y": 120,
        "wires": [
            [
                "cece57bc.ae7278"
            ]
        ]
    },
    {
        "id": "bb24cad3.d57618",
        "type": "link in",
        "z": "96f6108e.64a37",
        "name": "Start",
        "links": [
            "2cfd1290.cbdfde",
            "b2bc8798.6a3f68",
            "a30c38e0.20a148",
            "712534ba.03dabc",
            "3df9c3f8.76229c",
            "ea1a539f.fff1a",
            "deed1fc2.cbf0e",
            "8dcc1de3.974b7"
        ],
        "x": 855,
        "y": 220,
        "wires": [
            [
                "954a6c74.4f585",
                "a75bccca.68779"
            ]
        ]
    },
    {
        "id": "fc1f4d6.e69b0b",
        "type": "comment",
        "z": "96f6108e.64a37",
        "name": "Start",
        "info": "",
        "x": 890,
        "y": 180,
        "wires": []
    },
    {
        "id": "1835ced7.6011d1",
        "type": "link in",
        "z": "3b5b98a.1c38768",
        "name": "Send message to set the location field",
        "links": [
            "4d10c364.bba70c",
            "67e90bd9.a1e8c4",
            "ce2794d2.a63448",
            "fc83002f.8146f",
            "6f605b10.5004f4",
            "d8112410.42a728",
            "bba92257.ecedb",
            "82300e9c.ebaef",
            "edc1406.22255c",
            "25ba409f.99d92",
            "f9c56bb.4602798",
            "6eccdeb4.00c91"
        ],
        "x": 175,
        "y": 140,
        "wires": [
            [
                "d2a126cb.79b0c8"
            ]
        ]
    },
    {
        "id": "d2a126cb.79b0c8",
        "type": "function",
        "z": "3b5b98a.1c38768",
        "name": "Setting up question for location",
        "func": "var cities = ['Вінницька', 'Волинська', 'Дніпропетровська', 'Донецька', 'Житомирська', 'Закарпатська', 'Запорізька',\n    'Івано-Франківська', 'Київська', 'Кіровоградська', 'Луганська', 'Львівська', 'Миколаївська',\n    'Одеська', 'Полтавська', 'Рівненська', 'Сумська', 'Тернопільська', 'Харківська', 'Херсонська',\n    'Хмельницька', 'Черкаська', 'Чернівецька', 'Чернігівська', 'АР Крим', 'за межами України'];\n\n\n\nmsg.payload = {\n    \"text\": msg.text,    \n    \"reply_markup\": {\n        \"inline_keyboard\": []\n    },\n    \"chat_id\": msg.chat_id,\n    \n}\n\n\nvar buttonsRow = [];\ncities.forEach((item, index) => {\n    buttonsRow.push({\"text\": (item), \"callback_data\": (\"setLocation_\" + item)});\n    \n    if ((((index+1)%3) == 0) || (index == (cities.length-1))) {\n        msg.payload.reply_markup.inline_keyboard.push(buttonsRow);\n        buttonsRow = [];\n    }\n    \n});\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 470,
        "y": 140,
        "wires": [
            [
                "bcaa2825.03ec98"
            ]
        ]
    },
    {
        "id": "f83bba65.663248",
        "type": "function",
        "z": "3b5b98a.1c38768",
        "name": "Changing state filed to 'location'",
        "func": "msg.url = \"https://tg-bot-uni-develop.herokuapp.com/api/v1/users?id=\" + msg.chat_id;\nmsg.headers = msg.apiHeaders;\n\nmsg.payload = {\n    \"state\": {\"state\": \"location\"}\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1210,
        "y": 140,
        "wires": [
            [
                "14d25b8f.4b64c4"
            ]
        ]
    },
    {
        "id": "c6df9017.a5565",
        "type": "debug",
        "z": "3b5b98a.1c38768",
        "name": "Changing city field to 'editing' response from db",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1800,
        "y": 220,
        "wires": []
    },
    {
        "id": "64fc7f2f.7e856",
        "type": "comment",
        "z": "3b5b98a.1c38768",
        "name": "Request message to enter a location",
        "info": "",
        "x": 300,
        "y": 100,
        "wires": []
    },
    {
        "id": "62bdcfd6.d166e",
        "type": "link in",
        "z": "68a30d94.469f94",
        "name": "Send message to set the occupation field",
        "links": [
            "8a07dd6e.fb122",
            "eb6c15f.d5924e8",
            "cbb721f9.d1df5",
            "99c3c041.c38d3",
            "4984be9d.47765",
            "76dc39c7.1f1908",
            "1b5b2acd.749c85",
            "533ced35.8e30a4",
            "57b8c25.ed8713c",
            "76e09347.1a3e1c",
            "b0adc4de.989ec8"
        ],
        "x": 195,
        "y": 300,
        "wires": [
            [
                "c54069b2.59d4f8"
            ]
        ]
    },
    {
        "id": "c54069b2.59d4f8",
        "type": "function",
        "z": "68a30d94.469f94",
        "name": "Setting up 'choose occupation' message",
        "func": "msg.payload = {\n    \"text\": msg.text,\n    \"reply_markup\": {\n        \"inline_keyboard\": [[\n            {\n                \"text\": \"Абітурієнт\",\n                \"callback_data\": \"setOccupationAsAnApplicant\"            \n            }, \n            {\n                \"text\": \"Один з батьків\",\n                \"callback_data\": \"setOccupationAsOneOfTheParents\"            \n            }],\n            [{\n                \"text\": \"Викладач\",\n                \"callback_data\": \"setOccupationAsATeacher\"            \n            },\n            {\n                \"text\": \"Студент\",\n                \"callback_data\": \"setOccupationAsAStudent\"            \n            }],\n            [{\n                \"text\": \"Інше\",\n                \"callback_data\": \"setOccupationAsOther\"            \n            }]\n        ]\n    },\n    \"chat_id\": msg.chat_id\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 460,
        "y": 300,
        "wires": [
            [
                "6a938578.b8740c"
            ]
        ]
    },
    {
        "id": "efb68a90.a747e8",
        "type": "function",
        "z": "68a30d94.469f94",
        "name": "Set occupation as an applicant",
        "func": "msg.occupation = \"Applicant\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 2330,
        "y": 180,
        "wires": [
            [
                "1001a33d.d9504d"
            ]
        ]
    },
    {
        "id": "35734a3f.d60566",
        "type": "function",
        "z": "68a30d94.469f94",
        "name": "Set occupation as one of the parents",
        "func": "msg.occupation = \"Parent\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 2350,
        "y": 240,
        "wires": [
            [
                "1001a33d.d9504d"
            ]
        ]
    },
    {
        "id": "28c9f7e4.efea48",
        "type": "function",
        "z": "68a30d94.469f94",
        "name": "Set occupation as a teacher",
        "func": "msg.occupation = \"Teacher\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 2320,
        "y": 300,
        "wires": [
            [
                "1001a33d.d9504d"
            ]
        ]
    },
    {
        "id": "564c6898.976ac8",
        "type": "function",
        "z": "68a30d94.469f94",
        "name": "Set occupation as a student",
        "func": "msg.occupation = \"Student\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 2320,
        "y": 360,
        "wires": [
            [
                "1001a33d.d9504d"
            ]
        ]
    },
    {
        "id": "acac65a4.a6de98",
        "type": "function",
        "z": "68a30d94.469f94",
        "name": "Set occupation as other",
        "func": "msg.occupation = \"Other\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 2310,
        "y": 420,
        "wires": [
            [
                "1001a33d.d9504d"
            ]
        ]
    },
    {
        "id": "bfff6d3f.b5c17",
        "type": "debug",
        "z": "68a30d94.469f94",
        "name": "Editing occupation field response from db",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 3260,
        "y": 360,
        "wires": []
    },
    {
        "id": "59d394d6.305dac",
        "type": "link out",
        "z": "68a30d94.469f94",
        "name": "Move on to printing main menu",
        "links": [
            "f1be3b15.c41ab8",
            "502c79bf.c60c68"
        ],
        "x": 3155,
        "y": 280,
        "wires": []
    },
    {
        "id": "ed917a17.8e5078",
        "type": "link in",
        "z": "68a30d94.469f94",
        "name": "Set occupation as an applicant",
        "links": [
            "2b168ecb.915b02",
            "8d8d567.b8915a8",
            "9f17155a.a2e3d8"
        ],
        "x": 1875,
        "y": 180,
        "wires": [
            [
                "efb68a90.a747e8"
            ]
        ]
    },
    {
        "id": "4f5ec5f6.e9838c",
        "type": "link in",
        "z": "68a30d94.469f94",
        "name": "Set occupation as one of the parents",
        "links": [
            "84969f23.caa1",
            "a7216124.6534",
            "ab9f10ed.c145a"
        ],
        "x": 1875,
        "y": 240,
        "wires": [
            [
                "35734a3f.d60566"
            ]
        ]
    },
    {
        "id": "f2c3d2a0.25b49",
        "type": "link in",
        "z": "68a30d94.469f94",
        "name": "Set occupation as a teacher",
        "links": [
            "b50620a8.7515",
            "5ffcf5e0.aa2fec",
            "7f128497.b6240c"
        ],
        "x": 1875,
        "y": 300,
        "wires": [
            [
                "28c9f7e4.efea48"
            ]
        ]
    },
    {
        "id": "4ed757e7.456528",
        "type": "link in",
        "z": "68a30d94.469f94",
        "name": "Set occupation as a student",
        "links": [
            "1356b19c.1cb64e",
            "3b6ee588.2aab8a",
            "68c78f79.2c1b2"
        ],
        "x": 1875,
        "y": 360,
        "wires": [
            [
                "564c6898.976ac8"
            ]
        ]
    },
    {
        "id": "bcbdc401.9580e8",
        "type": "link in",
        "z": "68a30d94.469f94",
        "name": "Set occupation as other",
        "links": [
            "ce92fb67.2ac148",
            "9eae2df4.d9717",
            "7501c22.02e853c"
        ],
        "x": 1875,
        "y": 420,
        "wires": [
            [
                "acac65a4.a6de98"
            ]
        ]
    },
    {
        "id": "f1632c06.222ac",
        "type": "comment",
        "z": "68a30d94.469f94",
        "name": "Setting occupation",
        "info": "",
        "x": 1950,
        "y": 140,
        "wires": []
    },
    {
        "id": "ba8647ee.f68c28",
        "type": "comment",
        "z": "68a30d94.469f94",
        "name": "Request message to choose an occupation",
        "info": "",
        "x": 340,
        "y": 260,
        "wires": []
    },
    {
        "id": "ea5c7390.3d1a9",
        "type": "comment",
        "z": "68a30d94.469f94",
        "name": "Move on to printing main menu",
        "info": "",
        "x": 3270,
        "y": 240,
        "wires": []
    },
    {
        "id": "e0bc4239.7e156",
        "type": "function",
        "z": "cbf72f33.63dd6",
        "name": "Editing username or city or move on to processing message",
        "func": "function isTooLongAnswer(text) {\n    if (msg.message.length > 254) {\n        msg.payload = {\n            \"text\": text,\n            \"chat_id\": msg.chat_id\n        }\n        \n        return true;\n    }\n    \n    return false;\n}\n\n\n\nmsg.url = \"https://tg-bot-uni-develop.herokuapp.com/api/v1/users?id=\" + msg.chat_id;\nmsg.headers = msg.apiHeaders;\n\n\n\nif (msg.statusCode == 200) {\n    //for admins\n    if (msg.user_payload.role_name.includes(\"admin\")) {\n        if (msg.user_payload.state.state.startsWith(\"editingInfo\")) {\n        \n            return [null, null, null, msg, null, null, null];\n        } else if (msg.user_payload.state.state == \"writingTextForDistribution\") {\n            \n            return [null, null, null, null, msg, null, null];\n        } else if (msg.user_payload.state.state == \"addingAdmin\") {\n            \n            return [null, null, null, null, null, msg, null];\n        }\n    }\n    \n    \n    //registrations and dialogflow\n    if (msg.user_payload.state.state == \"username\") {\n        if (isTooLongAnswer(\"Ім'я надто довге. Спробуйте знову\")) return [null, msg, null, null, null, null, null];\n        \n        msg.payload = {\n            \"name\": msg.message\n        }\n        \n        //for the next question\n        msg.text = \"Зрозуміло. Оберіть свою область\";\n        \n        return [msg, null, null, null, null, null];\n    } else if (msg.user_payload.state.state == \"registered\") {\n        \n        //sending saved contexts\n        msg.queryParams = {\n            \"contexts\": msg.user_payload.state.df_contexts\n        };\n        \n        //slice if it is answer to dialogflow question\n        if (msg.message.startsWith(\"answerToDFQuestion_\")) {\n            msg.payload = msg.message.slice(19);\n            \n            msg.intentName = msg.payload;\n        } else {\n            msg.payload = msg.message;\n        }\n        \n        return [null, null, msg, null, null, null, null];\n    }\n}\n\n\n\nreturn [null, null, null, null, null, null, msg];",
        "outputs": 7,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1200,
        "y": 600,
        "wires": [
            [
                "858f85dd.43b438"
            ],
            [
                "5b53c12b.cc56"
            ],
            [
                "c82c545b.287d98"
            ],
            [
                "f3b73302.b6bf3"
            ],
            [
                "9c1f5735.fbe608"
            ],
            [
                "24e51cd8.751164"
            ],
            [
                "452a3d2.72b81c4"
            ]
        ],
        "outputLabels": [
            "Saving the username field",
            "Saving the city field",
            "Sending a message",
            "Send answer to one of the most popular questions",
            "DialogFlow Processing Message",
            "",
            ""
        ]
    },
    {
        "id": "bba92257.ecedb",
        "type": "link out",
        "z": "cbf72f33.63dd6",
        "name": "Move on to setting the location field",
        "links": [
            "b0af6159.780a4",
            "1835ced7.6011d1",
            "2afdb4a1.ffb67c"
        ],
        "x": 1975,
        "y": 200,
        "wires": []
    },
    {
        "id": "5581481b.706b38",
        "type": "link in",
        "z": "cbf72f33.63dd6",
        "name": "Edit username or city or process message",
        "links": [
            "17a4ed75.37c813",
            "5079e290.c379dc",
            "fd9aa5ae.4abe08"
        ],
        "x": 335,
        "y": 600,
        "wires": [
            [
                "e0bc4239.7e156"
            ]
        ]
    },
    {
        "id": "11cb9c66.1c2c64",
        "type": "comment",
        "z": "cbf72f33.63dd6",
        "name": "Processing other messages. Edit username or city",
        "info": "",
        "x": 510,
        "y": 560,
        "wires": []
    },
    {
        "id": "bd92a1fe.c5f6f",
        "type": "change",
        "z": "411ddac8.164cb4",
        "name": "Setting up bot url",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "\"https://api.telegram.org/bot\" & $env('TOKEN') & \"/sendMessage\"",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 80,
        "wires": [
            [
                "b8d99eac.ee468"
            ]
        ]
    },
    {
        "id": "b8d99eac.ee468",
        "type": "http request",
        "z": "411ddac8.164cb4",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "basic",
        "x": 550,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "5d8decb2.3014e4",
        "type": "debug",
        "z": "cbf72f33.63dd6",
        "name": "Response from dialogflow",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2030,
        "y": 640,
        "wires": []
    },
    {
        "id": "c82c545b.287d98",
        "type": "dialogflowv2",
        "z": "cbf72f33.63dd6",
        "dialogflow": "b513f9.a96b5c08",
        "language": "uk",
        "debug": false,
        "queryParamsOK": true,
        "x": 1800,
        "y": 560,
        "wires": [
            [
                "5d8decb2.3014e4",
                "8c22d5f5.4223e8"
            ]
        ]
    },
    {
        "id": "2c767f74.82a47",
        "type": "comment",
        "z": "cbf72f33.63dd6",
        "name": "DialogFlow Processing Message",
        "info": "",
        "x": 1850,
        "y": 520,
        "wires": []
    },
    {
        "id": "63a1490b.736ab8",
        "type": "function",
        "z": "cbf72f33.63dd6",
        "name": "Setting up dialogflow response",
        "func": "msg.payload = {\n    \"chat_id\": msg.chat_id,\n    \"text\": msg._dialogflow.fulfillmentText,\n    \"reply_markup\": {\n        \"inline_keyboard\": [[{\n            \"text\": \"↩ Головне меню\",\n            \"callback_data\": \"mainMenu\"\n        }]]\n    }\n}\n\n\n//if message is question from dialogflow, it sets buttons with answers for this question\nfor(var i = 0; i < msg._dialogflow.fulfillmentMessages.length; i++) {\n    if (msg._dialogflow.fulfillmentMessages[i].platform == \"TELEGRAM\") {\n        msg.payload.text = msg._dialogflow.fulfillmentMessages[i].payload.fields.telegram.structValue.fields.text.stringValue;\n        \n        var inlineKeyboardAnswers = [];\n        msg._dialogflow.fulfillmentMessages[i].payload.fields.telegram.structValue\n            .fields.reply_markup.structValue.fields.inline_keyboard.listValue.values[0]\n            .listValue.values.forEach((value) => {\n                inlineKeyboardAnswers.push(\n                        {\n                            \"text\": value.structValue.fields.text.stringValue,\n                            \"callback_data\": \"answerToDFQuestion_\" + value.structValue.fields.callback_data.stringValue\n                            \n                        }\n                    );\n            });\n        \n        msg.payload.reply_markup.inline_keyboard.unshift(inlineKeyboardAnswers);\n        break;\n    }\n}\n\n\n//if user is admin, it sends admin-menu button\nif (msg.user_payload.role_name.includes(\"admin\")) {\n    msg.payload.reply_markup.inline_keyboard.push([{\n        \"text\": \"⚙ Адмін-панель\",\n        \"callback_data\": \"adminMenu\"\n    }]);\n}\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 3370,
        "y": 560,
        "wires": [
            [
                "5a2ebc6a.567e54"
            ]
        ]
    },
    {
        "id": "985d37c2.3d2328",
        "type": "comment",
        "z": "cbf72f33.63dd6",
        "name": "Move on to setting the location field",
        "info": "",
        "x": 2100,
        "y": 160,
        "wires": []
    },
    {
        "id": "452a3d2.72b81c4",
        "type": "link out",
        "z": "cbf72f33.63dd6",
        "name": "Is registration completed",
        "links": [
            "6ff45d49.c66084",
            "4d1e8f79.27d3c"
        ],
        "x": 1735,
        "y": 1100,
        "wires": []
    },
    {
        "id": "1795e6cf.ce9ef9",
        "type": "comment",
        "z": "cbf72f33.63dd6",
        "name": "Checking whether the registration is completed",
        "info": "",
        "x": 1900,
        "y": 1060,
        "wires": []
    },
    {
        "id": "8c22d5f5.4223e8",
        "type": "function",
        "z": "cbf72f33.63dd6",
        "name": "Saving dialogflow context",
        "func": "msg.intentName = msg.payload;\n\n\n\nmsg.url = \"https://tg-bot-uni-develop.herokuapp.com/api/v1/users?id=\" + msg.chat_id;\nmsg.headers = msg.apiHeaders;\n\n\n\nmsg.payload = {\"state\": msg.user_payload.state};\nmsg.payload.state.df_contexts = msg._dialogflow.outputContexts;\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 2470,
        "y": 560,
        "wires": [
            [
                "72384851.df5ad8"
            ]
        ]
    },
    {
        "id": "319d5b6f.be2d74",
        "type": "function",
        "z": "4001764a.8341f8",
        "name": "Removing inline keyboard",
        "func": "//remove inline keyboard\nmsg.payload = {\n    \"chat_id\": msg.chat_id,\n    \"message_id\": msg.message_id,\n    \"reply_markup\": {\n        \"inline_keyboard\": []\n    }\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 730,
        "y": 80,
        "wires": [
            [
                "ac12e929.bfded8"
            ]
        ]
    },
    {
        "id": "4a6d9a4d.b3d5b4",
        "type": "comment",
        "z": "cbf72f33.63dd6",
        "name": "Sending a message",
        "info": "",
        "x": 1810,
        "y": 340,
        "wires": []
    },
    {
        "id": "b908221a.202f7",
        "type": "comment",
        "z": "cbf72f33.63dd6",
        "name": "Saving the username field",
        "info": "",
        "x": 1830,
        "y": 160,
        "wires": []
    },
    {
        "id": "954a6c74.4f585",
        "type": "debug",
        "z": "96f6108e.64a37",
        "name": "Start command incoming data",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 300,
        "wires": []
    },
    {
        "id": "5b53c12b.cc56",
        "type": "subflow:411ddac8.164cb4",
        "z": "cbf72f33.63dd6",
        "name": "",
        "env": [],
        "x": 1830,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "5a2ebc6a.567e54",
        "type": "subflow:411ddac8.164cb4",
        "z": "cbf72f33.63dd6",
        "name": "",
        "env": [],
        "x": 3710,
        "y": 560,
        "wires": [
            [
                "44bde95d.ab5328",
                "5c02823e.dbdd4c"
            ]
        ]
    },
    {
        "id": "6a938578.b8740c",
        "type": "subflow:411ddac8.164cb4",
        "z": "68a30d94.469f94",
        "name": "",
        "env": [],
        "x": 820,
        "y": 300,
        "wires": [
            [
                "5cdcad90.c84254"
            ]
        ]
    },
    {
        "id": "bcaa2825.03ec98",
        "type": "subflow:411ddac8.164cb4",
        "z": "3b5b98a.1c38768",
        "name": "",
        "env": [],
        "x": 850,
        "y": 140,
        "wires": [
            [
                "f83bba65.663248"
            ]
        ]
    },
    {
        "id": "c538e448.9052c8",
        "type": "subflow:411ddac8.164cb4",
        "z": "4c6874fb.68b9dc",
        "name": "",
        "env": [],
        "x": 2130,
        "y": 160,
        "wires": [
            [
                "32bc9488.39455c"
            ]
        ]
    },
    {
        "id": "c965d10e.f8642",
        "type": "subflow:411ddac8.164cb4",
        "z": "96f6108e.64a37",
        "name": "",
        "env": [],
        "x": 2710,
        "y": 120,
        "wires": [
            [
                "20d295e5.2aa6ca"
            ]
        ]
    },
    {
        "id": "cece57bc.ae7278",
        "type": "subflow:411ddac8.164cb4",
        "z": "96f6108e.64a37",
        "name": "",
        "env": [],
        "x": 3550,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "a46d83e7.59837",
        "type": "change",
        "z": "4001764a.8341f8",
        "name": "Saving msg.payload",
        "rules": [
            {
                "t": "set",
                "p": "payload_copy",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 80,
        "wires": [
            [
                "319d5b6f.be2d74"
            ]
        ]
    },
    {
        "id": "cfe21d91.ca59b",
        "type": "change",
        "z": "4001764a.8341f8",
        "name": "Setting saved payload to msg.payload",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload_copy",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1730,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "ac12e929.bfded8",
        "type": "change",
        "z": "4001764a.8341f8",
        "name": "Setting up editMessageReplyMarkup url",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "\"https://api.telegram.org/bot\" & $env('TOKEN') & \"/editMessageReplyMarkup\"",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1060,
        "y": 80,
        "wires": [
            [
                "a41f75cf.a711d8"
            ]
        ]
    },
    {
        "id": "a41f75cf.a711d8",
        "type": "http request",
        "z": "4001764a.8341f8",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "basic",
        "x": 1350,
        "y": 80,
        "wires": [
            [
                "cfe21d91.ca59b"
            ]
        ]
    },
    {
        "id": "a8d398a0.9fa888",
        "type": "function",
        "z": "cbf72f33.63dd6",
        "name": "Updating calls field of question",
        "func": "msg.url = \"https://tg-bot-uni-develop.herokuapp.com/api/v1/questions/faq/increment?name=\" + msg.intentName;\nmsg.headers = msg.apiHeaders;\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 4450,
        "y": 620,
        "wires": [
            [
                "bb4c4877.8d7198"
            ]
        ]
    },
    {
        "id": "1c133d73.d7c5c3",
        "type": "debug",
        "z": "dbbd86af.74c0d8",
        "name": "Incoming data",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 880,
        "wires": []
    },
    {
        "id": "13e44bbe.022ec4",
        "type": "http response",
        "z": "dbbd86af.74c0d8",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 440,
        "y": 940,
        "wires": []
    },
    {
        "id": "be1ed164.1521d",
        "type": "function",
        "z": "dbbd86af.74c0d8",
        "name": "Formatting data",
        "func": "//headers for api\nmsg.apiHeaders = {\n    \"Content-Type\": \"application/json\",\n    \"pass-hash\": env.get('API_HASH_KEY')\n}\n\nif (msg.payload.callback_query) {\n    //saving firstname and lastname of user\n    msg.first_name = msg.payload.callback_query.message.chat.first_name ? msg.payload.callback_query.message.chat.first_name : '';\n    msg.last_name = msg.payload.callback_query.message.chat.last_name ? msg.payload.callback_query.message.chat.last_name : '';\n    \n    msg.message = msg.payload.callback_query.data;\n        \n    msg.chat_id = msg.payload.callback_query.from.id\n    \n    msg.message_id = msg.payload.callback_query.message.message_id;\n    \n    return [msg, null];\n} else if (msg.payload.message) {\n    //saving firstname and lastname of user\n    msg.first_name = msg.payload.message.chat.first_name ? msg.payload.message.chat.first_name : '';\n    msg.last_name = msg.payload.message.chat.last_name ? msg.payload.message.chat.last_name : '';\n    \n    msg.username = msg.payload.message.chat.username;\n\n    msg.message = msg.payload.message.text;\n    \n    msg.chat_id = msg.payload.message.from.id\n    \n    msg.message_id = msg.payload.message.message_id - 1;\n    \n    return [null, msg];\n}\n\nreturn [null, null]",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 580,
        "y": 800,
        "wires": [
            [
                "c017e434.7d5098"
            ],
            [
                "336efa19.615be6"
            ]
        ]
    },
    {
        "id": "d4173cf4.07cab",
        "type": "switch",
        "z": "dbbd86af.74c0d8",
        "name": "Callback query events",
        "property": "message",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "setCurrentName",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "setName",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "setOccupationAsAnApplicant",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "setOccupationAsOneOfTheParents",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "setOccupationAsATeacher",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "setOccupationAsAStudent",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "setOccupationAsOther",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "mainMenu",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "theMostPopularQuestions",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "AboutISM",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "AboutNULP",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "HowToUseBot",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 12,
        "x": 1280,
        "y": 340,
        "wires": [
            [
                "9fa707eb.be1788"
            ],
            [
                "7009e878.03e338"
            ],
            [
                "9f17155a.a2e3d8"
            ],
            [
                "ab9f10ed.c145a"
            ],
            [
                "7f128497.b6240c"
            ],
            [
                "68c78f79.2c1b2"
            ],
            [
                "7501c22.02e853c"
            ],
            [
                "423e195b.dec3f8"
            ],
            [
                "d7b8d232.f7981"
            ],
            [
                "84602d83.794bf"
            ],
            [
                "84602d83.794bf"
            ],
            [
                "84602d83.794bf"
            ]
        ]
    },
    {
        "id": "9fa707eb.be1788",
        "type": "link out",
        "z": "dbbd86af.74c0d8",
        "name": "Set username to default name",
        "links": [
            "49db1ec2.c7de4"
        ],
        "x": 1775,
        "y": 60,
        "wires": []
    },
    {
        "id": "7009e878.03e338",
        "type": "link out",
        "z": "dbbd86af.74c0d8",
        "name": "Set username",
        "links": [
            "407592c4.adb5ec"
        ],
        "x": 1775,
        "y": 100,
        "wires": []
    },
    {
        "id": "423e195b.dec3f8",
        "type": "link out",
        "z": "dbbd86af.74c0d8",
        "name": "Print main menu",
        "links": [
            "f1be3b15.c41ab8",
            "502c79bf.c60c68"
        ],
        "x": 1775,
        "y": 460,
        "wires": []
    },
    {
        "id": "9f17155a.a2e3d8",
        "type": "link out",
        "z": "dbbd86af.74c0d8",
        "name": "Set occupation as an applicant",
        "links": [
            "3272d461.c8fe5c",
            "ed917a17.8e5078"
        ],
        "x": 1775,
        "y": 200,
        "wires": []
    },
    {
        "id": "ab9f10ed.c145a",
        "type": "link out",
        "z": "dbbd86af.74c0d8",
        "name": "Set occupation as one of the parents",
        "links": [
            "84f1ccf3.e8c91",
            "4f5ec5f6.e9838c"
        ],
        "x": 1775,
        "y": 240,
        "wires": []
    },
    {
        "id": "7f128497.b6240c",
        "type": "link out",
        "z": "dbbd86af.74c0d8",
        "name": "Set occupation as a teacher",
        "links": [
            "7ed591d4.8c433",
            "f2c3d2a0.25b49"
        ],
        "x": 1775,
        "y": 280,
        "wires": []
    },
    {
        "id": "68c78f79.2c1b2",
        "type": "link out",
        "z": "dbbd86af.74c0d8",
        "name": "Set occupation as a student",
        "links": [
            "6ef222d3.893f0c",
            "4ed757e7.456528"
        ],
        "x": 1775,
        "y": 320,
        "wires": []
    },
    {
        "id": "7501c22.02e853c",
        "type": "link out",
        "z": "dbbd86af.74c0d8",
        "name": "Set occupation as other",
        "links": [
            "bebaf9fd.57b3d8",
            "bcbdc401.9580e8"
        ],
        "x": 1775,
        "y": 360,
        "wires": []
    },
    {
        "id": "25afae95.4a6452",
        "type": "comment",
        "z": "dbbd86af.74c0d8",
        "name": "Set occupation",
        "info": "# Setting occupation",
        "x": 1840,
        "y": 160,
        "wires": []
    },
    {
        "id": "4ea530d9.6681",
        "type": "comment",
        "z": "dbbd86af.74c0d8",
        "name": "Main menu",
        "info": "",
        "x": 1820,
        "y": 420,
        "wires": []
    },
    {
        "id": "42e1a254.93316c",
        "type": "comment",
        "z": "dbbd86af.74c0d8",
        "name": "Edit name",
        "info": "",
        "x": 1820,
        "y": 20,
        "wires": []
    },
    {
        "id": "d7b8d232.f7981",
        "type": "link out",
        "z": "dbbd86af.74c0d8",
        "name": "Send the most popular questions",
        "links": [
            "db785c0e.a93d6"
        ],
        "x": 1775,
        "y": 560,
        "wires": []
    },
    {
        "id": "92a60b0a.a91188",
        "type": "comment",
        "z": "dbbd86af.74c0d8",
        "name": "Send the most popular questions",
        "info": "",
        "x": 1890,
        "y": 520,
        "wires": []
    },
    {
        "id": "84602d83.794bf",
        "type": "link out",
        "z": "dbbd86af.74c0d8",
        "name": "Send message with info",
        "links": [
            "255971.a036369"
        ],
        "x": 1775,
        "y": 660,
        "wires": []
    },
    {
        "id": "9e3a5712.5abb58",
        "type": "comment",
        "z": "dbbd86af.74c0d8",
        "name": "Send messages about ISM department, NULP, how to use the bot ",
        "info": "",
        "x": 1990,
        "y": 620,
        "wires": []
    },
    {
        "id": "59c1267b.ca3c98",
        "type": "switch",
        "z": "dbbd86af.74c0d8",
        "name": "Answer to dialogflow question",
        "property": "$split(msg.message, \"_\", 1)",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "eq",
                "v": "answerToDFQuestion",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1310,
        "y": 900,
        "wires": [
            [
                "17a4ed75.37c813"
            ]
        ]
    },
    {
        "id": "17a4ed75.37c813",
        "type": "link out",
        "z": "dbbd86af.74c0d8",
        "name": "Process message",
        "links": [
            "957981a1.8fdad",
            "62416c5b.bd8764",
            "5581481b.706b38",
            "3be0d365.f203bc",
            "c69d98c5.c5cda8"
        ],
        "x": 1775,
        "y": 900,
        "wires": []
    },
    {
        "id": "a1439bf8.dd9a78",
        "type": "comment",
        "z": "dbbd86af.74c0d8",
        "name": "Process message",
        "info": "",
        "x": 1850,
        "y": 860,
        "wires": []
    },
    {
        "id": "db142eec.63a9b",
        "type": "switch",
        "z": "dbbd86af.74c0d8",
        "name": "Set answer to popular question(pagination)",
        "property": "$split(msg.message, \"_\", 1)",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "eq",
                "v": "theMostPopularQPagination",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1350,
        "y": 800,
        "wires": [
            [
                "44ca7e7d.f7226"
            ]
        ]
    },
    {
        "id": "44ca7e7d.f7226",
        "type": "link out",
        "z": "dbbd86af.74c0d8",
        "name": "Set answer to another question(pagination)",
        "links": [
            "db785c0e.a93d6"
        ],
        "x": 1775,
        "y": 800,
        "wires": []
    },
    {
        "id": "695523ed.ad23dc",
        "type": "comment",
        "z": "dbbd86af.74c0d8",
        "name": "Set answer to another question(pagination)",
        "info": "",
        "x": 1920,
        "y": 760,
        "wires": []
    },
    {
        "id": "712534ba.03dabc",
        "type": "link out",
        "z": "dbbd86af.74c0d8",
        "name": "/start",
        "links": [
            "bb24cad3.d57618"
        ],
        "x": 1775,
        "y": 3440,
        "wires": []
    },
    {
        "id": "5079e290.c379dc",
        "type": "link out",
        "z": "dbbd86af.74c0d8",
        "name": "Process message",
        "links": [
            "5581481b.706b38"
        ],
        "x": 1775,
        "y": 3600,
        "wires": []
    },
    {
        "id": "2cd9581b.de63b8",
        "type": "comment",
        "z": "dbbd86af.74c0d8",
        "name": "Other user messages",
        "info": "",
        "x": 1860,
        "y": 3560,
        "wires": []
    },
    {
        "id": "2caa3ca0.e8c6a4",
        "type": "comment",
        "z": "dbbd86af.74c0d8",
        "name": "Start",
        "info": "",
        "x": 1810,
        "y": 3400,
        "wires": []
    },
    {
        "id": "c255e784.8ab028",
        "type": "switch",
        "z": "dbbd86af.74c0d8",
        "name": "Start or admin or message",
        "property": "message",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "/start",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/admin",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 1280,
        "y": 3520,
        "wires": [
            [
                "712534ba.03dabc"
            ],
            [
                "ebcc50de.24dfc"
            ],
            [
                "5079e290.c379dc"
            ]
        ]
    },
    {
        "id": "7e88b121.6fb1e",
        "type": "http in",
        "z": "dbbd86af.74c0d8",
        "name": "",
        "url": "/bot",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 220,
        "y": 800,
        "wires": [
            [
                "1c133d73.d7c5c3",
                "13e44bbe.022ec4",
                "be1ed164.1521d"
            ]
        ]
    },
    {
        "id": "58ada314.42903c",
        "type": "function",
        "z": "96f6108e.64a37",
        "name": "Registering new user row in db",
        "func": "msg.url = \"https://tg-bot-uni-develop.herokuapp.com/api/v1/users\";\nmsg.headers = msg.apiHeaders;\n\nmsg.payload = {\n    \"id\": msg.chat_id,\n    \"username\": msg.username,\n    \"state\": {\"state\" : \"created\"}\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1690,
        "y": 120,
        "wires": [
            [
                "a67c174.729e1e8"
            ]
        ]
    },
    {
        "id": "3038c760.952438",
        "type": "debug",
        "z": "96f6108e.64a37",
        "name": "Registering new user response from db",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2300,
        "y": 200,
        "wires": []
    },
    {
        "id": "502c79bf.c60c68",
        "type": "link in",
        "z": "df5e43cb.b674f",
        "name": "Print main menu",
        "links": [
            "9d38cfeb.72544",
            "cfe6162e.b07178",
            "fee03af4.838098",
            "76361c43.ee74f4",
            "59d394d6.305dac",
            "3dff8462.4ec1dc",
            "423e195b.dec3f8",
            "beaeab00.e10d98"
        ],
        "x": 195,
        "y": 160,
        "wires": [
            [
                "e26cee31.fdd81"
            ]
        ]
    },
    {
        "id": "e26cee31.fdd81",
        "type": "function",
        "z": "df5e43cb.b674f",
        "name": "Setting up message with main menu",
        "func": "msg.payload = {\n    \"text\": \"✅ Ви в головному меню. Задавайте питання чи оберіть необхідний пункт\",\n    \"reply_markup\": {\n        \"inline_keyboard\": [[\n            {\n                \"text\": \"Найпопулярніші питання 🔥\",\n                \"callback_data\": \"theMostPopularQuestions\"            \n            }], \n            [{\n                \"text\": \"Про кафедру ICM 😎\",\n                \"callback_data\": \"AboutISM\"            \n            },\n            {\n                \"text\": \"Про НУЛП 🚀\",\n                \"callback_data\": \"AboutNULP\"            \n            }],\n            [{\n                \"text\": \"Як користуватися ботом 📁\",\n                \"callback_data\": \"HowToUseBot\"            \n            }]\n        ]\n    },\n    \"chat_id\": msg.chat_id\n}\n\n//if user is admin, it sends admin-menu button\nif (msg.user_payload.role_name.includes(\"admin\")) {\n    msg.payload.reply_markup.inline_keyboard.push([{\n        \"text\": \"⚙ Адмін-панель\",\n        \"callback_data\": \"adminMenu\"\n    }]);\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 450,
        "y": 160,
        "wires": [
            [
                "744eb46c.1a166c"
            ]
        ]
    },
    {
        "id": "a3e54823.a72818",
        "type": "comment",
        "z": "df5e43cb.b674f",
        "name": "Message with main menu",
        "info": "",
        "x": 290,
        "y": 120,
        "wires": []
    },
    {
        "id": "744eb46c.1a166c",
        "type": "subflow:411ddac8.164cb4",
        "z": "df5e43cb.b674f",
        "name": "",
        "env": [],
        "x": 790,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "58a6af09.78559",
        "type": "function",
        "z": "696b129b.360e0c",
        "name": "Is registration completed",
        "func": "if (!msg.user_payload.role_name.includes(\"admin\")) {\n    if (msg.user_payload.state.state == \"created\" || msg.user_payload.state.state == \"username\") {\n        //for the next question\n        msg.text = \"Чи можу я до вас звертатися \" + msg.first_name + \" \" + msg.last_name + \"?\";\n        \n        return [msg, null, null, null];\n    } else if (msg.user_payload.state.state == \"location\") {\n        //for the next question\n        msg.text = \"Будь ласка, оберіть один з варіантів\";\n        \n        return [null, msg, null, null];\n    } else if (msg.user_payload.state.state == \"occupation\") {\n        //for the next question\n        msg.text = \"Для кращого підбору FAQ 📊 виберіть свій вид зайнятості\";\n        \n        return [null, null, msg, null];\n    }\n}\n\nreturn [null, null, null, msg];",
        "outputs": 4,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 890,
        "y": 320,
        "wires": [
            [
                "b62113f8.d98b5"
            ],
            [
                "25ba409f.99d92"
            ],
            [
                "1b5b2acd.749c85"
            ],
            [
                "beaeab00.e10d98"
            ]
        ],
        "inputLabels": [
            "Checking whether the registration is completed"
        ],
        "outputLabels": [
            "Move on to setting the username field again",
            "Move on to setting the location field again",
            "Move on to setting the occupation field again",
            "Send main menu message"
        ]
    },
    {
        "id": "25ba409f.99d92",
        "type": "link out",
        "z": "696b129b.360e0c",
        "name": "Move on to setting the location field again",
        "links": [
            "1835ced7.6011d1"
        ],
        "x": 1195,
        "y": 260,
        "wires": []
    },
    {
        "id": "1b5b2acd.749c85",
        "type": "link out",
        "z": "696b129b.360e0c",
        "name": "Move on to setting the occupation field again",
        "links": [
            "62bdcfd6.d166e"
        ],
        "x": 1195,
        "y": 380,
        "wires": []
    },
    {
        "id": "beaeab00.e10d98",
        "type": "link out",
        "z": "696b129b.360e0c",
        "name": "Send main menu message",
        "links": [
            "f1be3b15.c41ab8",
            "502c79bf.c60c68"
        ],
        "x": 1195,
        "y": 500,
        "wires": []
    },
    {
        "id": "4f8a25d5.b0636c",
        "type": "comment",
        "z": "696b129b.360e0c",
        "name": "Send main menu message",
        "info": "",
        "x": 1290,
        "y": 460,
        "wires": []
    },
    {
        "id": "4d1e8f79.27d3c",
        "type": "link in",
        "z": "696b129b.360e0c",
        "name": "Is registration completed",
        "links": [
            "452a3d2.72b81c4",
            "65f19cea.cc3ef4",
            "a26ae768.2eea48",
            "18a42917.130a67",
            "c93fac14.b4c41",
            "aa4734c9.318da8",
            "f2d2b96e.dd4d58"
        ],
        "x": 355,
        "y": 320,
        "wires": [
            [
                "58a6af09.78559"
            ]
        ]
    },
    {
        "id": "4ce7c89d.99df08",
        "type": "comment",
        "z": "696b129b.360e0c",
        "name": "Move on to setting the location field again",
        "info": "",
        "x": 1340,
        "y": 220,
        "wires": []
    },
    {
        "id": "4ec2269f.2800f8",
        "type": "comment",
        "z": "696b129b.360e0c",
        "name": "Move on to setting the occupation field again",
        "info": "",
        "x": 1350,
        "y": 340,
        "wires": []
    },
    {
        "id": "eec829d9.ecc588",
        "type": "comment",
        "z": "696b129b.360e0c",
        "name": "Checking whether the registration is completed",
        "info": "",
        "x": 520,
        "y": 280,
        "wires": []
    },
    {
        "id": "62f23a28.fa8414",
        "type": "comment",
        "z": "696b129b.360e0c",
        "name": "Move on to setting the username field again",
        "info": "",
        "x": 1350,
        "y": 100,
        "wires": []
    },
    {
        "id": "65f19cea.cc3ef4",
        "type": "link out",
        "z": "96f6108e.64a37",
        "name": "Is registration completed",
        "links": [
            "4d1e8f79.27d3c"
        ],
        "x": 1575,
        "y": 300,
        "wires": []
    },
    {
        "id": "7c78aa7a.0ce5a4",
        "type": "comment",
        "z": "96f6108e.64a37",
        "name": "Check whether the registration is completed",
        "info": "",
        "x": 1730,
        "y": 260,
        "wires": []
    },
    {
        "id": "a009902e.25a1b",
        "type": "subflow:411ddac8.164cb4",
        "z": "696b129b.360e0c",
        "name": "",
        "env": [],
        "x": 2390,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "e074a2a5.84fdc",
        "type": "function",
        "z": "696b129b.360e0c",
        "name": "Setting up request message to set username",
        "func": "msg.payload = {\n    \"text\": msg.text,\n    \"reply_markup\": {\n        \"inline_keyboard\": [[\n            {\n                \"text\": \"Так, звісно\",\n                \"callback_data\": \"setCurrentName\"\n            }, \n            {\n                \"text\": \"Я хочу змінити\",\n                \"callback_data\": \"setName\"\n            }]\n        ]\n    },\n    \"chat_id\": msg.chat_id,\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 2010,
        "y": 140,
        "wires": [
            [
                "a009902e.25a1b"
            ]
        ]
    },
    {
        "id": "5c5914e5.d60a4c",
        "type": "function",
        "z": "d3d080fa.62628",
        "name": "Setting up next or last question",
        "func": "msg.sendAsASimpleMessage = false;\n\n\n//if it isn't the first message, gets question id from message\nif (msg.message.startsWith(\"theMostPopularQPagination_\")) {\n    msg.message = parseInt(msg.message.split(\"_\")[1]);\n} else {\n    msg.message = 0;\n    \n    msg.sendAsASimpleMessage = true;\n}\n\n\n//setting up message\nmsg.payload = {\n    \"text\": (msg.message+1) + \". \" + msg.payload.questions[msg.message].question\n        + (msg.user_payload.role_name.includes(\"admin\") ? (\"\\n\\nЗадано: \" + msg.payload.questions[msg.message].stats) : \"\")\n        + \"\\n\\nВідповідь:\\n\" + msg.payload.questions[msg.message].answer,\n    \"chat_id\": msg.chat_id,\n    \"reply_markup\": {\n        \"inline_keyboard\": [[]]\n    },\n}\n\n\n//if it isn't the first message, sets message_id for editing message\nif(!msg.sendAsASimpleMessage) {\n    msg.payload.message_id = msg.message_id;\n}\n\n\n//setting needed control buttons\nif (msg.message > 0) {\n    msg.payload.reply_markup.inline_keyboard[0].push({\n                \"text\": \"◀ Назад\",\n                \"callback_data\": \"theMostPopularQPagination_\" + (msg.message - 1)\n            });\n}\n\nif (msg.message < 4) {\n    msg.payload.reply_markup.inline_keyboard[0].push({\n                \"text\": \"Далі ▶\",\n                \"callback_data\": \"theMostPopularQPagination_\" + (msg.message + 1)\n            });\n}\n\n\n//adding main-menu button for regular users or admin-menu and 'back' buttons for admin\nif (msg.user_payload.role_name.includes(\"admin\")) {\n    msg.payload.reply_markup.inline_keyboard = msg.payload.reply_markup.inline_keyboard.concat([[{\n        text: \"◀ Назад до меню статистики\",\n        callback_data: \"statistics\"            \n    }], \n    [{\n        text: \"⚙ Адмін-панель\",\n        callback_data: \"adminMenu\"\n    }]]);\n} else {\n    msg.payload.reply_markup.inline_keyboard.push([{\n        \"text\": \"↩ Головне меню\",\n        \"callback_data\": \"mainMenu\"\n    }]);\n}\n\n\n\nif (msg.sendAsASimpleMessage) return [msg, null];\nelse return [null, msg];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1050,
        "y": 180,
        "wires": [
            [
                "d5c114ce.369d48"
            ],
            [
                "9fc24cee.822f5"
            ]
        ]
    },
    {
        "id": "5b820640.b7dcf8",
        "type": "comment",
        "z": "d3d080fa.62628",
        "name": "Setting up answer to next or last or first question(pagination)",
        "info": "",
        "x": 420,
        "y": 140,
        "wires": []
    },
    {
        "id": "9fc24cee.822f5",
        "type": "change",
        "z": "d3d080fa.62628",
        "name": "Setting up url for editing message",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "\"https://api.telegram.org/bot\" & $env('TOKEN') & \"/editMessageText\"",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1400,
        "y": 300,
        "wires": [
            [
                "43f8240a.a3c04c"
            ]
        ]
    },
    {
        "id": "43f8240a.a3c04c",
        "type": "http request",
        "z": "d3d080fa.62628",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "basic",
        "x": 1670,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "db785c0e.a93d6",
        "type": "link in",
        "z": "d3d080fa.62628",
        "name": "Set answer to question(pagination)",
        "links": [
            "44ca7e7d.f7226",
            "d7b8d232.f7981",
            "857490ee.89b9d",
            "87c7d03d.ab97b"
        ],
        "x": 215,
        "y": 180,
        "wires": [
            [
                "393aa544.3be7ba"
            ]
        ]
    },
    {
        "id": "393aa544.3be7ba",
        "type": "function",
        "z": "d3d080fa.62628",
        "name": "Getting info from questions",
        "func": "msg.url = \"https://tg-bot-uni-develop.herokuapp.com/api/v1/questions/faq?questions_amount=5\";\nmsg.headers = msg.apiHeaders;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 440,
        "y": 180,
        "wires": [
            [
                "ffff4207.4cbe7"
            ]
        ]
    },
    {
        "id": "255971.a036369",
        "type": "link in",
        "z": "276bc02d.e347",
        "name": "Send message with info",
        "links": [
            "84602d83.794bf"
        ],
        "x": 195,
        "y": 100,
        "wires": [
            [
                "7d62bb88.a5bb24"
            ]
        ]
    },
    {
        "id": "dd7e88ad.066828",
        "type": "function",
        "z": "276bc02d.e347",
        "name": "Setting up message with info",
        "func": "msg.payload = {\n    \"parse_mode\": \"html\",\n    \"text\": msg.payload.settings.value,\n    \"chat_id\": msg.chat_id,\n    \"reply_markup\": {\n        \"inline_keyboard\": [[\n            {\n                \"text\": \"↩ Головне меню\",\n                \"callback_data\": \"mainMenu\"\n            }]\n        ]\n    },\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 980,
        "y": 100,
        "wires": [
            [
                "a38f117b.4a1c1"
            ]
        ]
    },
    {
        "id": "640de173.48ae8",
        "type": "comment",
        "z": "276bc02d.e347",
        "name": "Sending message with Info",
        "info": "",
        "x": 290,
        "y": 60,
        "wires": []
    },
    {
        "id": "7d62bb88.a5bb24",
        "type": "function",
        "z": "276bc02d.e347",
        "name": "Getting info",
        "func": "msg.url = \"https://tg-bot-uni-develop.herokuapp.com/api/v1/settings/get?name=\" + msg.message;\nmsg.headers = msg.apiHeaders;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 370,
        "y": 100,
        "wires": [
            [
                "9ad5d228.d8ffb"
            ]
        ]
    },
    {
        "id": "b8e30ec7.7d583",
        "type": "debug",
        "z": "276bc02d.e347",
        "name": "Getting info",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 180,
        "wires": []
    },
    {
        "id": "a38f117b.4a1c1",
        "type": "subflow:411ddac8.164cb4",
        "z": "276bc02d.e347",
        "name": "",
        "env": [],
        "x": 1290,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "336efa19.615be6",
        "type": "subflow:4001764a.8341f8",
        "z": "dbbd86af.74c0d8",
        "name": "",
        "env": [],
        "x": 650,
        "y": 3460,
        "wires": [
            [
                "1677f073.b40cc"
            ]
        ]
    },
    {
        "id": "d5c114ce.369d48",
        "type": "subflow:411ddac8.164cb4",
        "z": "d3d080fa.62628",
        "name": "",
        "env": [],
        "x": 1370,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "a67c174.729e1e8",
        "type": "http request",
        "z": "96f6108e.64a37",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 2010,
        "y": 120,
        "wires": [
            [
                "3038c760.952438",
                "cab5fa05.8972f8"
            ]
        ]
    },
    {
        "id": "4a21bcb4.3b48f4",
        "type": "http request",
        "z": "4c6874fb.68b9dc",
        "name": "",
        "method": "PUT",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 690,
        "y": 160,
        "wires": [
            [
                "4d10c364.bba70c",
                "f553be12.15931"
            ]
        ]
    },
    {
        "id": "36cbe213.34e8fe",
        "type": "http request",
        "z": "4c6874fb.68b9dc",
        "name": "",
        "method": "PUT",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 2750,
        "y": 160,
        "wires": [
            [
                "29b87cf7.8de694"
            ]
        ]
    },
    {
        "id": "14d25b8f.4b64c4",
        "type": "http request",
        "z": "3b5b98a.1c38768",
        "name": "",
        "method": "PUT",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 1490,
        "y": 140,
        "wires": [
            [
                "c6df9017.a5565"
            ]
        ]
    },
    {
        "id": "57f0180.55088e8",
        "type": "http request",
        "z": "68a30d94.469f94",
        "name": "",
        "method": "PUT",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 2970,
        "y": 280,
        "wires": [
            [
                "bfff6d3f.b5c17",
                "59d394d6.305dac"
            ]
        ]
    },
    {
        "id": "1001a33d.d9504d",
        "type": "function",
        "z": "68a30d94.469f94",
        "name": "Set occupation field",
        "func": "msg.url = \"https://tg-bot-uni-develop.herokuapp.com/api/v1/users?id=\" + msg.chat_id;\nmsg.headers = msg.apiHeaders;\n\nmsg.payload = {\n    \"type_name\": msg.occupation,\n    \"state\": {\"state\": \"registered\"}\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 2730,
        "y": 280,
        "wires": [
            [
                "57f0180.55088e8"
            ]
        ]
    },
    {
        "id": "858f85dd.43b438",
        "type": "http request",
        "z": "cbf72f33.63dd6",
        "name": "",
        "method": "PUT",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 1790,
        "y": 200,
        "wires": [
            [
                "bba92257.ecedb"
            ]
        ]
    },
    {
        "id": "ffff4207.4cbe7",
        "type": "http request",
        "z": "d3d080fa.62628",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 710,
        "y": 180,
        "wires": [
            [
                "5c5914e5.d60a4c"
            ]
        ]
    },
    {
        "id": "bb4c4877.8d7198",
        "type": "http request",
        "z": "cbf72f33.63dd6",
        "name": "",
        "method": "PUT",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 4730,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "9ad5d228.d8ffb",
        "type": "http request",
        "z": "276bc02d.e347",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 630,
        "y": 100,
        "wires": [
            [
                "dd7e88ad.066828",
                "b8e30ec7.7d583"
            ]
        ]
    },
    {
        "id": "ebcc50de.24dfc",
        "type": "link out",
        "z": "dbbd86af.74c0d8",
        "name": "Admin permission check",
        "links": [
            "10bc7ce3.c92493"
        ],
        "x": 1775,
        "y": 3520,
        "wires": []
    },
    {
        "id": "39c371c1.697aee",
        "type": "comment",
        "z": "dbbd86af.74c0d8",
        "name": "Admin",
        "info": "",
        "x": 1810,
        "y": 3480,
        "wires": []
    },
    {
        "id": "10bc7ce3.c92493",
        "type": "link in",
        "z": "14785f2b.3d2341",
        "name": "Admin permission check",
        "links": [
            "ebcc50de.24dfc"
        ],
        "x": 215,
        "y": 320,
        "wires": [
            [
                "16abb23a.271dde"
            ]
        ]
    },
    {
        "id": "174b2f09.720ee1",
        "type": "link in",
        "z": "74e0bd75.30b964",
        "name": "Send admin menu",
        "links": [
            "251e1dc6.f7dae2",
            "a0263de3.c8c3d",
            "6fc70e3b.e2da2",
            "16626079.4e26d",
            "416afadd.7a16f4",
            "59c43f49.d05c1"
        ],
        "x": 195,
        "y": 180,
        "wires": [
            [
                "3ec1dc48.121724"
            ]
        ]
    },
    {
        "id": "f8c321de.c69c",
        "type": "comment",
        "z": "74e0bd75.30b964",
        "name": "Sending admin menu",
        "info": "",
        "x": 280,
        "y": 140,
        "wires": []
    },
    {
        "id": "ee6a100.26f8bf",
        "type": "subflow:411ddac8.164cb4",
        "z": "74e0bd75.30b964",
        "name": "",
        "env": [],
        "x": 1510,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "7a6c7bed.6c8544",
        "type": "function",
        "z": "74e0bd75.30b964",
        "name": "Setting up message with admin menu",
        "func": "msg.payload = {\n    \"text\": \"Ви в адмін-панелі. Виберіть необхідний пункт\",\n    \"reply_markup\": {\n        \"inline_keyboard\": [[\n            {\n                \"text\": \"Статистика 📈\",\n                \"callback_data\": \"statistics\"            \n            }], \n            [{\n                \"text\": \"Редагування інформації ✍\",\n                \"callback_data\": \"editInfoMenu\"            \n            }],\n            [{\n                \"text\": \"Питання без відповіді ❓\",\n                \"callback_data\": \"unansweredQuestionsMenu\"            \n            }],\n            [{\n                \"text\": \"Оновити список питань 🔄\",\n                \"callback_data\": \"syncFAQ\"            \n            }],\n            [{\n                \"text\": \"Масова розсилка 📩\",\n                \"callback_data\": \"distribution\"            \n            }],\n            [{\n                \"text\": \"↩ Головне меню\",\n                \"callback_data\": \"mainMenu\"            \n            }]\n        ]\n    },\n    \"chat_id\": msg.chat_id\n}\n\n// If user is super-admin, it adds admin management button\nif (msg.user_payload.role_name == \"super-admin\") {\n    msg.payload.reply_markup.inline_keyboard.pop();\n    \n    msg.payload.reply_markup.inline_keyboard.push(\n        [{\n            text: \"Менеджмент адмінів 👨‍⚖️\",\n            callback_data: \"adminManagement\"\n        }],\n        [{\n            text: \"↩ Головне меню\",\n            callback_data: \"mainMenu\"            \n        }]);\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1150,
        "y": 180,
        "wires": [
            [
                "ee6a100.26f8bf"
            ]
        ]
    },
    {
        "id": "feea9f00.ef13e",
        "type": "comment",
        "z": "14785f2b.3d2341",
        "name": "Checking permissions",
        "info": "",
        "x": 300,
        "y": 280,
        "wires": []
    },
    {
        "id": "5cdcad90.c84254",
        "type": "function",
        "z": "68a30d94.469f94",
        "name": "Changing state field to 'occupation'",
        "func": "msg.url = \"https://tg-bot-uni-develop.herokuapp.com/api/v1/users?id=\" + msg.chat_id;\nmsg.headers = msg.apiHeaders;\n\nmsg.payload = {\n    \"state\": {\"state\": \"occupation\"}\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1240,
        "y": 300,
        "wires": [
            [
                "993855d7.043228"
            ]
        ]
    },
    {
        "id": "993855d7.043228",
        "type": "http request",
        "z": "68a30d94.469f94",
        "name": "",
        "method": "PUT",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 1530,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "b62113f8.d98b5",
        "type": "function",
        "z": "696b129b.360e0c",
        "name": "Changing state filed to 'created'",
        "func": "msg.url = \"https://tg-bot-uni-develop.herokuapp.com/api/v1/users?id=\" + msg.chat_id;\nmsg.headers = msg.apiHeaders;\n\nmsg.payload = {\n    \"state\": {\"state\": \"created\"}\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1310,
        "y": 140,
        "wires": [
            [
                "b36044b0.dd6018"
            ]
        ]
    },
    {
        "id": "b36044b0.dd6018",
        "type": "http request",
        "z": "696b129b.360e0c",
        "name": "",
        "method": "PUT",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 1590,
        "y": 140,
        "wires": [
            [
                "e074a2a5.84fdc"
            ]
        ]
    },
    {
        "id": "a5af100c.3c9e6",
        "type": "switch",
        "z": "dbbd86af.74c0d8",
        "name": "Callback query admin events",
        "property": "message",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "adminMenu",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "statistics",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "theMostPopularQuestionsForAdmin",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "totalNumberOfUsers",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "groupsMenuNumberOfUsers",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "editInfoMenu",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "unansweredQuestionsMenu",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "unansweredQuestions",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "clearUnansweredQuestionsListPrompt",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "clearUnansweredQuestionsList",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "syncFAQ",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "distribution",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "writeMessageForDistribution",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "sendMessageEditingDistribution",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "editGroupsForDistribution",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "editAllForDistribution",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "goToCompleteDistributionMessage",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "completeDistribution",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "adminManagement",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "addAdmin",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "adminsForDelete",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 21,
        "x": 1460,
        "y": 1800,
        "wires": [
            [
                "16626079.4e26d"
            ],
            [
                "441568f.2e4a998"
            ],
            [],
            [
                "384d9cd0.c20d84"
            ],
            [
                "88664c92.b9374"
            ],
            [
                "d620ef02.d8b9d"
            ],
            [
                "f0c9f660.bff8d8"
            ],
            [
                "284c3f7b.7c2f8"
            ],
            [
                "6a243c73.bf04f4"
            ],
            [
                "f1c3ab8.d32b458"
            ],
            [
                "fd270046.426d4"
            ],
            [
                "fb5c0751.e781d8"
            ],
            [
                "b1199913.726ea8"
            ],
            [
                "e3531219.e2e16"
            ],
            [
                "b0b82aef.d9adc8"
            ],
            [
                "ba8c27e5.b055f8"
            ],
            [
                "8ffc49f3.7d4878"
            ],
            [
                "ef489044.60ce5"
            ],
            [
                "d5772bfb.1db3b8"
            ],
            [
                "e3ee6ca3.b886c"
            ],
            [
                "22333f69.fdca5"
            ]
        ]
    },
    {
        "id": "441568f.2e4a998",
        "type": "link out",
        "z": "dbbd86af.74c0d8",
        "name": "Send admin statistics menu",
        "links": [
            "e6b71aba.a6e668"
        ],
        "x": 1775,
        "y": 1240,
        "wires": []
    },
    {
        "id": "1314e790.78d638",
        "type": "comment",
        "z": "dbbd86af.74c0d8",
        "name": "Send admin statistics menu",
        "info": "",
        "x": 1880,
        "y": 1200,
        "wires": []
    },
    {
        "id": "e6b71aba.a6e668",
        "type": "link in",
        "z": "892838ee.3ab438",
        "name": "Send admin statistics menu",
        "links": [
            "441568f.2e4a998"
        ],
        "x": 175,
        "y": 100,
        "wires": [
            [
                "62fb6121.5b6d6"
            ]
        ]
    },
    {
        "id": "69997a3a.806a74",
        "type": "comment",
        "z": "892838ee.3ab438",
        "name": "Sending admin statistics menu",
        "info": "",
        "x": 290,
        "y": 60,
        "wires": []
    },
    {
        "id": "62fb6121.5b6d6",
        "type": "function",
        "z": "892838ee.3ab438",
        "name": "Setting up message with admin statistics menu",
        "func": "msg.payload = {\n    \"text\": \"Виберіть необхідний пункт 📊\",\n    \"reply_markup\": {\n        \"inline_keyboard\": [[\n            {\n                \"text\": \"Найбільш поширені питання 📋\",\n                \"callback_data\": \"theMostPopularQuestions\"            \n            }],\n            [{\n                \"text\": \"Загальна кількість користувачів 🧮\",\n                \"callback_data\": \"totalNumberOfUsers\"            \n            }],\n            [{\n                \"text\": \"Кількість користувачів певної групи 🧮\",\n                \"callback_data\": \"groupsMenuNumberOfUsers\"            \n            }],\n            [{\n                \"text\": \"⚙ Адмін-панель\",\n                \"callback_data\": \"adminMenu\"            \n            }]\n        ]\n    },\n    \"chat_id\": msg.chat_id\n}\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 480,
        "y": 100,
        "wires": [
            [
                "ef71566a.78a108"
            ]
        ]
    },
    {
        "id": "ef71566a.78a108",
        "type": "subflow:411ddac8.164cb4",
        "z": "892838ee.3ab438",
        "name": "",
        "x": 870,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "384d9cd0.c20d84",
        "type": "link out",
        "z": "dbbd86af.74c0d8",
        "name": "Get total number of users",
        "links": [
            "fa6195ba.f6b108"
        ],
        "x": 1775,
        "y": 1320,
        "wires": []
    },
    {
        "id": "b83bf345.f41b6",
        "type": "comment",
        "z": "dbbd86af.74c0d8",
        "name": "Get total number of users",
        "info": "",
        "x": 1870,
        "y": 1280,
        "wires": []
    },
    {
        "id": "fa6195ba.f6b108",
        "type": "link in",
        "z": "892838ee.3ab438",
        "name": "Get total number of users",
        "links": [
            "384d9cd0.c20d84",
            "1efe31e6.57de7e"
        ],
        "x": 175,
        "y": 240,
        "wires": [
            [
                "b21b9fd9.f3f67"
            ]
        ]
    },
    {
        "id": "9cefd413.fc1df8",
        "type": "comment",
        "z": "892838ee.3ab438",
        "name": "Getting total number of users",
        "info": "",
        "x": 280,
        "y": 200,
        "wires": []
    },
    {
        "id": "b21b9fd9.f3f67",
        "type": "function",
        "z": "892838ee.3ab438",
        "name": "Getting total number of users",
        "func": "msg.url = \"https://tg-bot-uni-develop.herokuapp.com/api/v1/users/statistics\" + (msg.message.split('_')[1] ? (\"?type_name=\" + msg.message.split('_')[1]) : \"\" );\nmsg.headers = msg.apiHeaders;\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 420,
        "y": 240,
        "wires": [
            [
                "38d61daa.3cd252"
            ]
        ]
    },
    {
        "id": "84ca21f9.36fa6",
        "type": "function",
        "z": "892838ee.3ab438",
        "name": "Setting up message with total number of users",
        "func": "msg.payload = {\n    \"text\": \"Загальна кількість користувачів: \" + msg.payload.usersAmount,\n    \"reply_markup\": {\n        \"inline_keyboard\": [[\n            {\n                \"text\": \"◀ Назад до меню статистики\",\n                \"callback_data\": \"statistics\"            \n            }],\n            [{\n                \"text\": \"⚙ Адмін-панель\",\n                \"callback_data\": \"adminMenu\"            \n            }]\n        ]\n    },\n    \"chat_id\": msg.chat_id\n}\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1120,
        "y": 240,
        "wires": [
            [
                "3ef52885.a11438"
            ]
        ]
    },
    {
        "id": "3ef52885.a11438",
        "type": "subflow:411ddac8.164cb4",
        "z": "892838ee.3ab438",
        "name": "",
        "x": 1510,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "38d61daa.3cd252",
        "type": "http request",
        "z": "892838ee.3ab438",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 690,
        "y": 240,
        "wires": [
            [
                "84ca21f9.36fa6"
            ]
        ]
    },
    {
        "id": "1efe31e6.57de7e",
        "type": "link out",
        "z": "dbbd86af.74c0d8",
        "name": "Send number of users of a group",
        "links": [
            "fa6195ba.f6b108"
        ],
        "x": 1775,
        "y": 2920,
        "wires": []
    },
    {
        "id": "6f51c3f6.40991c",
        "type": "comment",
        "z": "dbbd86af.74c0d8",
        "name": "Send number of users of a group",
        "info": "",
        "x": 1890,
        "y": 2880,
        "wires": []
    },
    {
        "id": "4acba4db.21b67c",
        "type": "switch",
        "z": "dbbd86af.74c0d8",
        "name": "Admin users statistics of groups",
        "property": "$split(msg.message, \"_\", 1)",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "eq",
                "v": "numberOfUsersOfAGroup",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1310,
        "y": 2920,
        "wires": [
            [
                "1efe31e6.57de7e"
            ]
        ]
    },
    {
        "id": "e73d99f1.c57c58",
        "type": "link in",
        "z": "892838ee.3ab438",
        "name": "Send menu with groups (number of users)",
        "links": [
            "88664c92.b9374"
        ],
        "x": 175,
        "y": 380,
        "wires": [
            [
                "3e97624e.e1943e"
            ]
        ]
    },
    {
        "id": "febae297.ef2cf",
        "type": "comment",
        "z": "892838ee.3ab438",
        "name": "Sending menu with groups (number of users)",
        "info": "",
        "x": 330,
        "y": 340,
        "wires": []
    },
    {
        "id": "3e97624e.e1943e",
        "type": "function",
        "z": "892838ee.3ab438",
        "name": "Setting up message with menu with groups",
        "func": "msg.payload = {\n    \"text\": \"Виберіть необхідний пункт 📊\",\n    \"reply_markup\": {\n        \"inline_keyboard\": [[\n            {\n                \"text\": \"Абітурієнт\",\n                \"callback_data\": \"numberOfUsersOfAGroup_Applicant\"            \n            }, \n            {\n                \"text\": \"Один з батьків\",\n                \"callback_data\": \"numberOfUsersOfAGroup_Parent\"            \n            }],\n            [{\n                \"text\": \"Викладач\",\n                \"callback_data\": \"numberOfUsersOfAGroup_Teacher\"            \n            },\n            {\n                \"text\": \"Студент\",\n                \"callback_data\": \"numberOfUsersOfAGroup_Student\"            \n            }],\n            [{\n                \"text\": \"Інше\",\n                \"callback_data\": \"numberOfUsersOfAGroup_Other\"            \n            }],\n            [{\n                \"text\": \"◀ Назад до меню статистики\",\n                \"callback_data\": \"statistics\"            \n            }],\n            [{\n                \"text\": \"⚙ Адмін-панель\",\n                \"callback_data\": \"adminMenu\"            \n            }]\n        ]\n    },\n    \"chat_id\": msg.chat_id\n}\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 470,
        "y": 380,
        "wires": [
            [
                "88c9da92.3faac8"
            ]
        ]
    },
    {
        "id": "88c9da92.3faac8",
        "type": "subflow:411ddac8.164cb4",
        "z": "892838ee.3ab438",
        "name": "",
        "x": 850,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "88664c92.b9374",
        "type": "link out",
        "z": "dbbd86af.74c0d8",
        "name": "Send menu with groups (number of users)",
        "links": [
            "e73d99f1.c57c58"
        ],
        "x": 1775,
        "y": 1400,
        "wires": []
    },
    {
        "id": "a193e222.7975b",
        "type": "comment",
        "z": "dbbd86af.74c0d8",
        "name": "Send menu with groups (number of users)",
        "info": "",
        "x": 1920,
        "y": 1360,
        "wires": []
    },
    {
        "id": "16626079.4e26d",
        "type": "link out",
        "z": "dbbd86af.74c0d8",
        "name": "Send admin menu",
        "links": [
            "174b2f09.720ee1"
        ],
        "x": 1775,
        "y": 1140,
        "wires": []
    },
    {
        "id": "c4e635cf.389bf8",
        "type": "comment",
        "z": "dbbd86af.74c0d8",
        "name": "Send admin menu",
        "info": "",
        "x": 1850,
        "y": 1100,
        "wires": []
    },
    {
        "id": "e06e2c86.59eb2",
        "type": "comment",
        "z": "dbbd86af.74c0d8",
        "name": "Start editing info",
        "info": "",
        "x": 1840,
        "y": 2980,
        "wires": []
    },
    {
        "id": "63b0881b.a8f938",
        "type": "switch",
        "z": "dbbd86af.74c0d8",
        "name": "Start editing info",
        "property": "$split(msg.message, \"_\", 1)",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "eq",
                "v": "editInfo",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1260,
        "y": 3020,
        "wires": [
            [
                "b634643e.b6e4a8"
            ]
        ]
    },
    {
        "id": "b634643e.b6e4a8",
        "type": "link out",
        "z": "dbbd86af.74c0d8",
        "name": "Start editing info",
        "links": [
            "6eb3f60a.d73ba8",
            "a9fa525e.2b40b"
        ],
        "x": 1775,
        "y": 3020,
        "wires": []
    },
    {
        "id": "6eb3f60a.d73ba8",
        "type": "link in",
        "z": "76bd89c2.eace48",
        "name": "Start editing info",
        "links": [
            "b634643e.b6e4a8"
        ],
        "x": 195,
        "y": 280,
        "wires": [
            [
                "3b51c244.f6a03e"
            ]
        ]
    },
    {
        "id": "a04c29.fed883d8",
        "type": "comment",
        "z": "76bd89c2.eace48",
        "name": "Start editing info",
        "info": "",
        "x": 260,
        "y": 240,
        "wires": []
    },
    {
        "id": "52968a19.95efe4",
        "type": "function",
        "z": "76bd89c2.eace48",
        "name": "Setting up message to write new text",
        "func": "msg.payload = {\n    \"text\": \"Вкажіть новий текст для використання 🍓\",\n    \"chat_id\": msg.chat_id\n}\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1290,
        "y": 280,
        "wires": [
            [
                "a840a40f.812458"
            ]
        ]
    },
    {
        "id": "a840a40f.812458",
        "type": "subflow:411ddac8.164cb4",
        "z": "76bd89c2.eace48",
        "name": "",
        "env": [],
        "x": 1670,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "d609159f.a9e588",
        "type": "link in",
        "z": "76bd89c2.eace48",
        "name": "Edit info",
        "links": [
            "537142d8.31be7c",
            "f3b73302.b6bf3"
        ],
        "x": 195,
        "y": 420,
        "wires": [
            [
                "31e9048a.92614c"
            ]
        ]
    },
    {
        "id": "35e49a63.cf1266",
        "type": "comment",
        "z": "76bd89c2.eace48",
        "name": "Edit info",
        "info": "",
        "x": 240,
        "y": 380,
        "wires": []
    },
    {
        "id": "31e9048a.92614c",
        "type": "function",
        "z": "76bd89c2.eace48",
        "name": "Editing info",
        "func": "msg.url = \"https://tg-bot-uni-develop.herokuapp.com/api/v1/settings/change\";\nmsg.headers = msg.apiHeaders;\n\n\n\nmsg.payload = {\n    \"name\": msg.user_payload.state.state.split('_')[1],\n    \"value\": msg.message\n}\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 390,
        "y": 420,
        "wires": [
            [
                "ca8a8ab0.459f08"
            ]
        ]
    },
    {
        "id": "ca8a8ab0.459f08",
        "type": "http request",
        "z": "76bd89c2.eace48",
        "name": "",
        "method": "PUT",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 630,
        "y": 420,
        "wires": [
            [
                "8ef6a097.3e4e9"
            ]
        ]
    },
    {
        "id": "8ef6a097.3e4e9",
        "type": "switch",
        "z": "76bd89c2.eace48",
        "name": "If successful",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "200",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 910,
        "y": 420,
        "wires": [
            [
                "86b37728.c9ce98"
            ],
            [
                "7957d706.e73268"
            ]
        ]
    },
    {
        "id": "86b37728.c9ce98",
        "type": "function",
        "z": "76bd89c2.eace48",
        "name": "Setting up message about successful editing",
        "func": "msg.payload = {\n    \"text\": \"Текст успішно змінено\",\n    \"reply_markup\": {\n        \"inline_keyboard\": [\n            [{\n                \"text\": \"◀ Назад до меню редагування інформації\",\n                \"callback_data\": \"editInfoMenu\"\n            }],\n            [{\n                \"text\": \"⚙ Адмін-панель\",\n                \"callback_data\": \"adminMenu\"\n            }]\n        ]\n    },\n    \"chat_id\": msg.chat_id\n}\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1310,
        "y": 360,
        "wires": [
            [
                "a5df2520.fa5008"
            ]
        ]
    },
    {
        "id": "a5df2520.fa5008",
        "type": "subflow:411ddac8.164cb4",
        "z": "76bd89c2.eace48",
        "name": "",
        "env": [],
        "x": 1670,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "7957d706.e73268",
        "type": "function",
        "z": "76bd89c2.eace48",
        "name": "Setting up message about failed editing",
        "func": "msg.payload = {\n    \"text\": \"Сталася помилка\",\n    \"chat_id\": msg.chat_id\n}\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1300,
        "y": 480,
        "wires": [
            [
                "e6ea5ac9.012de8"
            ]
        ]
    },
    {
        "id": "e6ea5ac9.012de8",
        "type": "subflow:411ddac8.164cb4",
        "z": "76bd89c2.eace48",
        "name": "",
        "env": [],
        "x": 1670,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "2bb0fcbb.eacf14",
        "type": "function",
        "z": "59350fd8.5c52c",
        "name": "Setting up state and list with occupations",
        "func": "msg.url = \"https://tg-bot-uni-develop.herokuapp.com/api/v1/users?id=\" + msg.chat_id;\nmsg.headers = msg.apiHeaders;\n\n\n\nmsg.payload = {\"state\": msg.user_payload.state};\n\n\n\nif (msg.message == \"distribution\") {\n    \n    msg.payload.state.state = \"settingGroupsForDistribution\";\n    msg.payload.state.occupations = [];\n    \n} else if (msg.message == \"editAllForDistribution\") {\n    \n    msg.addedOccupations = msg.user_payload.state.occupations;\n    \n    msg.payload.state.state = \"settingGroupsForDistribution\";\n    delete msg.payload.state.message;\n    \n} else if (msg.message == \"editGroupsForDistribution\") {\n    \n    msg.addedOccupations = msg.user_payload.state.occupations;\n    \n    msg.payload.state.state = \"settingGroupsForDistribution\";\n    \n}else {\n    \n    msg.addedOccupations = msg.user_payload.state.occupations;\n    \n    occupation = msg.message.split('_')[1];\n    \n    //removes choosed occupation if exists in array\n    if (msg.addedOccupations.includes(occupation)) msg.addedOccupations = msg.addedOccupations.filter(value => value != occupation);\n    else msg.addedOccupations.push(occupation);\n    \n    //add occupation to occupations filed of user state field\n    msg.payload.state.occupations = msg.addedOccupations;\n    \n}\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 600,
        "y": 180,
        "wires": [
            [
                "92eb133.434a4f"
            ]
        ]
    },
    {
        "id": "a8f532b7.9551d",
        "type": "link in",
        "z": "59350fd8.5c52c",
        "name": "Send list of groups for distribution",
        "links": [
            "fb5c0751.e781d8",
            "9b2645fd.c8ba98",
            "b0b82aef.d9adc8",
            "ba8c27e5.b055f8"
        ],
        "x": 315,
        "y": 180,
        "wires": [
            [
                "2bb0fcbb.eacf14"
            ]
        ]
    },
    {
        "id": "6d7b857a.114fec",
        "type": "comment",
        "z": "59350fd8.5c52c",
        "name": "Sending list of groups for distribution",
        "info": "",
        "x": 440,
        "y": 140,
        "wires": []
    },
    {
        "id": "e70f41c0.f3098",
        "type": "subflow:411ddac8.164cb4",
        "z": "59350fd8.5c52c",
        "name": "",
        "env": [],
        "x": 2060,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "fb5c0751.e781d8",
        "type": "link out",
        "z": "dbbd86af.74c0d8",
        "name": "Send list of groups for distribution",
        "links": [
            "a8f532b7.9551d"
        ],
        "x": 1775,
        "y": 2040,
        "wires": []
    },
    {
        "id": "15c919f4.91a136",
        "type": "comment",
        "z": "dbbd86af.74c0d8",
        "name": "Send list of groups for distribution",
        "info": "",
        "x": 1890,
        "y": 2000,
        "wires": []
    },
    {
        "id": "1ec0b11f.98ad7f",
        "type": "switch",
        "z": "dbbd86af.74c0d8",
        "name": "Add group for distribution",
        "property": "$split(msg.message, \"_\", 1)",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "eq",
                "v": "addForDistribution",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1290,
        "y": 3120,
        "wires": [
            [
                "9b2645fd.c8ba98"
            ]
        ]
    },
    {
        "id": "9b2645fd.c8ba98",
        "type": "link out",
        "z": "dbbd86af.74c0d8",
        "name": "Add group for distribution",
        "links": [
            "a8f532b7.9551d"
        ],
        "x": 1775,
        "y": 3120,
        "wires": []
    },
    {
        "id": "be03b478.0c00c8",
        "type": "comment",
        "z": "dbbd86af.74c0d8",
        "name": "Add group for distribution",
        "info": "",
        "x": 1870,
        "y": 3080,
        "wires": []
    },
    {
        "id": "5b54cd4a.61f504",
        "type": "http request",
        "z": "59350fd8.5c52c",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "basic",
        "x": 2360,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "76441be9.c976f4",
        "type": "change",
        "z": "59350fd8.5c52c",
        "name": "Setting up editMessageText url",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "\"https://api.telegram.org/bot\" & $env('TOKEN') & \"/editMessageText\"",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2080,
        "y": 260,
        "wires": [
            [
                "5b54cd4a.61f504"
            ]
        ]
    },
    {
        "id": "b5ff5cf5.c0b24",
        "type": "link in",
        "z": "59350fd8.5c52c",
        "name": "Send message to write text for distribution",
        "links": [
            "b1199913.726ea8"
        ],
        "x": 315,
        "y": 420,
        "wires": [
            [
                "5cecf8af.0c1248"
            ]
        ]
    },
    {
        "id": "9a88c541.0459e8",
        "type": "comment",
        "z": "59350fd8.5c52c",
        "name": "Sending message to write text for distribution",
        "info": "",
        "x": 470,
        "y": 380,
        "wires": []
    },
    {
        "id": "b1199913.726ea8",
        "type": "link out",
        "z": "dbbd86af.74c0d8",
        "name": "Send message to write text for distribution",
        "links": [
            "b5ff5cf5.c0b24",
            "fe06c939.f5a5f8"
        ],
        "x": 1775,
        "y": 2120,
        "wires": []
    },
    {
        "id": "29728730.274f78",
        "type": "comment",
        "z": "dbbd86af.74c0d8",
        "name": "Send message to write text for distribution",
        "info": "",
        "x": 1920,
        "y": 2080,
        "wires": []
    },
    {
        "id": "eae2ed79.704ac",
        "type": "function",
        "z": "59350fd8.5c52c",
        "name": "Setting up message to write text for distribution",
        "func": "msg.payload = {\n    \"text\": \"Введіть необхідний для розсилки текст\",\n    \"chat_id\": msg.chat_id\n}\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1260,
        "y": 420,
        "wires": [
            [
                "a033be76.0e7ac"
            ]
        ]
    },
    {
        "id": "a033be76.0e7ac",
        "type": "subflow:411ddac8.164cb4",
        "z": "59350fd8.5c52c",
        "name": "",
        "env": [],
        "x": 1670,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "db5111a4.bf331",
        "type": "link in",
        "z": "59350fd8.5c52c",
        "name": "Send message with confirming spreading button",
        "links": [
            "b736f0dc.7e744",
            "9c1f5735.fbe608",
            "8ffc49f3.7d4878"
        ],
        "x": 315,
        "y": 600,
        "wires": [
            [
                "f768f6de.9cf298"
            ]
        ]
    },
    {
        "id": "42cc6517.88b41c",
        "type": "comment",
        "z": "59350fd8.5c52c",
        "name": "Sending message with confirming spreading button",
        "info": "",
        "x": 490,
        "y": 560,
        "wires": []
    },
    {
        "id": "9ef6addc.728b4",
        "type": "subflow:411ddac8.164cb4",
        "z": "59350fd8.5c52c",
        "name": "",
        "env": [],
        "x": 1670,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "fc0983c6.40571",
        "type": "function",
        "z": "59350fd8.5c52c",
        "name": "Setting up message with confirming spreading button",
        "func": "var occupations = {\"Applicant\": \"Абітурієнти\", \"Parent\": \"Батьки\", \"Teacher\": \"Викладачі\", \"Student\": \"Студенти\", \"Other\": \"Інше\"};\n\nvar choosedOccupations = [];\n\n\n//replacement of english words with ukrainian ones\nmsg.user_payload.state.occupations.forEach((value) => {\n    \n    if(Object.keys(occupations).includes(value)) {\n        choosedOccupations.push(occupations[value]);\n    }\n    \n});\n\n\n\nmsg.payload = {\n    \"text\": \"Категорія користувачів: \" + (choosedOccupations.join(', '))\n    + \"\\nПовідомлення:\\n \" + msg.user_payload.state.message + \"\\n Надіслати повідомлення обраним користувачам?\",\n    \"reply_markup\": {\n        \"inline_keyboard\": [[\n            {\n                \"text\": \"Ні, повернутись до редагування\",\n                \"callback_data\": \"sendMessageEditingDistribution\"            \n            }], \n            [{\n                \"text\": \"Так, продовжити\",\n                \"callback_data\": \"completeDistribution\"          \n            }],\n            [{\n                \"text\": \"Повністю скасувати розсилку\",\n                \"callback_data\": \"adminMenu\"            \n            }]\n        ]\n    },\n    \"chat_id\": msg.chat_id\n}\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1280,
        "y": 600,
        "wires": [
            [
                "9ef6addc.728b4"
            ]
        ]
    },
    {
        "id": "e3531219.e2e16",
        "type": "link out",
        "z": "dbbd86af.74c0d8",
        "name": "Send message with buttons for editing distribution",
        "links": [
            "8182241d.800bf8"
        ],
        "x": 1775,
        "y": 2200,
        "wires": []
    },
    {
        "id": "4739e0dc.1da31",
        "type": "comment",
        "z": "dbbd86af.74c0d8",
        "name": "Send message with buttons for editing distribution",
        "info": "",
        "x": 1940,
        "y": 2160,
        "wires": []
    },
    {
        "id": "8182241d.800bf8",
        "type": "link in",
        "z": "59350fd8.5c52c",
        "name": "Send message with buttons for editing distribution",
        "links": [
            "e3531219.e2e16"
        ],
        "x": 315,
        "y": 760,
        "wires": [
            [
                "464d9ee.e730a6"
            ]
        ]
    },
    {
        "id": "f469e1bc.18146",
        "type": "comment",
        "z": "59350fd8.5c52c",
        "name": "Sending message with buttons for editing distribution",
        "info": "",
        "x": 490,
        "y": 720,
        "wires": []
    },
    {
        "id": "464d9ee.e730a6",
        "type": "function",
        "z": "59350fd8.5c52c",
        "name": "Setting up message with buttons for editing distribution",
        "func": "msg.payload = {\n    \"text\": \"Що необхідно відредагувати?\",\n    \"reply_markup\": {\n        \"inline_keyboard\": [[\n            {\n                \"text\": \"Категорії користувачів\",\n                \"callback_data\": \"editGroupsForDistribution\"            \n            }, \n            {\n                \"text\": \"Текст повідомлення\",\n                \"callback_data\": \"writeMessageForDistribution\"            \n            }],\n            [{\n                \"text\": \"І те і інше\",\n                \"callback_data\": \"editAllForDistribution\"            \n            }]\n        ]\n    },\n    \"chat_id\": msg.chat_id\n}\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 640,
        "y": 760,
        "wires": [
            [
                "f33aa358.28c37"
            ]
        ]
    },
    {
        "id": "f33aa358.28c37",
        "type": "subflow:411ddac8.164cb4",
        "z": "59350fd8.5c52c",
        "name": "",
        "env": [],
        "x": 1030,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "b0d5bd6c.c553d",
        "type": "link in",
        "z": "59350fd8.5c52c",
        "name": "Complete distribution",
        "links": [
            "ef489044.60ce5"
        ],
        "x": 315,
        "y": 920,
        "wires": [
            [
                "d01bf2b1.154b"
            ]
        ]
    },
    {
        "id": "a46b81a3.c399",
        "type": "comment",
        "z": "59350fd8.5c52c",
        "name": "Complete distribution",
        "info": "",
        "x": 400,
        "y": 880,
        "wires": []
    },
    {
        "id": "d01bf2b1.154b",
        "type": "function",
        "z": "59350fd8.5c52c",
        "name": "Getting users",
        "func": "msg.url = \"https://tg-bot-uni-develop.herokuapp.com/api/v1/users?type_name=\" + (msg.user_payload.state.occupations.join('&type_name='));\nmsg.headers = msg.apiHeaders;\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 520,
        "y": 920,
        "wires": [
            [
                "ecc482b0.00a"
            ]
        ]
    },
    {
        "id": "ecc482b0.00a",
        "type": "http request",
        "z": "59350fd8.5c52c",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 770,
        "y": 920,
        "wires": [
            [
                "a5102251.e189a"
            ]
        ]
    },
    {
        "id": "a09c0ff1.528c5",
        "type": "function",
        "z": "59350fd8.5c52c",
        "name": "Completing distibution",
        "func": "var apiResponse = msg.payload.users;\n\n\n//distribution message\nmsg.payload = {\n    \"text\": msg.user_payload.state.message,\n}\n\n\n//sending distribution message for selected groups of users\nfor (var i = 0; i < apiResponse.length; i++) {\n    msg.payload.chat_id = apiResponse[i].id;\n        \n    node.send(msg);\n}\n\n\n//message about successful distribution(for admin)\nmsg.payload = {\n    \"text\": \"✅ Розсилка успішно здійснена\",\n    \"reply_markup\": {\n        \"inline_keyboard\": [[\n            {\n                \"text\": \"⚙ Адмін-панель\",\n                \"callback_data\": \"adminMenu\"            \n            }]\n        ]\n    },\n    \"chat_id\": msg.chat_id\n}\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1220,
        "y": 920,
        "wires": [
            [
                "33e611e8.1dd02e"
            ]
        ]
    },
    {
        "id": "33e611e8.1dd02e",
        "type": "subflow:411ddac8.164cb4",
        "z": "59350fd8.5c52c",
        "name": "",
        "env": [],
        "x": 1530,
        "y": 920,
        "wires": [
            [
                "57e48ccd.cf1694"
            ]
        ]
    },
    {
        "id": "2c29d5cc.f3f26a",
        "type": "function",
        "z": "cbf72f33.63dd6",
        "name": "Add unanswered question",
        "func": "msg.url = \"https://tg-bot-uni-develop.herokuapp.com/api/v1/questions\";\nmsg.headers = msg.apiHeaders;\n\n\n\nmsg.payload = {\n    \"question\": msg.message\n}\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 4430,
        "y": 520,
        "wires": [
            [
                "6759fe90.40e07"
            ]
        ]
    },
    {
        "id": "6759fe90.40e07",
        "type": "http request",
        "z": "cbf72f33.63dd6",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 4730,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "16abb23a.271dde",
        "type": "function",
        "z": "14785f2b.3d2341",
        "name": "If admin",
        "func": "if (msg.statusCode == 200 && msg.user_payload.role_name.includes(\"admin\")) {\n    return [null, msg];\n}\n\nreturn [msg, null];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 460,
        "y": 320,
        "wires": [
            [
                "c93fac14.b4c41"
            ],
            [
                "59c43f49.d05c1"
            ]
        ],
        "outputLabels": [
            "Isn't admin",
            "Is admin"
        ]
    },
    {
        "id": "3b51c244.f6a03e",
        "type": "function",
        "z": "76bd89c2.eace48",
        "name": "Set status 'editing info'",
        "func": "msg.url = \"https://tg-bot-uni-develop.herokuapp.com/api/v1/users?id=\" + msg.chat_id;\nmsg.headers = msg.apiHeaders;\n\n\n\nmsg.payload = {\"state\": msg.user_payload.state};\nmsg.payload.state.state = \"editingInfo_\" + msg.message.split('_')[1];\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 420,
        "y": 280,
        "wires": [
            [
                "cf7f49d8.775858"
            ]
        ]
    },
    {
        "id": "cf7f49d8.775858",
        "type": "http request",
        "z": "76bd89c2.eace48",
        "name": "",
        "method": "PUT",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 690,
        "y": 280,
        "wires": [
            [
                "31999288.76a66e"
            ]
        ]
    },
    {
        "id": "31999288.76a66e",
        "type": "switch",
        "z": "76bd89c2.eace48",
        "name": "If success",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "200",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 920,
        "y": 280,
        "wires": [
            [
                "52968a19.95efe4"
            ]
        ]
    },
    {
        "id": "b42d2140.4b459",
        "type": "comment",
        "z": "cbf72f33.63dd6",
        "name": "Edit info",
        "info": "",
        "x": 1780,
        "y": 700,
        "wires": []
    },
    {
        "id": "f3b73302.b6bf3",
        "type": "link out",
        "z": "cbf72f33.63dd6",
        "name": "Edit info",
        "links": [
            "d609159f.a9e588"
        ],
        "x": 1735,
        "y": 740,
        "wires": []
    },
    {
        "id": "92eb133.434a4f",
        "type": "http request",
        "z": "59350fd8.5c52c",
        "name": "",
        "method": "PUT",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 930,
        "y": 180,
        "wires": [
            [
                "6d615cc0.3b18b4"
            ]
        ]
    },
    {
        "id": "6d615cc0.3b18b4",
        "type": "switch",
        "z": "59350fd8.5c52c",
        "name": "If success",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "200",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1180,
        "y": 180,
        "wires": [
            [
                "2752e817.64aad8"
            ]
        ]
    },
    {
        "id": "2752e817.64aad8",
        "type": "function",
        "z": "59350fd8.5c52c",
        "name": "Setting up message with list of groups for distribution",
        "func": "var occupations = [[\"Applicant\", '', \"Абітурієнти\"], [\"Parent\", '', \"Батьки\"], [\"Teacher\", '', \"Викладачі\"], [\"Student\", '', \"Студенти\"], [\"Other\", '', \"Інше\"]];\n\n\n\nmsg.payload = {\n    \"text\": \"Виберіть категорію користувачів 🙂\",\n    \"reply_markup\": {\n        \"inline_keyboard\": []\n    },\n    \"chat_id\": msg.chat_id\n}\n\n\n//marking choosed occupations\nif (msg.message != \"distribution\")  {\n    \n    occupations.forEach((value, index) => {\n        \n        if (msg.addedOccupations.includes(value[0])) occupations[index][1] = \"✅\";\n        \n    });\n    \n}\n\n\n//adding inline buttons of occupations\nvar occupationButtons = [];\noccupations.forEach((value, index) => {\n\n    occupationButtons.push({\n            \"text\": value[1] + value[2],\n            \"callback_data\": \"addForDistribution_\" + value[0]            \n        });\n\n    if((index+1)%2 == 0 || index == (occupations.length-1)) {\n\n        msg.payload.reply_markup.inline_keyboard.push(occupationButtons);\n        \n        occupationButtons = [];\n\n    }\n\n});\n\n\n\nif (msg.message != \"distribution\")  {\n    \n    //adds 'continue' button if there are any choosed occupations\n    msg.payload.message_id = msg.message_id;\n    \n    if (occupations.flat().includes(\"✅\")) {\n        \n        msg.payload.reply_markup.inline_keyboard.push(\n            [{\n                \"text\": \"Продовжити\",\n                \"callback_data\": ((msg.user_payload.state.message) ? \"goToCompleteDistributionMessage\" : \"writeMessageForDistribution\")        \n            }]);\n            \n    }\n    \n}\n\n\n\nmsg.payload.reply_markup.inline_keyboard.push(\n        [{\n            \"text\": \"⚙ Адмін-панель\",\n            \"callback_data\": \"adminMenu\"            \n        }]);\n\n\n\nif (msg.message != \"distribution\") {\n    return [null, msg];\n}\n\n\n\nreturn [msg, null];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1620,
        "y": 180,
        "wires": [
            [
                "e70f41c0.f3098"
            ],
            [
                "76441be9.c976f4"
            ]
        ]
    },
    {
        "id": "689e4325.47104c",
        "type": "switch",
        "z": "dbbd86af.74c0d8",
        "name": "Is admin",
        "property": "payload.user.role_name",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "admin",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 840,
        "y": 2160,
        "wires": [
            [
                "a5af100c.3c9e6",
                "4acba4db.21b67c",
                "63b0881b.a8f938",
                "1ec0b11f.98ad7f",
                "77999755.4ff548",
                "abd8c51f.27f648"
            ],
            []
        ]
    },
    {
        "id": "c017e434.7d5098",
        "type": "subflow:4001764a.8341f8",
        "z": "dbbd86af.74c0d8",
        "name": "",
        "env": [],
        "x": 870,
        "y": 760,
        "wires": [
            [
                "9cf5e768.5f55e8"
            ]
        ]
    },
    {
        "id": "5cecf8af.0c1248",
        "type": "function",
        "z": "59350fd8.5c52c",
        "name": "Set status 'writingTextForDistribution'",
        "func": "msg.url = \"https://tg-bot-uni-develop.herokuapp.com/api/v1/users?id=\" + msg.chat_id;\nmsg.headers = msg.apiHeaders;\n\n\n\nmsg.payload = {\"state\": msg.user_payload.state};\nmsg.payload.state.state = \"writingTextForDistribution\";\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 570,
        "y": 420,
        "wires": [
            [
                "e4c1baf3.fe42b8"
            ]
        ]
    },
    {
        "id": "e4c1baf3.fe42b8",
        "type": "http request",
        "z": "59350fd8.5c52c",
        "name": "",
        "method": "PUT",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 890,
        "y": 420,
        "wires": [
            [
                "eae2ed79.704ac"
            ]
        ]
    },
    {
        "id": "a5102251.e189a",
        "type": "switch",
        "z": "59350fd8.5c52c",
        "name": "If success",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "200",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 980,
        "y": 920,
        "wires": [
            [
                "a09c0ff1.528c5"
            ]
        ]
    },
    {
        "id": "9c1f5735.fbe608",
        "type": "link out",
        "z": "cbf72f33.63dd6",
        "name": "Send message with confirming spreading button",
        "links": [
            "db5111a4.bf331",
            "f7fe263.2dba3d8"
        ],
        "x": 1735,
        "y": 840,
        "wires": []
    },
    {
        "id": "ac5bd21e.b470b",
        "type": "comment",
        "z": "cbf72f33.63dd6",
        "name": "Send message with confirming spreading button",
        "info": "",
        "x": 1900,
        "y": 800,
        "wires": []
    },
    {
        "id": "57e48ccd.cf1694",
        "type": "function",
        "z": "59350fd8.5c52c",
        "name": "Set status 'registered'",
        "func": "msg.url = \"https://tg-bot-uni-develop.herokuapp.com/api/v1/users?id=\" + msg.chat_id;\nmsg.headers = msg.apiHeaders;\n\n\n\nmsg.payload = {\n    \"state\": {\n        \"state\": \"registered\",\n        \"df_contexts\": (msg.user_payload.state.df_contexts ? msg.user_payload.state.df_contexts : [])   \n    }\n}\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1860,
        "y": 920,
        "wires": [
            [
                "ee8a826a.d31bd"
            ]
        ]
    },
    {
        "id": "ee8a826a.d31bd",
        "type": "http request",
        "z": "59350fd8.5c52c",
        "name": "",
        "method": "PUT",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 2190,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "3ec1dc48.121724",
        "type": "function",
        "z": "74e0bd75.30b964",
        "name": "Changing state filed to 'registered''",
        "func": "msg.url = \"https://tg-bot-uni-develop.herokuapp.com/api/v1/users?id=\" + msg.chat_id;\nmsg.headers = msg.apiHeaders\n\nmsg.payload = {\n    \"state\": {\n        \"state\": \"registered\",\n        \"df_contexts\": msg.user_payload.state.df_contexts ? msg.user_payload.state.df_contexts : []\n    }\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 480,
        "y": 180,
        "wires": [
            [
                "71663428.9de72c"
            ]
        ]
    },
    {
        "id": "71663428.9de72c",
        "type": "http request",
        "z": "74e0bd75.30b964",
        "name": "",
        "method": "PUT",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 770,
        "y": 180,
        "wires": [
            [
                "7a6c7bed.6c8544"
            ]
        ]
    },
    {
        "id": "c980835f.1f3f7",
        "type": "comment",
        "z": "dbbd86af.74c0d8",
        "name": "Send message with confirming spreading button",
        "info": "",
        "x": 1940,
        "y": 2400,
        "wires": []
    },
    {
        "id": "8ffc49f3.7d4878",
        "type": "link out",
        "z": "dbbd86af.74c0d8",
        "name": "Send message with confirming spreading button",
        "links": [
            "db5111a4.bf331",
            "f7fe263.2dba3d8"
        ],
        "x": 1775,
        "y": 2440,
        "wires": []
    },
    {
        "id": "7ebae3f.93e8d1c",
        "type": "http request",
        "z": "59350fd8.5c52c",
        "name": "",
        "method": "PUT",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 890,
        "y": 600,
        "wires": [
            [
                "fc0983c6.40571"
            ]
        ]
    },
    {
        "id": "f768f6de.9cf298",
        "type": "function",
        "z": "59350fd8.5c52c",
        "name": "Set status 'writingTextForDistribution'",
        "func": "msg.url = \"https://tg-bot-uni-develop.herokuapp.com/api/v1/users?id=\" + msg.chat_id;\nmsg.headers = msg.apiHeaders;\n\n\n\nmsg.payload = {\"state\": msg.user_payload.state};\nif(msg.message != \"goToCompleteDistributionMessage\") {\n    msg.user_payload.state.message = msg.message;\n}\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 570,
        "y": 600,
        "wires": [
            [
                "7ebae3f.93e8d1c"
            ]
        ]
    },
    {
        "id": "ef489044.60ce5",
        "type": "link out",
        "z": "dbbd86af.74c0d8",
        "name": "Complete distribution",
        "links": [
            "b0d5bd6c.c553d"
        ],
        "x": 1775,
        "y": 2520,
        "wires": []
    },
    {
        "id": "6a546e4c.aac6",
        "type": "comment",
        "z": "dbbd86af.74c0d8",
        "name": "Complete distribution",
        "info": "",
        "x": 1860,
        "y": 2480,
        "wires": []
    },
    {
        "id": "2477cc81.af2264",
        "type": "comment",
        "z": "dbbd86af.74c0d8",
        "name": "Send list of groups for distribution to edit selected groups",
        "info": "",
        "x": 1970,
        "y": 2240,
        "wires": []
    },
    {
        "id": "b0b82aef.d9adc8",
        "type": "link out",
        "z": "dbbd86af.74c0d8",
        "name": "Send list of groups for distribution to edit selected groups",
        "links": [
            "a8f532b7.9551d"
        ],
        "x": 1775,
        "y": 2280,
        "wires": []
    },
    {
        "id": "369d16a4.59851a",
        "type": "link in",
        "z": "4000ac09.8509f4",
        "name": "Send message with action buttons for editing admin list",
        "links": [
            "d5772bfb.1db3b8"
        ],
        "x": 155,
        "y": 100,
        "wires": [
            [
                "8203bb04.a60778"
            ]
        ]
    },
    {
        "id": "43f05561.c6f64c",
        "type": "comment",
        "z": "4000ac09.8509f4",
        "name": "Sending message with action buttons for editing admin list",
        "info": "",
        "x": 350,
        "y": 60,
        "wires": []
    },
    {
        "id": "d5772bfb.1db3b8",
        "type": "link out",
        "z": "dbbd86af.74c0d8",
        "name": "Send message with action buttons for editing admin list",
        "links": [
            "369d16a4.59851a"
        ],
        "x": 1775,
        "y": 2620,
        "wires": []
    },
    {
        "id": "fb3f7be8.212f78",
        "type": "comment",
        "z": "dbbd86af.74c0d8",
        "name": "Send message with action buttons for editing admin list",
        "info": "",
        "x": 1960,
        "y": 2580,
        "wires": []
    },
    {
        "id": "f67b5ff1.95ea7",
        "type": "function",
        "z": "4000ac09.8509f4",
        "name": "Setting up message with action buttons for editing admins list",
        "func": "msg.payload = {\n    \"text\": \"Що необхідно зробити?\",\n    \"reply_markup\": {\n        \"inline_keyboard\": [[\n            {\n                \"text\": \"➕ Додати адміна\",\n                \"callback_data\": \"addAdmin\"            \n            }, \n            {\n                \"text\": \"➖ Видалити адміна\",\n                \"callback_data\": \"adminsForDelete\"            \n            }],\n            [{\n                \"text\": \"⚙ Адмін-панель\",\n                \"callback_data\": \"adminMenu\"            \n            }]\n        ]\n    },\n    \"chat_id\": msg.chat_id\n}\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1100,
        "y": 100,
        "wires": [
            [
                "8ae69bf9.340b58"
            ]
        ]
    },
    {
        "id": "8ae69bf9.340b58",
        "type": "subflow:411ddac8.164cb4",
        "z": "4000ac09.8509f4",
        "name": "",
        "env": [],
        "x": 1550,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "1837dccf.aa6913",
        "type": "link in",
        "z": "4000ac09.8509f4",
        "name": "Send message to write username of new admin",
        "links": [
            "e3ee6ca3.b886c"
        ],
        "x": 155,
        "y": 240,
        "wires": [
            [
                "57db290b.f60aa8"
            ]
        ]
    },
    {
        "id": "c927b79d.b983e8",
        "type": "comment",
        "z": "4000ac09.8509f4",
        "name": "Sending message to write username of new admin",
        "info": "",
        "x": 330,
        "y": 200,
        "wires": []
    },
    {
        "id": "aaee0af8.512428",
        "type": "function",
        "z": "4000ac09.8509f4",
        "name": "Setting up message to write username of new admin",
        "func": "msg.payload = {\n    \"text\": \"Вкажіть username\",\n    \"chat_id\": msg.chat_id\n}\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1100,
        "y": 240,
        "wires": [
            [
                "7893b837.3bd568"
            ]
        ]
    },
    {
        "id": "7893b837.3bd568",
        "type": "subflow:411ddac8.164cb4",
        "z": "4000ac09.8509f4",
        "name": "",
        "env": [],
        "x": 1530,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "57db290b.f60aa8",
        "type": "function",
        "z": "4000ac09.8509f4",
        "name": "Set status 'adding admin'",
        "func": "msg.url = \"https://tg-bot-uni-develop.herokuapp.com/api/v1/users?id=\" + msg.chat_id;\nmsg.headers = msg.apiHeaders;\n\n\n\nmsg.payload = {\"state\": msg.user_payload.state};\nmsg.payload.state.state = \"addingAdmin\";\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 390,
        "y": 240,
        "wires": [
            [
                "4c6786c7.119908"
            ]
        ]
    },
    {
        "id": "4c6786c7.119908",
        "type": "http request",
        "z": "4000ac09.8509f4",
        "name": "",
        "method": "PUT",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 690,
        "y": 240,
        "wires": [
            [
                "aaee0af8.512428"
            ]
        ]
    },
    {
        "id": "e3ee6ca3.b886c",
        "type": "link out",
        "z": "dbbd86af.74c0d8",
        "name": "Send message to write useraname of new admin",
        "links": [
            "1837dccf.aa6913"
        ],
        "x": 1775,
        "y": 2700,
        "wires": []
    },
    {
        "id": "a6f284b7.746378",
        "type": "comment",
        "z": "dbbd86af.74c0d8",
        "name": "Send message to write useraname of new admin",
        "info": "",
        "x": 1940,
        "y": 2660,
        "wires": []
    },
    {
        "id": "fdc2130b.e08af",
        "type": "link in",
        "z": "4000ac09.8509f4",
        "name": "Add new admin",
        "links": [
            "24e51cd8.751164"
        ],
        "x": 155,
        "y": 360,
        "wires": [
            [
                "a94475ac.d34bc8"
            ]
        ]
    },
    {
        "id": "834a9995.186698",
        "type": "comment",
        "z": "4000ac09.8509f4",
        "name": "Adding new admin",
        "info": "",
        "x": 230,
        "y": 320,
        "wires": []
    },
    {
        "id": "6c22e625.e884c8",
        "type": "function",
        "z": "4000ac09.8509f4",
        "name": "Setting up message that new admin successfully added",
        "func": "msg.payload = {\n    \"text\": \"✅ Адмін успішно доданий\",\n    \"reply_markup\": {\n        \"inline_keyboard\": [[\n            {\n                \"text\": \"◀ Назад до меню редагування списку адмінів\",\n                \"callback_data\": \"adminManagement\"            \n            }],\n            [{\n                \"text\": \"⚙ Адмін-панель\",\n                \"callback_data\": \"adminMenu\"            \n            }]\n        ]\n    },\n    \"chat_id\": msg.chat_id\n}\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1850,
        "y": 360,
        "wires": [
            [
                "faff982b.3420c8"
            ]
        ]
    },
    {
        "id": "faff982b.3420c8",
        "type": "subflow:411ddac8.164cb4",
        "z": "4000ac09.8509f4",
        "name": "",
        "env": [],
        "x": 2270,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "85239228.782b6",
        "type": "function",
        "z": "4000ac09.8509f4",
        "name": "Set status 'registered'",
        "func": "msg.url = \"https://tg-bot-uni-develop.herokuapp.com/api/v1/users?id=\" + msg.chat_id;\nmsg.headers = msg.apiHeaders\n\n\n\nmsg.payload = {\"state\": msg.user_payload.state};\nmsg.payload.state.state = \"registered\";\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1120,
        "y": 360,
        "wires": [
            [
                "6a49002b.c022d"
            ]
        ]
    },
    {
        "id": "6a49002b.c022d",
        "type": "http request",
        "z": "4000ac09.8509f4",
        "name": "",
        "method": "PUT",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 1430,
        "y": 360,
        "wires": [
            [
                "6c22e625.e884c8"
            ]
        ]
    },
    {
        "id": "b1e43e3d.d56a4",
        "type": "http request",
        "z": "4000ac09.8509f4",
        "name": "",
        "method": "PUT",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 610,
        "y": 360,
        "wires": [
            [
                "9575d015.681c4"
            ]
        ]
    },
    {
        "id": "a94475ac.d34bc8",
        "type": "function",
        "z": "4000ac09.8509f4",
        "name": "Adding new admin",
        "func": "if (msg.message.startsWith(\"@\")) msg.message = msg.message.slice(1);\n\n\n\nmsg.url = \"https://tg-bot-uni-develop.herokuapp.com/api/v1/admins/add/?username=\" + msg.message;\nmsg.headers = msg.apiHeaders;\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 370,
        "y": 360,
        "wires": [
            [
                "b1e43e3d.d56a4"
            ]
        ]
    },
    {
        "id": "9575d015.681c4",
        "type": "switch",
        "z": "4000ac09.8509f4",
        "name": "If success",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "200",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "500",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 820,
        "y": 360,
        "wires": [
            [
                "85239228.782b6"
            ],
            [
                "8b596cd0.a8a49"
            ]
        ]
    },
    {
        "id": "24e51cd8.751164",
        "type": "link out",
        "z": "cbf72f33.63dd6",
        "name": "Add new admin",
        "links": [
            "fdc2130b.e08af"
        ],
        "x": 1735,
        "y": 960,
        "wires": []
    },
    {
        "id": "cfacf806.f0d4e8",
        "type": "comment",
        "z": "cbf72f33.63dd6",
        "name": "Add new admin",
        "info": "",
        "x": 1800,
        "y": 920,
        "wires": []
    },
    {
        "id": "c93fac14.b4c41",
        "type": "link out",
        "z": "14785f2b.3d2341",
        "name": "Is registration completed",
        "links": [
            "4d1e8f79.27d3c"
        ],
        "x": 715,
        "y": 220,
        "wires": []
    },
    {
        "id": "27435946.ad3596",
        "type": "comment",
        "z": "14785f2b.3d2341",
        "name": "Checking whether the registration is completed",
        "info": "",
        "x": 880,
        "y": 180,
        "wires": []
    },
    {
        "id": "e8450ef9.72f97",
        "type": "link in",
        "z": "4000ac09.8509f4",
        "name": "Send message with admins for delete",
        "links": [
            "22333f69.fdca5",
            "5b187e5e.156ae",
            "971261b9.1fdca"
        ],
        "x": 155,
        "y": 520,
        "wires": [
            [
                "c4fa9f7f.86481"
            ]
        ]
    },
    {
        "id": "735b4369.ff2d8c",
        "type": "comment",
        "z": "4000ac09.8509f4",
        "name": "Sending message with admins for delete",
        "info": "",
        "x": 300,
        "y": 480,
        "wires": []
    },
    {
        "id": "450073bc.f7e6fc",
        "type": "function",
        "z": "4000ac09.8509f4",
        "name": "Setting up message with admins for delete",
        "func": "var admins = msg.payload.users;\n\n\n\nmsg.payload = {\n    \"text\": \"Виберіть необхідного адміна\",\n    \"reply_markup\": {\n        \"inline_keyboard\": []\n    },\n    \"chat_id\": msg.chat_id\n}\n\n\n//creating list of admins\nadmins.forEach((value) => {\n    if (value.username) {\n        msg.payload.reply_markup.inline_keyboard.push([{\"text\": value.username, \"callback_data\": (\"deleteAdminPrompt_\" + value.id)}]);\n    }\n});\n\n\n//if there aren't any admins\nif (!msg.payload.reply_markup.inline_keyboard.length) {\n    msg.payload.text = \"Поки що список порожній…\";\n}\n\n\n\nmsg.payload.reply_markup.inline_keyboard.push([{\n                \"text\": \"⚙ Адмін-панель\",\n                \"callback_data\": \"adminMenu\"            \n            }]);\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1130,
        "y": 460,
        "wires": [
            [
                "200c282d.8dfb58"
            ]
        ]
    },
    {
        "id": "200c282d.8dfb58",
        "type": "subflow:411ddac8.164cb4",
        "z": "4000ac09.8509f4",
        "name": "",
        "env": [],
        "x": 1510,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "22333f69.fdca5",
        "type": "link out",
        "z": "dbbd86af.74c0d8",
        "name": "Send message with admins for delete",
        "links": [
            "e8450ef9.72f97"
        ],
        "x": 1775,
        "y": 2780,
        "wires": []
    },
    {
        "id": "42df4836.162fd8",
        "type": "comment",
        "z": "dbbd86af.74c0d8",
        "name": "Send message with admins for delete",
        "info": "",
        "x": 1910,
        "y": 2740,
        "wires": []
    },
    {
        "id": "d91eb7d1.266608",
        "type": "http request",
        "z": "4000ac09.8509f4",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 550,
        "y": 520,
        "wires": [
            [
                "12934ff0.323c"
            ]
        ]
    },
    {
        "id": "c4fa9f7f.86481",
        "type": "function",
        "z": "4000ac09.8509f4",
        "name": "Get admins list",
        "func": "msg.url = \"https://tg-bot-uni-develop.herokuapp.com/api/v1/admins/list\";\nmsg.headers = msg.apiHeaders;\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 360,
        "y": 520,
        "wires": [
            [
                "d91eb7d1.266608"
            ]
        ]
    },
    {
        "id": "12934ff0.323c",
        "type": "switch",
        "z": "4000ac09.8509f4",
        "name": "If success",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "200",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "500",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 800,
        "y": 520,
        "wires": [
            [
                "450073bc.f7e6fc"
            ],
            [
                "a8548bd1.669278"
            ]
        ]
    },
    {
        "id": "a8548bd1.669278",
        "type": "function",
        "z": "4000ac09.8509f4",
        "name": "Setting up message that there aren't any admins",
        "func": "msg.payload = {\n    \"text\": \"Адмінів немає\",\n    \"reply_markup\": {\n        \"inline_keyboard\": [[\n            {\n                \"text\": \"◀ Назад до меню редагування списку адмінів\",\n                \"callback_data\": \"adminsForDelete\"            \n            }]\n        ]\n    },\n    \"chat_id\": msg.chat_id\n}\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1140,
        "y": 600,
        "wires": [
            [
                "200c282d.8dfb58"
            ]
        ]
    },
    {
        "id": "59c43f49.d05c1",
        "type": "link out",
        "z": "14785f2b.3d2341",
        "name": "Send admin menu",
        "links": [
            "174b2f09.720ee1"
        ],
        "x": 715,
        "y": 400,
        "wires": []
    },
    {
        "id": "649ae7e6.b5a278",
        "type": "comment",
        "z": "14785f2b.3d2341",
        "name": "Send admin menu",
        "info": "",
        "x": 790,
        "y": 360,
        "wires": []
    },
    {
        "id": "77999755.4ff548",
        "type": "switch",
        "z": "dbbd86af.74c0d8",
        "name": "Delete admin prompt",
        "property": "$split(msg.message, \"_\", 1)",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "eq",
                "v": "deleteAdminPrompt",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1280,
        "y": 3220,
        "wires": [
            [
                "bcc40914.8260d8"
            ]
        ]
    },
    {
        "id": "bcc40914.8260d8",
        "type": "link out",
        "z": "dbbd86af.74c0d8",
        "name": "Send delete admin prompt",
        "links": [
            "6e64f2dd.67beec"
        ],
        "x": 1775,
        "y": 3220,
        "wires": []
    },
    {
        "id": "1dd71fad.f7f1b",
        "type": "comment",
        "z": "dbbd86af.74c0d8",
        "name": "Send delete admin prompt",
        "info": "",
        "x": 1870,
        "y": 3180,
        "wires": []
    },
    {
        "id": "6e64f2dd.67beec",
        "type": "link in",
        "z": "4000ac09.8509f4",
        "name": "Send delete admin prompt",
        "links": [
            "bcc40914.8260d8"
        ],
        "x": 155,
        "y": 760,
        "wires": [
            [
                "790cf7cc.d92818"
            ]
        ]
    },
    {
        "id": "f1415030.4c228",
        "type": "comment",
        "z": "4000ac09.8509f4",
        "name": "Sending delete admin prompt",
        "info": "",
        "x": 260,
        "y": 720,
        "wires": []
    },
    {
        "id": "790cf7cc.d92818",
        "type": "function",
        "z": "4000ac09.8509f4",
        "name": "Setting up message with delete admin prompt",
        "func": "msg.payload = {\n    \"text\": \"Ви точно бажаєте видалити цього адміна?\",\n    \"reply_markup\": {\n        \"inline_keyboard\": [[\n            {\n                \"text\": \"Так\",\n                \"callback_data\": (\"deleteAdmin_\" + msg.message.split('_')[1])            \n            }, \n            {\n                \"text\": \"Ні\",\n                \"callback_data\": \"adminsForDelete\"            \n            }],\n            [{\n                \"text\": \"◀ Назад до списку адмінів\",\n                \"callback_data\": \"adminsForDelete\"            \n            }]\n        ]\n    },\n    \"chat_id\": msg.chat_id\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 460,
        "y": 760,
        "wires": [
            [
                "3f12676f.7ff6e8"
            ]
        ]
    },
    {
        "id": "3f12676f.7ff6e8",
        "type": "subflow:411ddac8.164cb4",
        "z": "4000ac09.8509f4",
        "name": "",
        "env": [],
        "x": 850,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "896bfa0a.e7c978",
        "type": "link in",
        "z": "4000ac09.8509f4",
        "name": "Delete admin",
        "links": [
            "e3d5dff2.1410b"
        ],
        "x": 155,
        "y": 900,
        "wires": [
            [
                "b5bc13a0.40b57"
            ]
        ]
    },
    {
        "id": "b2cc11af.4f336",
        "type": "comment",
        "z": "4000ac09.8509f4",
        "name": "Deleting admin",
        "info": "",
        "x": 220,
        "y": 860,
        "wires": []
    },
    {
        "id": "c88b07e6.915868",
        "type": "http request",
        "z": "4000ac09.8509f4",
        "name": "",
        "method": "PUT",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 630,
        "y": 900,
        "wires": [
            [
                "9cd52896.ce06a8"
            ]
        ]
    },
    {
        "id": "b5bc13a0.40b57",
        "type": "function",
        "z": "4000ac09.8509f4",
        "name": "Deleting admin",
        "func": "msg.url = \"https://tg-bot-uni-develop.herokuapp.com/api/v1/admins/delete/?id=\" + msg.message.split('_')[1];\nmsg.headers = msg.apiHeaders;\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 360,
        "y": 900,
        "wires": [
            [
                "c88b07e6.915868"
            ]
        ]
    },
    {
        "id": "abd8c51f.27f648",
        "type": "switch",
        "z": "dbbd86af.74c0d8",
        "name": "Delete admin prompt",
        "property": "$split(msg.message, \"_\", 1)",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "eq",
                "v": "deleteAdmin",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1280,
        "y": 3300,
        "wires": [
            [
                "e3d5dff2.1410b"
            ]
        ]
    },
    {
        "id": "e3d5dff2.1410b",
        "type": "link out",
        "z": "dbbd86af.74c0d8",
        "name": "Delete admin",
        "links": [
            "896bfa0a.e7c978"
        ],
        "x": 1775,
        "y": 3300,
        "wires": []
    },
    {
        "id": "942da5b8.ad0928",
        "type": "comment",
        "z": "dbbd86af.74c0d8",
        "name": "Delete admin",
        "info": "",
        "x": 1830,
        "y": 3260,
        "wires": []
    },
    {
        "id": "64610c6a.0bcf94",
        "type": "comment",
        "z": "4000ac09.8509f4",
        "name": "Send message with admins for delete",
        "info": "",
        "x": 2070,
        "y": 860,
        "wires": []
    },
    {
        "id": "5b187e5e.156ae",
        "type": "link out",
        "z": "4000ac09.8509f4",
        "name": "Send message with admins for delete",
        "links": [
            "e8450ef9.72f97"
        ],
        "x": 1935,
        "y": 900,
        "wires": []
    },
    {
        "id": "9cd52896.ce06a8",
        "type": "switch",
        "z": "4000ac09.8509f4",
        "name": "If success",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "200",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "500",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 840,
        "y": 900,
        "wires": [
            [
                "2058f947.f3eec6"
            ],
            [
                "423465e2.ac154c"
            ]
        ]
    },
    {
        "id": "2058f947.f3eec6",
        "type": "function",
        "z": "4000ac09.8509f4",
        "name": "Setting up message that admin successfully deleted",
        "func": "msg.payload = {\n    \"text\": \"✅ Адмін усмішно видалений\",\n    \"chat_id\": msg.chat_id\n}\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1270,
        "y": 900,
        "wires": [
            [
                "146cf952.ae8097"
            ]
        ]
    },
    {
        "id": "146cf952.ae8097",
        "type": "subflow:411ddac8.164cb4",
        "z": "4000ac09.8509f4",
        "name": "",
        "env": [],
        "x": 1650,
        "y": 900,
        "wires": [
            [
                "5b187e5e.156ae"
            ]
        ]
    },
    {
        "id": "fd270046.426d4",
        "type": "link out",
        "z": "dbbd86af.74c0d8",
        "name": "Sync Questions",
        "links": [
            "9d53dc37.4fb94"
        ],
        "x": 1775,
        "y": 1940,
        "wires": []
    },
    {
        "id": "4eddfce1.d18244",
        "type": "comment",
        "z": "dbbd86af.74c0d8",
        "name": "Sync Questions",
        "info": "",
        "x": 1840,
        "y": 1900,
        "wires": []
    },
    {
        "id": "284c3f7b.7c2f8",
        "type": "link out",
        "z": "dbbd86af.74c0d8",
        "name": "Send message with unanswered questions",
        "links": [
            "f30d3b8.a8367c8",
            "e09b46a.0ff56b8",
            "66760fd2.1e293"
        ],
        "x": 1775,
        "y": 1680,
        "wires": []
    },
    {
        "id": "4ba56ac0.2e7874",
        "type": "comment",
        "z": "dbbd86af.74c0d8",
        "name": "Send message with unanswered questions",
        "info": "",
        "x": 1920,
        "y": 1640,
        "wires": []
    },
    {
        "id": "44bde95d.ab5328",
        "type": "switch",
        "z": "cbf72f33.63dd6",
        "name": "If fallback",
        "property": "_dialogflow.intent.displayName",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Default Fallback Intent",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 4140,
        "y": 520,
        "wires": [
            [
                "2c29d5cc.f3f26a"
            ]
        ]
    },
    {
        "id": "24561f6c.af24f",
        "type": "link in",
        "z": "76bd89c2.eace48",
        "name": "Send message with editing info buttons",
        "links": [
            "d620ef02.d8b9d"
        ],
        "x": 195,
        "y": 140,
        "wires": [
            [
                "63ea27f9.b8b008"
            ]
        ]
    },
    {
        "id": "6e76002.3905",
        "type": "comment",
        "z": "76bd89c2.eace48",
        "name": "Sending message with editing info buttons",
        "info": "",
        "x": 340,
        "y": 100,
        "wires": []
    },
    {
        "id": "99834576.cad338",
        "type": "subflow:411ddac8.164cb4",
        "z": "76bd89c2.eace48",
        "name": "",
        "env": [],
        "x": 830,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "63ea27f9.b8b008",
        "type": "function",
        "z": "76bd89c2.eace48",
        "name": "Setting up with editing info buttons",
        "func": "msg.payload = {\n    \"text\": \"Ви в меню редагування інформації. Виберіть необхідний пункт\",\n    \"reply_markup\": {\n        \"inline_keyboard\": [[\n            {\n                \"text\": \"Редагування інформації про ICM 😎\",\n                \"callback_data\": \"editInfo_AboutISM\"            \n            }],\n            [{\n                \"text\": \"Редагування інформації про НУЛП 🚀\",\n                \"callback_data\": \"editInfo_AboutNULP\"            \n            }],\n            [{\n                \"text\": \"Редагування інформації про бота 📁\",\n                \"callback_data\": \"editInfo_HowToUseBot\"            \n            }],\n            [{\n                \"text\": \"⚙ Адмін-панель\",\n                \"callback_data\": \"adminMenu\"            \n            }]\n        ]\n    },\n    \"chat_id\": msg.chat_id\n}\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 460,
        "y": 140,
        "wires": [
            [
                "99834576.cad338"
            ]
        ]
    },
    {
        "id": "d620ef02.d8b9d",
        "type": "link out",
        "z": "dbbd86af.74c0d8",
        "name": "Send message with editing info buttons",
        "links": [
            "24561f6c.af24f"
        ],
        "x": 1775,
        "y": 1500,
        "wires": []
    },
    {
        "id": "539edd0f.466604",
        "type": "comment",
        "z": "dbbd86af.74c0d8",
        "name": "Send message with editing info buttons",
        "info": "",
        "x": 1910,
        "y": 1460,
        "wires": []
    },
    {
        "id": "9fff14d2.90c118",
        "type": "link in",
        "z": "54742aae.b4a584",
        "name": "Send message with buttons for unanswered questions",
        "links": [
            "f0c9f660.bff8d8"
        ],
        "x": 195,
        "y": 140,
        "wires": [
            [
                "7af37f3.7f1418"
            ]
        ]
    },
    {
        "id": "ff6897ea.b2eff8",
        "type": "comment",
        "z": "54742aae.b4a584",
        "name": "Sending message with buttons for unanswered questions",
        "info": "",
        "x": 390,
        "y": 100,
        "wires": []
    },
    {
        "id": "184bec3.2496514",
        "type": "subflow:411ddac8.164cb4",
        "z": "54742aae.b4a584",
        "name": "",
        "env": [],
        "x": 990,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "7af37f3.7f1418",
        "type": "function",
        "z": "54742aae.b4a584",
        "name": "Setting up message with buttons for unanswered questions",
        "func": "msg.payload = {\n    \"text\": \"Ви в меню питань без відповіді\",\n    \"reply_markup\": {\n        \"inline_keyboard\": [\n            [{\n                \"text\": \"Отримати список питань 💾\",\n                \"callback_data\": \"unansweredQuestions\"            \n            }],\n            [{\n                \"text\": \"Очистити список питань 🚮\",\n                \"callback_data\": \"clearUnansweredQuestionsListPrompt\"            \n            }],\n            [{\n                \"text\": \"⚙ Адмін-панель\",\n                \"callback_data\": \"adminMenu\"            \n            }]\n        ]\n    },\n    \"chat_id\": msg.chat_id\n}\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 540,
        "y": 140,
        "wires": [
            [
                "184bec3.2496514"
            ]
        ]
    },
    {
        "id": "f0c9f660.bff8d8",
        "type": "link out",
        "z": "dbbd86af.74c0d8",
        "name": "Send message with buttons for unasnwered questions",
        "links": [
            "9fff14d2.90c118"
        ],
        "x": 1775,
        "y": 1600,
        "wires": []
    },
    {
        "id": "bb39c148.1fe9",
        "type": "comment",
        "z": "dbbd86af.74c0d8",
        "name": "Send message with buttons for unasnwered questions",
        "info": "",
        "x": 1960,
        "y": 1560,
        "wires": []
    },
    {
        "id": "6090c471.a438bc",
        "type": "link in",
        "z": "54742aae.b4a584",
        "name": "Clear unanswered questions list",
        "links": [
            "f1c3ab8.d32b458"
        ],
        "x": 195,
        "y": 480,
        "wires": [
            [
                "2ac90221.4cfe3e"
            ]
        ]
    },
    {
        "id": "c996d188.1ce6e",
        "type": "comment",
        "z": "54742aae.b4a584",
        "name": "Clearing unanswered questions list",
        "info": "",
        "x": 320,
        "y": 440,
        "wires": []
    },
    {
        "id": "e9941081.3b0f7",
        "type": "function",
        "z": "54742aae.b4a584",
        "name": "Setting up message with menu with groups",
        "func": "msg.payload = {\n    \"text\": \"✅ Список питань успішно очищено\",\n    \"reply_markup\": {\n        \"inline_keyboard\": [\n            [{\n                \"text\": \"◀ Назад до меню питань без відповіді\",\n                \"callback_data\": \"unansweredQuestionsMenu\"            \n            }],\n            [{\n                \"text\": \"⚙ Адмін-панель\",\n                \"callback_data\": \"adminMenu\"            \n            }]\n        ]\n    },\n    \"chat_id\": msg.chat_id\n}\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1330,
        "y": 480,
        "wires": [
            [
                "81433343.0281c"
            ]
        ]
    },
    {
        "id": "81433343.0281c",
        "type": "subflow:411ddac8.164cb4",
        "z": "54742aae.b4a584",
        "name": "",
        "x": 1750,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "4bab2047.acc47",
        "type": "http request",
        "z": "54742aae.b4a584",
        "name": "",
        "method": "DELETE",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 730,
        "y": 480,
        "wires": [
            [
                "a47d0526.4da508"
            ]
        ]
    },
    {
        "id": "2ac90221.4cfe3e",
        "type": "function",
        "z": "54742aae.b4a584",
        "name": "Clearing unanswered questions list",
        "func": "msg.url = \"https://tg-bot-uni-develop.herokuapp.com/api/v1/questions/unanswered/clear\";\nmsg.headers = msg.apiHeaders;\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 460,
        "y": 480,
        "wires": [
            [
                "4bab2047.acc47"
            ]
        ]
    },
    {
        "id": "a47d0526.4da508",
        "type": "switch",
        "z": "54742aae.b4a584",
        "name": "If success",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "200",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 940,
        "y": 480,
        "wires": [
            [
                "e9941081.3b0f7"
            ]
        ]
    },
    {
        "id": "66760fd2.1e293",
        "type": "link in",
        "z": "54742aae.b4a584",
        "name": "Sending message with unanswered questions",
        "links": [
            "284c3f7b.7c2f8"
        ],
        "x": 195,
        "y": 280,
        "wires": [
            [
                "7e589091.ac239"
            ]
        ]
    },
    {
        "id": "9588ceaf.71c1b",
        "type": "comment",
        "z": "54742aae.b4a584",
        "name": "Sending message with unanswered questions",
        "info": "",
        "x": 350,
        "y": 240,
        "wires": []
    },
    {
        "id": "acd562be.aaded",
        "type": "function",
        "z": "54742aae.b4a584",
        "name": "Setting up message with unanswered questions",
        "func": "msg.headers = {\n    \"Content-Type\": \"multipart/form-data\",\n};\n\n\n\nmsg.payload = {\n    \"document\": {\n        \"value\": msg.payload,\n        \"options\": {\n            \"filename\": \"unanswered_questions.xlsx\"\n        }\n    },\n    \"reply_markup\": {\n        \"inline_keyboard\": [\n            [{\n                \"text\": \"◀ Назад до меню питань без відповіді\",\n                \"callback_data\": \"unansweredQuestionsMenu\"            \n            }],\n            [{\n                \"text\": \"⚙ Адмін-панель\",\n                \"callback_data\": \"adminMenu\"            \n            }]\n        ]\n    },\n    \"chat_id\": msg.chat_id\n}\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1560,
        "y": 240,
        "wires": [
            [
                "629e8960.30f938"
            ]
        ]
    },
    {
        "id": "618246b2.5e69f8",
        "type": "http request",
        "z": "54742aae.b4a584",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "basic",
        "x": 2270,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "629e8960.30f938",
        "type": "change",
        "z": "54742aae.b4a584",
        "name": "Setting up bot url",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "\"https://api.telegram.org/bot\" & $env('TOKEN') & \"/sendDocument\"",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1970,
        "y": 240,
        "wires": [
            [
                "618246b2.5e69f8"
            ]
        ]
    },
    {
        "id": "54533caf.4b9264",
        "type": "http request",
        "z": "54742aae.b4a584",
        "name": "",
        "method": "GET",
        "ret": "bin",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 710,
        "y": 280,
        "wires": [
            [
                "9120030b.c786d"
            ]
        ]
    },
    {
        "id": "7e589091.ac239",
        "type": "function",
        "z": "54742aae.b4a584",
        "name": "Get unanswered questions file",
        "func": "msg.url = \"https://tg-bot-uni-develop.herokuapp.com/api/v1/questions/unanswered/excel\";\nmsg.headers = {\n    \"pass-hash\": msg.apiHeaders[\"pass-hash\"]\n}\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 450,
        "y": 280,
        "wires": [
            [
                "54533caf.4b9264"
            ]
        ]
    },
    {
        "id": "6441929d.534f0c",
        "type": "function",
        "z": "54742aae.b4a584",
        "name": "Setting up message that unanswered questions list is empty",
        "func": "msg.payload = {\n    \"text\": \"Поки що список порожній…\",\n    \"reply_markup\": {\n        \"inline_keyboard\": [\n            [{\n                \"text\": \"◀ Назад до меню питань без відповіді\",\n                \"callback_data\": \"unansweredQuestionsMenu\"            \n            }],\n            [{\n                \"text\": \"⚙ Адмін-панель\",\n                \"callback_data\": \"adminMenu\"            \n            }]\n        ]\n    },\n    \"chat_id\": msg.chat_id\n}\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1600,
        "y": 320,
        "wires": [
            [
                "d79d3e10.34989"
            ]
        ]
    },
    {
        "id": "d79d3e10.34989",
        "type": "subflow:411ddac8.164cb4",
        "z": "54742aae.b4a584",
        "name": "",
        "x": 2070,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "b03fc51b.b4da68",
        "type": "http request",
        "z": "b72c2b01.aad3f8",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 550,
        "y": 120,
        "wires": [
            [
                "bb8c001e.ffd0e"
            ]
        ]
    },
    {
        "id": "4ee311e.188f1f",
        "type": "function",
        "z": "b72c2b01.aad3f8",
        "name": "Getting user row",
        "func": "msg.url = \"https://tg-bot-uni-develop.herokuapp.com/api/v1/users/\" + msg.chat_id;\nmsg.headers = msg.apiHeaders;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 320,
        "y": 120,
        "wires": [
            [
                "b03fc51b.b4da68"
            ]
        ]
    },
    {
        "id": "bb8c001e.ffd0e",
        "type": "switch",
        "z": "b72c2b01.aad3f8",
        "name": "Is success",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "200",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 830,
        "y": 120,
        "wires": [
            [
                "965ff527.75b118"
            ],
            []
        ]
    },
    {
        "id": "1677f073.b40cc",
        "type": "subflow:b72c2b01.aad3f8",
        "z": "dbbd86af.74c0d8",
        "name": "",
        "env": [],
        "x": 960,
        "y": 3420,
        "wires": [
            [
                "c255e784.8ab028"
            ],
            [
                "712534ba.03dabc"
            ]
        ]
    },
    {
        "id": "9cf5e768.5f55e8",
        "type": "subflow:b72c2b01.aad3f8",
        "z": "dbbd86af.74c0d8",
        "name": "",
        "env": [],
        "x": 860,
        "y": 860,
        "wires": [
            [
                "689e4325.47104c",
                "59c1267b.ca3c98",
                "d4173cf4.07cab",
                "db142eec.63a9b",
                "d005894c.44ba08"
            ],
            [
                "8dcc1de3.974b7"
            ]
        ]
    },
    {
        "id": "8dcc1de3.974b7",
        "type": "link out",
        "z": "dbbd86af.74c0d8",
        "name": "/start",
        "links": [
            "bb24cad3.d57618"
        ],
        "x": 855,
        "y": 980,
        "wires": []
    },
    {
        "id": "82b811cc.dbe66",
        "type": "comment",
        "z": "dbbd86af.74c0d8",
        "name": "Start",
        "info": "",
        "x": 890,
        "y": 940,
        "wires": []
    },
    {
        "id": "9120030b.c786d",
        "type": "switch",
        "z": "54742aae.b4a584",
        "name": "If success",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "200",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "500",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 980,
        "y": 280,
        "wires": [
            [
                "acd562be.aaded"
            ],
            [
                "6441929d.534f0c"
            ]
        ]
    },
    {
        "id": "a75bccca.68779",
        "type": "switch",
        "z": "96f6108e.64a37",
        "name": "Checking presence of user row",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "500",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "200",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1170,
        "y": 220,
        "wires": [
            [
                "58ada314.42903c"
            ],
            [
                "65f19cea.cc3ef4"
            ]
        ]
    },
    {
        "id": "5c02823e.dbdd4c",
        "type": "function",
        "z": "cbf72f33.63dd6",
        "name": "if it is main intent",
        "func": "if (!msg.message.startsWith(\"answerToDFQuestion_\")) {\n    msg.intentName = msg._dialogflow.intent.displayName;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 4170,
        "y": 620,
        "wires": [
            [
                "a8d398a0.9fa888"
            ]
        ]
    },
    {
        "id": "72384851.df5ad8",
        "type": "http request",
        "z": "cbf72f33.63dd6",
        "name": "",
        "method": "PUT",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 2850,
        "y": 560,
        "wires": [
            [
                "63a1490b.736ab8"
            ]
        ]
    },
    {
        "id": "965ff527.75b118",
        "type": "function",
        "z": "b72c2b01.aad3f8",
        "name": "Save user",
        "func": "msg.user_payload = msg.payload.user;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1090,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "d005894c.44ba08",
        "type": "switch",
        "z": "dbbd86af.74c0d8",
        "name": "Answer to dialogflow question",
        "property": "$split(msg.message, \"_\", 1)",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "eq",
                "v": "setLocation",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1310,
        "y": 1000,
        "wires": [
            [
                "70efa88d.2724b8"
            ]
        ]
    },
    {
        "id": "70efa88d.2724b8",
        "type": "link out",
        "z": "dbbd86af.74c0d8",
        "name": "Set location field",
        "links": [
            "5698bc81.4bcd84",
            "ff9f3a85.5d7428"
        ],
        "x": 1775,
        "y": 1000,
        "wires": []
    },
    {
        "id": "321dbb26.bd7754",
        "type": "comment",
        "z": "dbbd86af.74c0d8",
        "name": "Set location field",
        "info": "",
        "x": 1840,
        "y": 960,
        "wires": []
    },
    {
        "id": "f1c3ab8.d32b458",
        "type": "link out",
        "z": "dbbd86af.74c0d8",
        "name": "Clear unanswered questions list",
        "links": [
            "3927be27.c53412",
            "6090c471.a438bc"
        ],
        "x": 1775,
        "y": 1840,
        "wires": []
    },
    {
        "id": "e951cec6.3097c",
        "type": "comment",
        "z": "dbbd86af.74c0d8",
        "name": "Clear unanswered questions list",
        "info": "",
        "x": 1890,
        "y": 1800,
        "wires": []
    },
    {
        "id": "9d53dc37.4fb94",
        "type": "link in",
        "z": "f0c759b9.ab1e08",
        "name": "Sync Questions",
        "links": [
            "fd270046.426d4"
        ],
        "x": 195,
        "y": 140,
        "wires": [
            [
                "227ae12f.658a6e"
            ]
        ]
    },
    {
        "id": "54f7e15e.b10ea",
        "type": "comment",
        "z": "f0c759b9.ab1e08",
        "name": "Sync Questions",
        "info": "",
        "x": 260,
        "y": 100,
        "wires": []
    },
    {
        "id": "e1c9587e.08ce58",
        "type": "http request",
        "z": "f0c759b9.ab1e08",
        "name": "",
        "method": "PUT",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 610,
        "y": 140,
        "wires": [
            [
                "4a355ff7.3f8cb"
            ]
        ]
    },
    {
        "id": "227ae12f.658a6e",
        "type": "function",
        "z": "f0c759b9.ab1e08",
        "name": "Sync FAQ",
        "func": "msg.url = \"https://tg-bot-uni-develop.herokuapp.com/api/v1/questions/faq/sync\";\nmsg.headers = msg.apiHeaders;\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 400,
        "y": 140,
        "wires": [
            [
                "e1c9587e.08ce58"
            ]
        ]
    },
    {
        "id": "6bb9ad50.a931f4",
        "type": "function",
        "z": "f0c759b9.ab1e08",
        "name": "Setting up message successfully sync faq",
        "func": "msg.payload = {\n    \"text\": \"✅ Список питань успішно оновлено\",\n    \"reply_markup\": {\n        \"inline_keyboard\": [[\n            {\n                \"text\": \"⚙ Адмін-панель\",\n                \"callback_data\": \"adminMenu\"            \n            }]\n        ]\n    },\n    \"chat_id\": msg.chat_id\n}\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1240,
        "y": 140,
        "wires": [
            [
                "dac84b26.3b7ef8"
            ]
        ]
    },
    {
        "id": "dac84b26.3b7ef8",
        "type": "subflow:411ddac8.164cb4",
        "z": "f0c759b9.ab1e08",
        "name": "",
        "env": [],
        "x": 1670,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "4a355ff7.3f8cb",
        "type": "switch",
        "z": "f0c759b9.ab1e08",
        "name": "If success",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "200",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 860,
        "y": 140,
        "wires": [
            [
                "6bb9ad50.a931f4"
            ]
        ]
    },
    {
        "id": "ba8c27e5.b055f8",
        "type": "link out",
        "z": "dbbd86af.74c0d8",
        "name": "Go to editing all for distribution",
        "links": [
            "a8f532b7.9551d"
        ],
        "x": 1775,
        "y": 2360,
        "wires": []
    },
    {
        "id": "90400be5.c6ce18",
        "type": "comment",
        "z": "dbbd86af.74c0d8",
        "name": "Go to editing all for distribution",
        "info": "",
        "x": 1880,
        "y": 2320,
        "wires": []
    },
    {
        "id": "d6822df2.3d2d6",
        "type": "link in",
        "z": "54742aae.b4a584",
        "name": "Send message with prompt for clearing unanswered questions list",
        "links": [
            "6a243c73.bf04f4"
        ],
        "x": 195,
        "y": 400,
        "wires": [
            [
                "94c91a35.873668"
            ]
        ]
    },
    {
        "id": "de41047.db089f8",
        "type": "comment",
        "z": "54742aae.b4a584",
        "name": "Sending message with prompt for clearing unanswered questions list",
        "info": "",
        "x": 420,
        "y": 360,
        "wires": []
    },
    {
        "id": "83a0b2b2.0a24b",
        "type": "subflow:411ddac8.164cb4",
        "z": "54742aae.b4a584",
        "name": "",
        "env": [],
        "x": 990,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "94c91a35.873668",
        "type": "function",
        "z": "54742aae.b4a584",
        "name": "Setting up message with buttons for unanswered questions",
        "func": "msg.payload = {\n    \"text\": \"Ви точно бажаєте очистити список питань без відповіді?\",\n    \"reply_markup\": {\n        \"inline_keyboard\": [\n            [{\n                \"text\": \"Так\",\n                \"callback_data\": \"clearUnansweredQuestionsList\"            \n            },\n            {\n                \"text\": \"Ні\",\n                \"callback_data\": \"unansweredQuestionsMenu\"            \n            }],\n            [{\n                \"text\": \"◀ Назад до меню запитань без відповіді\",\n                \"callback_data\": \"unansweredQuestionsMenu\"            \n            }],\n            [{\n                \"text\": \"⚙ Адмін-панель\",\n                \"callback_data\": \"adminMenu\"            \n            }]\n        ]\n    },\n    \"chat_id\": msg.chat_id\n}\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 540,
        "y": 400,
        "wires": [
            [
                "83a0b2b2.0a24b"
            ]
        ]
    },
    {
        "id": "6a243c73.bf04f4",
        "type": "link out",
        "z": "dbbd86af.74c0d8",
        "name": "Send message with prompt for clearing unanswered questions list",
        "links": [
            "d6822df2.3d2d6"
        ],
        "x": 1775,
        "y": 1760,
        "wires": []
    },
    {
        "id": "35898fa1.16f93",
        "type": "comment",
        "z": "dbbd86af.74c0d8",
        "name": "Send message with prompt for clearing unanswered questions list",
        "info": "",
        "x": 1990,
        "y": 1720,
        "wires": []
    },
    {
        "id": "423465e2.ac154c",
        "type": "function",
        "z": "4000ac09.8509f4",
        "name": "Setting up message that admin deleting was failed",
        "func": "msg.payload = {\n    \"text\": \"Користувача не існує\",\n    \"chat_id\": msg.chat_id\n}\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1270,
        "y": 1000,
        "wires": [
            [
                "3a2af9e6.6e2a86"
            ]
        ]
    },
    {
        "id": "3a2af9e6.6e2a86",
        "type": "subflow:411ddac8.164cb4",
        "z": "4000ac09.8509f4",
        "name": "",
        "env": [],
        "x": 1650,
        "y": 1000,
        "wires": [
            [
                "5b187e5e.156ae"
            ]
        ]
    },
    {
        "id": "8b596cd0.a8a49",
        "type": "function",
        "z": "4000ac09.8509f4",
        "name": "Setting up message that admin adding was failed",
        "func": "msg.payload = {\n    \"text\": \"Користувача не існує. Спробуйте ввести ще раз.\",\n    \"reply_markup\": {\n        \"inline_keyboard\": [[\n            {\n                \"text\": \"◀ Назад до меню редагування списку адмінів\",\n                \"callback_data\": \"adminManagement\"            \n            }],\n            [{\n                \"text\": \"⚙ Адмін-панель\",\n                \"callback_data\": \"adminMenu\"            \n            }]\n        ]\n    },\n    \"chat_id\": msg.chat_id\n}\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1170,
        "y": 420,
        "wires": [
            [
                "a64e9cc6.80cb9"
            ]
        ]
    },
    {
        "id": "a64e9cc6.80cb9",
        "type": "subflow:411ddac8.164cb4",
        "z": "4000ac09.8509f4",
        "name": "",
        "env": [],
        "x": 1550,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "5b66c5ef.92b96c",
        "type": "http request",
        "z": "4000ac09.8509f4",
        "name": "",
        "method": "PUT",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 690,
        "y": 100,
        "wires": [
            [
                "f67b5ff1.95ea7"
            ]
        ]
    },
    {
        "id": "8203bb04.a60778",
        "type": "function",
        "z": "4000ac09.8509f4",
        "name": "Set status 'registered'",
        "func": "msg.url = \"https://tg-bot-uni-develop.herokuapp.com/api/v1/users?id=\" + msg.chat_id;\nmsg.headers = msg.apiHeaders;\n\n\n\nmsg.payload = {\"state\": msg.user_payload.state};\nmsg.payload.state.state = \"registered\";\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 380,
        "y": 100,
        "wires": [
            [
                "5b66c5ef.92b96c"
            ]
        ]
    },
    {
        "id": "b0adc4de.989ec8",
        "type": "link out",
        "z": "3b5b98a.1c38768",
        "name": "Move on to choosing occupation",
        "links": [
            "4b1be78d.e0a2d8",
            "62bdcfd6.d166e"
        ],
        "x": 855,
        "y": 360,
        "wires": []
    },
    {
        "id": "f4450abc.0e00a8",
        "type": "comment",
        "z": "3b5b98a.1c38768",
        "name": "Move on to choosing occupation",
        "info": "",
        "x": 970,
        "y": 320,
        "wires": []
    },
    {
        "id": "68f0ee93.80ff",
        "type": "http request",
        "z": "3b5b98a.1c38768",
        "name": "",
        "method": "PUT",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 670,
        "y": 360,
        "wires": [
            [
                "b0adc4de.989ec8"
            ]
        ]
    },
    {
        "id": "ff9f3a85.5d7428",
        "type": "link in",
        "z": "3b5b98a.1c38768",
        "name": "Set location field",
        "links": [
            "70efa88d.2724b8"
        ],
        "x": 175,
        "y": 360,
        "wires": [
            [
                "5e24fd0a.07f254"
            ]
        ]
    },
    {
        "id": "2508a165.a9754e",
        "type": "comment",
        "z": "3b5b98a.1c38768",
        "name": "Setting location field",
        "info": "",
        "x": 250,
        "y": 320,
        "wires": []
    },
    {
        "id": "5e24fd0a.07f254",
        "type": "function",
        "z": "3b5b98a.1c38768",
        "name": "Saving the city field",
        "func": "msg.url = \"https://tg-bot-uni-develop.herokuapp.com/api/v1/users?id=\" + msg.chat_id;\nmsg.headers = msg.apiHeaders;\n\n\n\nmsg.payload = {\n    \"city\": msg.message.split('_')[1]\n}\n\n\n\n//for the next message\nmsg.text = \"Супер. Для кращого підбору FAQ 📊 виберіть свій вид зайнятості\";\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 430,
        "y": 360,
        "wires": [
            [
                "68f0ee93.80ff"
            ]
        ]
    }
]