flow.json
[
    {
        "id": "dbbd86af.74c0d8",
        "type": "tab",
        "label": "Base Flow",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4c6874fb.68b9dc",
        "type": "tab",
        "label": "Start command Flow",
        "disabled": false,
        "info": ""
    },
    {
        "id": "276bc02d.e347",
        "type": "tab",
        "label": "Info Flow",
        "disabled": false,
        "info": ""
    },
    {
        "id": "529c4263.aeab0c",
        "type": "MySQLdatabase",
        "name": "",
        "host": "localhost",
        "port": "3306",
        "db": "internship_telegram_bot",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "b513f9.a96b5c08",
        "type": "dialogflowv2-token",
        "name": "Questions"
    },
    {
        "id": "bebef22b.2417d",
        "type": "debug",
        "z": "dbbd86af.74c0d8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 80,
        "wires": []
    },
    {
        "id": "1e1b8c80.015714",
        "type": "inject",
        "z": "dbbd86af.74c0d8",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 80,
        "wires": [
            [
                "3b4b92dd.73262e"
            ]
        ]
    },
    {
        "id": "da0d125b.5e9c9",
        "type": "http request",
        "z": "dbbd86af.74c0d8",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "basic",
        "x": 910,
        "y": 80,
        "wires": [
            [
                "bebef22b.2417d"
            ]
        ]
    },
    {
        "id": "b1d13c89.82a1",
        "type": "http in",
        "z": "dbbd86af.74c0d8",
        "name": "",
        "url": "/bot",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 440,
        "y": 620,
        "wires": [
            [
                "8b708744.7cb6f8",
                "98632046.faae7",
                "ac7f1cdc.11adc"
            ]
        ]
    },
    {
        "id": "8b708744.7cb6f8",
        "type": "debug",
        "z": "dbbd86af.74c0d8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 700,
        "wires": []
    },
    {
        "id": "98632046.faae7",
        "type": "http response",
        "z": "dbbd86af.74c0d8",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 680,
        "y": 760,
        "wires": []
    },
    {
        "id": "ac7f1cdc.11adc",
        "type": "function",
        "z": "dbbd86af.74c0d8",
        "name": "Formatting data",
        "func": "if (msg.payload.callback_query) {\n    msg.message = msg.payload.callback_query.data;\n    \n    msg.chat_id = msg.payload.callback_query.from.id\n    \n    return [msg, null]\n} else {\n    msg.message = msg.payload.message.text;\n    \n    msg.chat_id = msg.payload.message.from.id\n    \n    return [null, msg];\n}\n\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 660,
        "y": 620,
        "wires": [
            [
                "9cad4d0b.fc7ed"
            ],
            [
                "cc8aeb38.8caae8"
            ]
        ]
    },
    {
        "id": "769f8e60.75d1d",
        "type": "http in",
        "z": "dbbd86af.74c0d8",
        "name": "",
        "url": "/callback_query",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 400,
        "y": 680,
        "wires": [
            [
                "ac7f1cdc.11adc",
                "8b708744.7cb6f8",
                "98632046.faae7"
            ]
        ]
    },
    {
        "id": "9cad4d0b.fc7ed",
        "type": "switch",
        "z": "dbbd86af.74c0d8",
        "name": "CallBack_Query_Intents",
        "property": "message",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "setCurrentName",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "setName",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "setCity",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "setOccupationAsAnApplicant",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "setOccupationAsOneOfTheParents",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "setOccupationAsATeacher",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "setOccupationAsAStudent",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "setOccupationAsOther",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "mainMenu",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "printUsersInfo",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 10,
        "x": 1030,
        "y": 380,
        "wires": [
            [
                "96e4744d.d20358"
            ],
            [
                "b48e521d.7a459"
            ],
            [
                "67e90bd9.a1e8c4"
            ],
            [
                "2b168ecb.915b02"
            ],
            [
                "84969f23.caa1"
            ],
            [
                "b50620a8.7515"
            ],
            [
                "1356b19c.1cb64e"
            ],
            [
                "ce92fb67.2ac148"
            ],
            [
                "fee03af4.838098"
            ],
            [
                "7e438f2.6f8737"
            ]
        ]
    },
    {
        "id": "2cfd1290.cbdfde",
        "type": "link out",
        "z": "dbbd86af.74c0d8",
        "name": "/start",
        "links": [
            "20e0ef34.86f5"
        ],
        "x": 1515,
        "y": 800,
        "wires": []
    },
    {
        "id": "96e4744d.d20358",
        "type": "link out",
        "z": "dbbd86af.74c0d8",
        "name": "/setCurrentName",
        "links": [
            "49db1ec2.c7de4"
        ],
        "x": 1475,
        "y": 160,
        "wires": []
    },
    {
        "id": "b48e521d.7a459",
        "type": "link out",
        "z": "dbbd86af.74c0d8",
        "name": "/setName",
        "links": [
            "407592c4.adb5ec"
        ],
        "x": 1475,
        "y": 200,
        "wires": []
    },
    {
        "id": "51ec0c6.d7d05f4",
        "type": "link out",
        "z": "dbbd86af.74c0d8",
        "name": "Edit username or city or no",
        "links": [
            "957981a1.8fdad"
        ],
        "x": 1515,
        "y": 900,
        "wires": []
    },
    {
        "id": "fee03af4.838098",
        "type": "link out",
        "z": "dbbd86af.74c0d8",
        "name": "Print main menu command",
        "links": [
            "f1be3b15.c41ab8"
        ],
        "x": 1505,
        "y": 600,
        "wires": []
    },
    {
        "id": "7e438f2.6f8737",
        "type": "link out",
        "z": "dbbd86af.74c0d8",
        "name": "Print Users data command",
        "links": [
            "ede2adae.233ef"
        ],
        "x": 1505,
        "y": 660,
        "wires": []
    },
    {
        "id": "33134ca5.524c74",
        "type": "function",
        "z": "4c6874fb.68b9dc",
        "name": "Setting up response to '/start' (Greeting part)",
        "func": "msg.payload = {\n    text: \"Привіт! Я бот кафедри ІСМ. З радістю допоможу знайти відповідь на всі ваші питання\",\n    chat_id: msg.chat_id\n}\n\nmsg.text = \"Давайте знайомитись ближче. Чи можу я до вас звертатися \" + msg.req.body.message.from.first_name + \" \" + msg.req.body.message.from.last_name + \"?\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 670,
        "y": 640,
        "wires": [
            [
                "5999f0ff.2e8d1"
            ]
        ]
    },
    {
        "id": "5faa08f6.5806b8",
        "type": "function",
        "z": "4c6874fb.68b9dc",
        "name": "Setting up response to '/start' (Appeling part)",
        "func": "msg.payload = {\n    text: msg.text,\n    reply_markup: {\n        inline_keyboard: [[\n            {\n                text: \"Так, звісно\",\n                callback_data: \"setCurrentName\"            \n            }, \n            {\n                text: \"Я хочу змінити\",\n                callback_data: \"setName\"            \n            }]\n        ]\n    },\n    chat_id: msg.chat_id\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1280,
        "y": 600,
        "wires": [
            [
                "c005d39e.f0ac8",
                "a018aad3.00f5b8"
            ]
        ]
    },
    {
        "id": "f859dabc.d52988",
        "type": "mysql",
        "z": "4c6874fb.68b9dc",
        "mydb": "529c4263.aeab0c",
        "name": "",
        "x": 590,
        "y": 780,
        "wires": [
            [
                "d29b3da6.dcb2f",
                "7587a0bf.151e4"
            ]
        ]
    },
    {
        "id": "d29b3da6.dcb2f",
        "type": "debug",
        "z": "4c6874fb.68b9dc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 920,
        "wires": []
    },
    {
        "id": "7587a0bf.151e4",
        "type": "function",
        "z": "4c6874fb.68b9dc",
        "name": "Checking user row",
        "func": "if (msg.payload.length) return [null, msg];\nelse return [msg, null];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 750,
        "y": 720,
        "wires": [
            [
                "7ada2dbc.12ec34",
                "33134ca5.524c74"
            ],
            [
                "4998b80c.ac3b18"
            ]
        ]
    },
    {
        "id": "7ada2dbc.12ec34",
        "type": "debug",
        "z": "4c6874fb.68b9dc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 990,
        "y": 740,
        "wires": []
    },
    {
        "id": "c005d39e.f0ac8",
        "type": "function",
        "z": "4c6874fb.68b9dc",
        "name": "Registering new user row in db",
        "func": "if (msg.register) {\n    msg.topic = 'INSERT INTO Users (user_telegram_id) VALUES (' + msg.chat_id + ');';\n\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1610,
        "y": 500,
        "wires": [
            [
                "6e40bda9.cffce4"
            ]
        ]
    },
    {
        "id": "6e40bda9.cffce4",
        "type": "mysql",
        "z": "4c6874fb.68b9dc",
        "mydb": "529c4263.aeab0c",
        "name": "",
        "x": 1810,
        "y": 360,
        "wires": [
            [
                "dfd8eae3.5bcee8"
            ]
        ]
    },
    {
        "id": "dfd8eae3.5bcee8",
        "type": "debug",
        "z": "4c6874fb.68b9dc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1880,
        "y": 440,
        "wires": []
    },
    {
        "id": "66ebb3af.808c7c",
        "type": "function",
        "z": "4c6874fb.68b9dc",
        "name": "Getting user row",
        "func": "msg.register = true;\n\nmsg.topic = 'SELECT * FROM Users WHERE user_telegram_id = ' + msg.chat_id + ';';\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 340,
        "y": 860,
        "wires": [
            [
                "f859dabc.d52988"
            ]
        ]
    },
    {
        "id": "20e0ef34.86f5",
        "type": "link in",
        "z": "4c6874fb.68b9dc",
        "name": "",
        "links": [
            "6f6510b5.ba06a"
        ],
        "x": 175,
        "y": 860,
        "wires": [
            [
                "66ebb3af.808c7c"
            ]
        ]
    },
    {
        "id": "83a6c20c.1b51b",
        "type": "function",
        "z": "4c6874fb.68b9dc",
        "name": "Updating user name",
        "func": "if(msg.payload.callback_query) {\n    msg.topic = \"UPDATE Users SET username = '\" + msg.payload.callback_query.from.first_name + \" \" + msg.payload.callback_query.from.last_name + \"' WHERE user_telegram_id = \" + msg.chat_id + \";\";\n} else {\n    msg.topic = \"UPDATE Users SET username = '\" + msg.payload.message.from.first_name + \" \" + msg.payload.message.from.last_name + \"' WHERE user_telegram_id = \" + msg.chat_id + \";\";\n}\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1920,
        "y": 1180,
        "wires": [
            [
                "573aa76b.c47f38"
            ]
        ]
    },
    {
        "id": "49db1ec2.c7de4",
        "type": "link in",
        "z": "4c6874fb.68b9dc",
        "name": "",
        "links": [
            "96e4744d.d20358"
        ],
        "x": 1725,
        "y": 1180,
        "wires": [
            [
                "83a6c20c.1b51b",
                "28cc6c0e.6a0174"
            ]
        ]
    },
    {
        "id": "573aa76b.c47f38",
        "type": "mysql",
        "z": "4c6874fb.68b9dc",
        "mydb": "529c4263.aeab0c",
        "name": "",
        "x": 2100,
        "y": 1100,
        "wires": [
            [
                "f553be12.15931",
                "4d10c364.bba70c"
            ]
        ]
    },
    {
        "id": "f553be12.15931",
        "type": "debug",
        "z": "4c6874fb.68b9dc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2190,
        "y": 1160,
        "wires": []
    },
    {
        "id": "28cc6c0e.6a0174",
        "type": "debug",
        "z": "4c6874fb.68b9dc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1820,
        "y": 1260,
        "wires": []
    },
    {
        "id": "643d38df.03a4c8",
        "type": "function",
        "z": "4c6874fb.68b9dc",
        "name": "Setting up response to setName",
        "func": "msg.payload = {\n    text: \"Вкажіть, будь ласка, своє ім'я\",\n    chat_id: msg.chat_id\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 650,
        "y": 1440,
        "wires": [
            [
                "43311317.c47cbc"
            ]
        ]
    },
    {
        "id": "407592c4.adb5ec",
        "type": "link in",
        "z": "4c6874fb.68b9dc",
        "name": "",
        "links": [
            "b48e521d.7a459"
        ],
        "x": 405,
        "y": 1440,
        "wires": [
            [
                "643d38df.03a4c8"
            ]
        ]
    },
    {
        "id": "b0af6159.780a4",
        "type": "link in",
        "z": "4c6874fb.68b9dc",
        "name": "",
        "links": [
            "4d10c364.bba70c",
            "67e90bd9.a1e8c4",
            "fc83002f.8146f",
            "ce2794d2.a63448",
            "90b3a5f3.3ee178"
        ],
        "x": 395,
        "y": 1620,
        "wires": [
            [
                "b0e558db.fd1018"
            ]
        ]
    },
    {
        "id": "b0e558db.fd1018",
        "type": "function",
        "z": "4c6874fb.68b9dc",
        "name": "Setting up response to setCity",
        "func": "msg.payload = {\n    text: \"З якого ви міста?\",\n    chat_id: msg.chat_id\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 670,
        "y": 1620,
        "wires": [
            [
                "6a53e132.9350f"
            ]
        ]
    },
    {
        "id": "6d50e6ea.4d4118",
        "type": "function",
        "z": "4c6874fb.68b9dc",
        "name": "Changing city field",
        "func": "msg.topic = \"UPDATE Users SET city = '/editingField3252346' WHERE user_telegram_id = \" + msg.chat_id + \";\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1210,
        "y": 1620,
        "wires": [
            [
                "3812e880.0bda88"
            ]
        ]
    },
    {
        "id": "3812e880.0bda88",
        "type": "mysql",
        "z": "4c6874fb.68b9dc",
        "mydb": "529c4263.aeab0c",
        "name": "",
        "x": 1570,
        "y": 1620,
        "wires": [
            [
                "d7c7aeb2.450db"
            ]
        ]
    },
    {
        "id": "d7c7aeb2.450db",
        "type": "debug",
        "z": "4c6874fb.68b9dc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1770,
        "y": 1660,
        "wires": []
    },
    {
        "id": "4b1be78d.e0a2d8",
        "type": "link in",
        "z": "4c6874fb.68b9dc",
        "name": "",
        "links": [
            "6db0f471.abdafc",
            "eb6c15f.d5924e8",
            "8a07dd6e.fb122",
            "70f50f9f.0d7e5"
        ],
        "x": 425,
        "y": 1820,
        "wires": [
            [
                "7626e672.e5e418"
            ]
        ]
    },
    {
        "id": "7626e672.e5e418",
        "type": "function",
        "z": "4c6874fb.68b9dc",
        "name": "Setting up 'choose occupation' message",
        "func": "msg.payload = {\n    text: msg.text,\n    reply_markup: {\n        inline_keyboard: [[\n            {\n                text: \"Абітурієнт\",\n                callback_data: \"setOccupationAsAnApplicant\"            \n            }, \n            {\n                text: \"Один з батьків\",\n                callback_data: \"setOccupationAsOneOfTheParents\"            \n            }],\n            [{\n                text: \"Викладач\",\n                callback_data: \"setOccupationAsATeacher\"            \n            },\n            {\n                text: \"Студент\",\n                callback_data: \"setOccupationAsAStudent\"            \n            }],\n            [{\n                text: \"Інше\",\n                callback_data: \"setOccupationAsOther\"            \n            }]\n        ]\n    },\n    chat_id: msg.chat_id\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 740,
        "y": 1820,
        "wires": [
            [
                "146e7f83.4f883"
            ]
        ]
    },
    {
        "id": "4d10c364.bba70c",
        "type": "link out",
        "z": "4c6874fb.68b9dc",
        "name": "Set city",
        "links": [
            "b0af6159.780a4"
        ],
        "x": 2205,
        "y": 1020,
        "wires": []
    },
    {
        "id": "22e30d81.7d4372",
        "type": "function",
        "z": "4c6874fb.68b9dc",
        "name": "Get username and city fields",
        "func": "if (msg.message != '/start') {\n    msg.topic = 'SELECT username, city FROM Users WHERE user_telegram_id = ' + msg.chat_id + ';';\n\n    return msg;\n}\n\n\nreturn null;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 2660,
        "y": 1440,
        "wires": [
            [
                "bdc1a1d4.37764"
            ]
        ]
    },
    {
        "id": "bdc1a1d4.37764",
        "type": "mysql",
        "z": "4c6874fb.68b9dc",
        "mydb": "529c4263.aeab0c",
        "name": "",
        "x": 2990,
        "y": 1440,
        "wires": [
            [
                "85b6a435.a2d908",
                "cec5cab9.a1ce08"
            ]
        ]
    },
    {
        "id": "85b6a435.a2d908",
        "type": "function",
        "z": "4c6874fb.68b9dc",
        "name": "Edit username or city or nothing",
        "func": "function setErrorMessage(type) {\n    if (msg.message == \"/editingField3252346\") {\n        msg.payload = {\n            text: \"Вкажіть, будь ласка, коректне \" + type,\n            chat_id: msg.chat_id\n        }\n        \n        return false;\n    }\n    \n    return true;\n}\n\nif (msg.payload[0] && msg.payload[0].username && msg.payload[0].username == \"/editingField3252346\" && setErrorMessage(\"ім'я\")) {\n    msg.topic = \"UPDATE Users SET username = '\" + msg.message + \"' WHERE user_telegram_id = \" + msg.chat_id + \";\";\n    \n    return [msg, null, null];\n} else if (msg.payload[0] && msg.payload[0].city && msg.payload[0].city == \"/editingField3252346\" && setErrorMessage(\"місто\")) {\n    msg.text = \"Супер. Для кращого підбору FAQ виберіть свій вид зайнятості\";\n    msg.topic = \"UPDATE Users SET city = '\" + msg.message + \"' WHERE user_telegram_id = \" + msg.chat_id + \";\";\n    \n    return [null, msg, null];\n} else {\n    return [null, null, msg];\n}\n\nreturn [null, null, null];",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 3310,
        "y": 1440,
        "wires": [
            [
                "17cb6e60.6123d2",
                "25f85bfa.c72ef4"
            ],
            [
                "5d47b509.1bbcfc",
                "25f85bfa.c72ef4"
            ],
            [
                "59a40707.d376b8"
            ]
        ]
    },
    {
        "id": "17cb6e60.6123d2",
        "type": "mysql",
        "z": "4c6874fb.68b9dc",
        "mydb": "529c4263.aeab0c",
        "name": "",
        "x": 3690,
        "y": 1420,
        "wires": [
            [
                "fc83002f.8146f"
            ]
        ]
    },
    {
        "id": "cec5cab9.a1ce08",
        "type": "debug",
        "z": "4c6874fb.68b9dc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 3150,
        "y": 1520,
        "wires": []
    },
    {
        "id": "25f85bfa.c72ef4",
        "type": "debug",
        "z": "4c6874fb.68b9dc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 3630,
        "y": 1480,
        "wires": []
    },
    {
        "id": "fc83002f.8146f",
        "type": "link out",
        "z": "4c6874fb.68b9dc",
        "name": "Change city",
        "links": [
            "b0af6159.780a4"
        ],
        "x": 3895,
        "y": 1420,
        "wires": []
    },
    {
        "id": "5d47b509.1bbcfc",
        "type": "mysql",
        "z": "4c6874fb.68b9dc",
        "mydb": "529c4263.aeab0c",
        "name": "",
        "x": 3690,
        "y": 1560,
        "wires": [
            [
                "eb6c15f.d5924e8"
            ]
        ]
    },
    {
        "id": "eb6c15f.d5924e8",
        "type": "link out",
        "z": "4c6874fb.68b9dc",
        "name": "Set occupation",
        "links": [
            "4b1be78d.e0a2d8"
        ],
        "x": 3895,
        "y": 1560,
        "wires": []
    },
    {
        "id": "957981a1.8fdad",
        "type": "link in",
        "z": "4c6874fb.68b9dc",
        "name": "",
        "links": [
            "51ec0c6.d7d05f4"
        ],
        "x": 2375,
        "y": 1440,
        "wires": [
            [
                "22e30d81.7d4372"
            ]
        ]
    },
    {
        "id": "f1be3b15.c41ab8",
        "type": "link in",
        "z": "276bc02d.e347",
        "name": "",
        "links": [
            "36fad338.e38c0c",
            "9d38cfeb.72544",
            "fee03af4.838098"
        ],
        "x": 225,
        "y": 200,
        "wires": [
            [
                "1f8a7993.a04976"
            ]
        ]
    },
    {
        "id": "1f8a7993.a04976",
        "type": "function",
        "z": "276bc02d.e347",
        "name": "Setting up message with main menu",
        "func": "msg.payload = {\n    text: \"Ви в головному меню. Виберіть необхідний пункт\",\n    reply_markup: {\n        inline_keyboard: [[\n            {\n                text: \"Найпопулярніші питання\",\n                callback_data: \"printUsersInfo\"            \n            }], \n            [{\n                text: \"Про кафедру ICM\",\n                callback_data: \"printUsersInfo\"            \n            },\n            {\n                text: \"Про НУЛП\",\n                callback_data: \"printUsersInfo\"            \n            }],\n            [{\n                text: \"Як користуватися ботом\",\n                callback_data: \"printUsersInfo\"            \n            }]\n        ]\n    },\n    chat_id: msg.chat_id\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 470,
        "y": 200,
        "wires": [
            [
                "3273b3c6.f9879c"
            ]
        ]
    },
    {
        "id": "ede2adae.233ef",
        "type": "link in",
        "z": "276bc02d.e347",
        "name": "",
        "links": [
            "7e438f2.6f8737"
        ],
        "x": 235,
        "y": 400,
        "wires": [
            [
                "f04698f.feef268"
            ]
        ]
    },
    {
        "id": "f04698f.feef268",
        "type": "function",
        "z": "276bc02d.e347",
        "name": "Get Users data",
        "func": "msg.topic = 'SELECT * FROM Users;';\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 440,
        "y": 400,
        "wires": [
            [
                "6fdbc51b.0b04cc"
            ]
        ]
    },
    {
        "id": "6fdbc51b.0b04cc",
        "type": "mysql",
        "z": "276bc02d.e347",
        "mydb": "529c4263.aeab0c",
        "name": "",
        "x": 710,
        "y": 400,
        "wires": [
            [
                "ab111597.f201c8"
            ]
        ]
    },
    {
        "id": "ab111597.f201c8",
        "type": "function",
        "z": "276bc02d.e347",
        "name": "Setting up message with users data",
        "func": "msg.payload = {\n    text: msg.payload,\n    chat_id: msg.chat_id\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1020,
        "y": 400,
        "wires": [
            [
                "5065649.600e19c"
            ]
        ]
    },
    {
        "id": "40e61f8e.273bb",
        "type": "debug",
        "z": "276bc02d.e347",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 240,
        "wires": []
    },
    {
        "id": "b9256fa9.4718f",
        "type": "debug",
        "z": "276bc02d.e347",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1450,
        "y": 440,
        "wires": []
    },
    {
        "id": "2b168ecb.915b02",
        "type": "link out",
        "z": "dbbd86af.74c0d8",
        "name": "Set occupation as an applicant",
        "links": [
            "3272d461.c8fe5c"
        ],
        "x": 1555,
        "y": 340,
        "wires": []
    },
    {
        "id": "84969f23.caa1",
        "type": "link out",
        "z": "dbbd86af.74c0d8",
        "name": "Set occupation as one of the parents",
        "links": [
            "84f1ccf3.e8c91"
        ],
        "x": 1555,
        "y": 380,
        "wires": []
    },
    {
        "id": "98fdf016.8692a",
        "type": "function",
        "z": "4c6874fb.68b9dc",
        "name": "Set occupation as an applicant",
        "func": "msg.topic = \"UPDATE Users SET occupation = 'Applicant' WHERE user_telegram_id = \" + msg.chat_id + \";\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 2110,
        "y": 1920,
        "wires": [
            [
                "4754b1d0.9aef7"
            ]
        ]
    },
    {
        "id": "d3ef359d.63c3c8",
        "type": "function",
        "z": "4c6874fb.68b9dc",
        "name": "Set occupation as one of the parents",
        "func": "msg.topic = \"UPDATE Users SET occupation = 'One of the parents' WHERE user_telegram_id = \" + msg.chat_id + \";\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 2130,
        "y": 1980,
        "wires": [
            [
                "4754b1d0.9aef7"
            ]
        ]
    },
    {
        "id": "3b455ae1.743046",
        "type": "function",
        "z": "4c6874fb.68b9dc",
        "name": "Set occupation as a teacher",
        "func": "msg.topic = \"UPDATE Users SET occupation = 'Teacher' WHERE user_telegram_id = \" + msg.chat_id + \";\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 2100,
        "y": 2040,
        "wires": [
            [
                "4754b1d0.9aef7"
            ]
        ]
    },
    {
        "id": "b51b9abb.ade798",
        "type": "function",
        "z": "4c6874fb.68b9dc",
        "name": "Set occupation as a student",
        "func": "msg.topic = \"UPDATE Users SET occupation = 'Student' WHERE user_telegram_id = \" + msg.chat_id + \";\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 2100,
        "y": 2100,
        "wires": [
            [
                "4754b1d0.9aef7"
            ]
        ]
    },
    {
        "id": "15be5938.abfe77",
        "type": "function",
        "z": "4c6874fb.68b9dc",
        "name": "Set occupation as other",
        "func": "msg.topic = \"UPDATE Users SET occupation = 'Other' WHERE user_telegram_id = \" + msg.chat_id + \";\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 2090,
        "y": 2160,
        "wires": [
            [
                "4754b1d0.9aef7"
            ]
        ]
    },
    {
        "id": "4754b1d0.9aef7",
        "type": "mysql",
        "z": "4c6874fb.68b9dc",
        "mydb": "529c4263.aeab0c",
        "name": "",
        "x": 2560,
        "y": 1980,
        "wires": [
            [
                "2feb8cfa.d2af34",
                "9d38cfeb.72544"
            ]
        ]
    },
    {
        "id": "2feb8cfa.d2af34",
        "type": "debug",
        "z": "4c6874fb.68b9dc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2830,
        "y": 2040,
        "wires": []
    },
    {
        "id": "9d38cfeb.72544",
        "type": "link out",
        "z": "4c6874fb.68b9dc",
        "name": "Print main menu",
        "links": [
            "f1be3b15.c41ab8"
        ],
        "x": 2885,
        "y": 1980,
        "wires": []
    },
    {
        "id": "3272d461.c8fe5c",
        "type": "link in",
        "z": "4c6874fb.68b9dc",
        "name": "",
        "links": [
            "2b168ecb.915b02"
        ],
        "x": 1835,
        "y": 1920,
        "wires": [
            [
                "98fdf016.8692a"
            ]
        ]
    },
    {
        "id": "84f1ccf3.e8c91",
        "type": "link in",
        "z": "4c6874fb.68b9dc",
        "name": "",
        "links": [
            "84969f23.caa1"
        ],
        "x": 1835,
        "y": 1980,
        "wires": [
            [
                "d3ef359d.63c3c8"
            ]
        ]
    },
    {
        "id": "7ed591d4.8c433",
        "type": "link in",
        "z": "4c6874fb.68b9dc",
        "name": "",
        "links": [
            "b50620a8.7515"
        ],
        "x": 1835,
        "y": 2040,
        "wires": [
            [
                "3b455ae1.743046"
            ]
        ]
    },
    {
        "id": "6ef222d3.893f0c",
        "type": "link in",
        "z": "4c6874fb.68b9dc",
        "name": "",
        "links": [
            "1356b19c.1cb64e"
        ],
        "x": 1835,
        "y": 2100,
        "wires": [
            [
                "b51b9abb.ade798"
            ]
        ]
    },
    {
        "id": "b50620a8.7515",
        "type": "link out",
        "z": "dbbd86af.74c0d8",
        "name": "Set occupation as a teacher",
        "links": [
            "7ed591d4.8c433"
        ],
        "x": 1555,
        "y": 420,
        "wires": []
    },
    {
        "id": "1356b19c.1cb64e",
        "type": "link out",
        "z": "dbbd86af.74c0d8",
        "name": "Set occupation as a student",
        "links": [
            "6ef222d3.893f0c"
        ],
        "x": 1555,
        "y": 460,
        "wires": []
    },
    {
        "id": "ce92fb67.2ac148",
        "type": "link out",
        "z": "dbbd86af.74c0d8",
        "name": "Set occupation as other",
        "links": [
            "bebaf9fd.57b3d8"
        ],
        "x": 1555,
        "y": 500,
        "wires": []
    },
    {
        "id": "bebaf9fd.57b3d8",
        "type": "link in",
        "z": "4c6874fb.68b9dc",
        "name": "",
        "links": [
            "ce92fb67.2ac148"
        ],
        "x": 1835,
        "y": 2160,
        "wires": [
            [
                "15be5938.abfe77"
            ]
        ]
    },
    {
        "id": "3e335eba.efe392",
        "type": "comment",
        "z": "dbbd86af.74c0d8",
        "name": "Setting occupation",
        "info": "# Setting occupation",
        "x": 1640,
        "y": 300,
        "wires": []
    },
    {
        "id": "3671d50b.6c473a",
        "type": "comment",
        "z": "dbbd86af.74c0d8",
        "name": "Main menu",
        "info": "",
        "x": 1560,
        "y": 560,
        "wires": []
    },
    {
        "id": "d838b14c.4ad9b",
        "type": "comment",
        "z": "dbbd86af.74c0d8",
        "name": "Other messages",
        "info": "",
        "x": 1580,
        "y": 860,
        "wires": []
    },
    {
        "id": "2debe527.475a1a",
        "type": "comment",
        "z": "dbbd86af.74c0d8",
        "name": "Editing name",
        "info": "",
        "x": 1530,
        "y": 120,
        "wires": []
    },
    {
        "id": "dc891e8a.73ae6",
        "type": "comment",
        "z": "4c6874fb.68b9dc",
        "name": "Setting occupation",
        "info": "",
        "x": 1910,
        "y": 1860,
        "wires": []
    },
    {
        "id": "8a6485ef.e1fd08",
        "type": "comment",
        "z": "4c6874fb.68b9dc",
        "name": "Start",
        "info": "",
        "x": 210,
        "y": 820,
        "wires": []
    },
    {
        "id": "37feab15.469a44",
        "type": "comment",
        "z": "4c6874fb.68b9dc",
        "name": "Setting username to default name",
        "info": "",
        "x": 1830,
        "y": 1140,
        "wires": []
    },
    {
        "id": "65b589a2.4e3958",
        "type": "comment",
        "z": "4c6874fb.68b9dc",
        "name": "Processing other messages. Edit username or city or nothing",
        "info": "",
        "x": 2580,
        "y": 1400,
        "wires": []
    },
    {
        "id": "56b28ca1.adcfe4",
        "type": "comment",
        "z": "4c6874fb.68b9dc",
        "name": "Request message to enter a new username",
        "info": "",
        "x": 560,
        "y": 1400,
        "wires": []
    },
    {
        "id": "c8d9b4ad.8ef0e8",
        "type": "comment",
        "z": "4c6874fb.68b9dc",
        "name": "Request message to enter a city",
        "info": "",
        "x": 510,
        "y": 1580,
        "wires": []
    },
    {
        "id": "8b77eb06.056ff8",
        "type": "comment",
        "z": "4c6874fb.68b9dc",
        "name": "Request message to choose an occupation",
        "info": "",
        "x": 560,
        "y": 1780,
        "wires": []
    },
    {
        "id": "eb6872ba.76213",
        "type": "comment",
        "z": "276bc02d.e347",
        "name": "Message with main menu",
        "info": "",
        "x": 310,
        "y": 160,
        "wires": []
    },
    {
        "id": "afe778d0.9c5708",
        "type": "comment",
        "z": "276bc02d.e347",
        "name": "User data message",
        "info": "",
        "x": 310,
        "y": 360,
        "wires": []
    },
    {
        "id": "29b87cf7.8de694",
        "type": "debug",
        "z": "4c6874fb.68b9dc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1750,
        "y": 1480,
        "wires": []
    },
    {
        "id": "66c7218a.a9dc1",
        "type": "mysql",
        "z": "4c6874fb.68b9dc",
        "mydb": "529c4263.aeab0c",
        "name": "",
        "x": 1560,
        "y": 1440,
        "wires": [
            [
                "29b87cf7.8de694"
            ]
        ]
    },
    {
        "id": "32bc9488.39455c",
        "type": "function",
        "z": "4c6874fb.68b9dc",
        "name": "Changing username field",
        "func": "msg.topic = \"UPDATE Users SET username = '/editingField3252346' WHERE user_telegram_id = \" + msg.chat_id + \";\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1220,
        "y": 1440,
        "wires": [
            [
                "66c7218a.a9dc1"
            ]
        ]
    },
    {
        "id": "72b075f6.de4fcc",
        "type": "debug",
        "z": "4c6874fb.68b9dc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 3670,
        "y": 1700,
        "wires": []
    },
    {
        "id": "67e90bd9.a1e8c4",
        "type": "link out",
        "z": "dbbd86af.74c0d8",
        "name": "Setting up city",
        "links": [
            "b0af6159.780a4"
        ],
        "x": 1515,
        "y": 260,
        "wires": []
    },
    {
        "id": "15de1cc3.526003",
        "type": "comment",
        "z": "dbbd86af.74c0d8",
        "name": "Setting city",
        "info": "",
        "x": 1570,
        "y": 220,
        "wires": []
    },
    {
        "id": "fdda8f0f.cc87c",
        "type": "comment",
        "z": "dbbd86af.74c0d8",
        "name": "Start",
        "info": "",
        "x": 1550,
        "y": 760,
        "wires": []
    },
    {
        "id": "72e770f4.57eb7",
        "type": "dialogflowv2",
        "z": "dbbd86af.74c0d8",
        "dialogflow": "b513f9.a96b5c08",
        "language": "uk",
        "debug": false,
        "queryParamsOK": false,
        "x": 1160,
        "y": 1140,
        "wires": [
            [
                "fb926537.a7bc28"
            ]
        ]
    },
    {
        "id": "18b2d1dc.1da86e",
        "type": "inject",
        "z": "dbbd86af.74c0d8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "events",
                "v": "project_id: newagent-mjra,account_id: newagent-mjra@newagent-mjra.iam.gserviceaccount.com,privat_key: -----BEGIN PRIVATE KEY-----MIIEvwIBADANBgkqhkiG9w0BAQEFAASCBKkwggSlAgEAAoIBAQCWTMtQfEPVLWRKViG3iqLbsMY3t5yuL2BdHSB0wgXgs+oFX0zeG9Epqj200HVNijiLHe2igJBERzUnBvFXpkzQH+vss129QoKco+7o2nZCplO9V6HyXrPSnArFpAQOhpBGUTg2tU9NxVboT5BdQI5il/O5B3mQnEnIg6pCGR7HRPZvsMCc0fm+N41vVgeaPryBK2WJmyAmCe376xjT1bt1ugIUw2NAgphYdAy85eHIBQNo+0OHMPfDTWdo/TLwK0VtO34XC4Kh9smxEoNqxaAybXz+RR3f+PQNN8fMth+TjBp2/RK48hxV6OyGbhXTTjTf4SQi9CUTfsaClM4wbF/XAgMBAAECggEABjRmYky2+ip1DPKQUsTo4zvhevRcBf7TshRdPiSyXGvg+dbM1BB+6oLqKDhA13Ig0nFqWX6INiFgatuJBA7L9f2TXkKrWIBR5wiHeNpn7mlyZIslFt3c+5FQiocyWa0pcJWyxeNnQjUm2NFMCuV620wdliJeXN9u1lXFJhRmZmB8vSEFqV+AqWs0WOI0AKl0HgFH0oGvrFCS3PQQzv4QfYssN5UG2RUbcnc7HsM1I3CZQl6Zc6sOh6vVlz+0z93t/r2ltSGrP8iIGU5P1igSbAG9EycCql/IOJ1/OaMV75Wr+fQpSYJQ+MneM90j1kXMAKcfguXYgLUmvTY3YW8HDQKBgQDLaeeYbmIzVUxB1xHOjB56Xd+6hHPGi2zm8yLI5FcFQ5wjxF6MjxAZQ5TrWmZPUOhPgTvzU5T8tOIp6dTwYTiHsJDUAKnB5iyXiV/izzX9dW71iPEIzdIAme83+tkYEQjEQ5npevZ5VquXQc9TG0O0YWq2RXfWYS3os85zkS+q1QKBgQC9J8cYV5TpMN5CdJbWtVPNDAc5rtuKbclXUY23ZjXataxYNeBr8vougQH9kigmlQmeGQ8MnboleQYEYmlOkYcG6Thdp1rDGob6ZAcchKvTXdYqRBHRGItJ5bVMMxr/+KN0g+XPtqnikrklmpllPZZf5sWEhnJhqckKn8yXHl7d+wKBgQCAHZLFefiVtkqSSWAoxC3KCmgINLYqvdP4XfhxqQd6BExKZrraMp0EHIGl/kjj+eRndtEIf4Md6ttrZKA+Si1toPKG5GgG/O7m/poK41Fw8s7RDNArKF71C/8UNgUX2Fq6Ko289TpZ0BHA8a0f/dMVwCmS5YwF1S0yHFWSikYIhQKBgQCcZYZFhyy1flVW5yVMk5KdaEOVGxGkrE+cJe8h453Fnw7HxIwxVS4sQziNG0qdU/8mvBtoWAVwNFeYSnI9py/Ys/6J2PS/enB+GTSUDNIxKlYIjk2Y8E1CpW44eczqNf+YN/JMwwBGOQBiqigIwFpUIu/POobaX1K9uRClJlRT/wKBgQCeNeAMxljGtfgZ3Kx2783t8YFMqzKAHQSHZzUYCkGk64ml6hmt2o5yQ1KV/QTheNcnaOJkv5dNZwHi1PxGoRt1vmwxAIblaPTwMS8f2vzE0mGFgY5UzSJAeoreLv7dwHPaCH7NZhQ5voOON0FrdBuN8ABFJ+k4JP3d9XxPQiN2Tw==-----END PRIVATE KEY-----",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "керування продуктами іт - це",
        "payloadType": "str",
        "x": 900,
        "y": 1140,
        "wires": [
            [
                "72e770f4.57eb7"
            ]
        ]
    },
    {
        "id": "fb926537.a7bc28",
        "type": "debug",
        "z": "dbbd86af.74c0d8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1370,
        "y": 1140,
        "wires": []
    },
    {
        "id": "e3868559.4457b8",
        "type": "comment",
        "z": "dbbd86af.74c0d8",
        "name": "DialogFlow",
        "info": "",
        "x": 880,
        "y": 1100,
        "wires": []
    },
    {
        "id": "cc8aeb38.8caae8",
        "type": "switch",
        "z": "dbbd86af.74c0d8",
        "name": "Start or message",
        "property": "message",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "/start",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "message",
                "vt": "msg"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1030,
        "y": 840,
        "wires": [
            [
                "2cfd1290.cbdfde"
            ],
            [
                "51ec0c6.d7d05f4"
            ]
        ]
    },
    {
        "id": "4998b80c.ac3b18",
        "type": "function",
        "z": "4c6874fb.68b9dc",
        "name": "Is registration completed",
        "func": "msg.register = false;\n\nif (!msg.payload[0].username || msg.payload[0].username == '/editingField3252346') {\n    msg.text = \"Чи можу я до вас звертатися \" + msg.req.body.message.from.first_name + \" \" + msg.req.body.message.from.last_name + \"?\";\n    return [msg, null, null];\n} else if (!msg.payload[0].city || msg.payload[0].city == '/editingField3252346') {\n    return [null, msg, null];\n} else if (!msg.payload[0].occupation) {\n    msg.text = \"Для кращого підбору FAQ виберіть свій вид зайнятості\";\n    return [null, null, msg];\n}\nreturn [null, null, null];",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1050,
        "y": 820,
        "wires": [
            [
                "5faa08f6.5806b8"
            ],
            [
                "ce2794d2.a63448"
            ],
            [
                "8a07dd6e.fb122"
            ]
        ]
    },
    {
        "id": "ce2794d2.a63448",
        "type": "link out",
        "z": "4c6874fb.68b9dc",
        "name": "Setting up city",
        "links": [
            "b0af6159.780a4"
        ],
        "x": 1305,
        "y": 820,
        "wires": []
    },
    {
        "id": "8a07dd6e.fb122",
        "type": "link out",
        "z": "4c6874fb.68b9dc",
        "name": "Setting up occupation",
        "links": [
            "4b1be78d.e0a2d8"
        ],
        "x": 1315,
        "y": 880,
        "wires": []
    },
    {
        "id": "3b4b92dd.73262e",
        "type": "change",
        "z": "dbbd86af.74c0d8",
        "name": "Setting up bot parameters",
        "rules": [
            {
                "t": "set",
                "p": "ngrokUrl",
                "pt": "global",
                "to": "https://768b157b38a1.ngrok.io",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "token",
                "pt": "global",
                "to": "1627203627:AAFFocOTNWGlOcC2ZFncWr6qRF01t8U63Uw",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 80,
        "wires": [
            [
                "dd86135f.e7b04"
            ]
        ]
    },
    {
        "id": "dd86135f.e7b04",
        "type": "change",
        "z": "dbbd86af.74c0d8",
        "name": "Setting up bot url",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "\"https://api.telegram.org/bot\" & $globalContext('token') & \"/setWebhook?url=\" & $globalContext('ngrokUrl') & \"/bot\"",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 80,
        "wires": [
            [
                "da0d125b.5e9c9"
            ]
        ]
    },
    {
        "id": "f3d823dd.652a5",
        "type": "comment",
        "z": "dbbd86af.74c0d8",
        "name": "Setting up webhook",
        "info": "",
        "x": 110,
        "y": 40,
        "wires": []
    },
    {
        "id": "5999f0ff.2e8d1",
        "type": "change",
        "z": "4c6874fb.68b9dc",
        "name": "Setting up bot url",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "\"https://api.telegram.org/bot\" & $globalContext('token') & \"/sendMessage\"",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 990,
        "y": 520,
        "wires": [
            [
                "8e7ab7c0.360748"
            ]
        ]
    },
    {
        "id": "8e7ab7c0.360748",
        "type": "http request",
        "z": "4c6874fb.68b9dc",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "basic",
        "x": 1210,
        "y": 520,
        "wires": [
            [
                "5faa08f6.5806b8"
            ]
        ]
    },
    {
        "id": "a018aad3.00f5b8",
        "type": "change",
        "z": "4c6874fb.68b9dc",
        "name": "Setting up bot url",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "\"https://api.telegram.org/bot\" & $globalContext('token') & \"/sendMessage\"",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1270,
        "y": 660,
        "wires": [
            [
                "68aa0b69.50b3b4"
            ]
        ]
    },
    {
        "id": "68aa0b69.50b3b4",
        "type": "http request",
        "z": "4c6874fb.68b9dc",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "basic",
        "x": 1490,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "43311317.c47cbc",
        "type": "change",
        "z": "4c6874fb.68b9dc",
        "name": "Setting up bot url",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "\"https://api.telegram.org/bot\" & $globalContext('token') & \"/sendMessage\"",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 910,
        "y": 1360,
        "wires": [
            [
                "92637f74.5e822"
            ]
        ]
    },
    {
        "id": "92637f74.5e822",
        "type": "http request",
        "z": "4c6874fb.68b9dc",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "basic",
        "x": 1130,
        "y": 1360,
        "wires": [
            [
                "32bc9488.39455c"
            ]
        ]
    },
    {
        "id": "6a53e132.9350f",
        "type": "change",
        "z": "4c6874fb.68b9dc",
        "name": "Setting up bot url",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "\"https://api.telegram.org/bot\" & $globalContext('token') & \"/sendMessage\"",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 1540,
        "wires": [
            [
                "bf0c0f6b.64b0c"
            ]
        ]
    },
    {
        "id": "bf0c0f6b.64b0c",
        "type": "http request",
        "z": "4c6874fb.68b9dc",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "basic",
        "x": 1090,
        "y": 1540,
        "wires": [
            [
                "6d50e6ea.4d4118"
            ]
        ]
    },
    {
        "id": "146e7f83.4f883",
        "type": "change",
        "z": "4c6874fb.68b9dc",
        "name": "Setting up bot url",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "\"https://api.telegram.org/bot\" & $globalContext('token') & \"/sendMessage\"",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1070,
        "y": 1820,
        "wires": [
            [
                "ce5c98ca.af1e88"
            ]
        ]
    },
    {
        "id": "ce5c98ca.af1e88",
        "type": "http request",
        "z": "4c6874fb.68b9dc",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "basic",
        "x": 1290,
        "y": 1820,
        "wires": [
            []
        ]
    },
    {
        "id": "59a40707.d376b8",
        "type": "change",
        "z": "4c6874fb.68b9dc",
        "name": "Setting up bot url",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "\"https://api.telegram.org/bot\" & $globalContext('token') & \"/sendMessage\"",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3330,
        "y": 1660,
        "wires": [
            [
                "67272de2.58cc54"
            ]
        ]
    },
    {
        "id": "67272de2.58cc54",
        "type": "http request",
        "z": "4c6874fb.68b9dc",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "basic",
        "x": 3550,
        "y": 1660,
        "wires": [
            [
                "72b075f6.de4fcc"
            ]
        ]
    },
    {
        "id": "3273b3c6.f9879c",
        "type": "change",
        "z": "276bc02d.e347",
        "name": "Setting up bot url",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "\"https://api.telegram.org/bot\" & $globalContext('token') & \"/sendMessage\"",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 180,
        "wires": [
            [
                "13477f2f.d7c451"
            ]
        ]
    },
    {
        "id": "13477f2f.d7c451",
        "type": "http request",
        "z": "276bc02d.e347",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "basic",
        "x": 970,
        "y": 180,
        "wires": [
            [
                "40e61f8e.273bb"
            ]
        ]
    },
    {
        "id": "5065649.600e19c",
        "type": "change",
        "z": "276bc02d.e347",
        "name": "Setting up bot url",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "\"https://api.telegram.org/bot\" & $globalContext('token') & \"/sendMessage\"",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1290,
        "y": 380,
        "wires": [
            [
                "53e2b68b.f346d8"
            ]
        ]
    },
    {
        "id": "53e2b68b.f346d8",
        "type": "http request",
        "z": "276bc02d.e347",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "basic",
        "x": 1510,
        "y": 380,
        "wires": [
            [
                "b9256fa9.4718f"
            ]
        ]
    }
]